{#{% extends 'form_div_layout.html.twig' %}#}

{% block file_widget %}
    {% spaceless %}

        {{ block('form_widget') }}
        </br>
        {% if file_url is defined and file_url is not empty %}
            Download: <a href="{{ asset(file_url) }}">{{ file_name }}</a>
        {% endif %}

    {% endspaceless %}
{% endblock %}

{% block customdate_widget -%}

        {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-inline')|trim}) -%}
        {% if datetime is not defined or not datetime -%}
            <div {{ block('widget_container_attributes') -}}>
        {%- endif %}
        {{- date_pattern|replace({
            '{{ year }}': form_widget(form.year),
            '{{ month }}': form_widget(form.month),
            '{{ day }}': form_widget(form.day),
        })|raw -}}
        {% if datetime is not defined or not datetime -%}
            </div>
        {%- endif -%}

{%- endblock customdate_widget %}