{%- block widget_attributes -%}
    id="{{ id }}" name="{{ full_name }}"
    {% if name=="Driver" %}
        ng-model="cheque.driver_pid"
    {% elseif name=="PayCode" %}
        ng-model="cheque.paycode_pid"
    {% else %}
        ng-model="cheque.{{ name }}"
    {% endif %}
    {%- if disabled %} disabled="disabled"{% endif -%}
    {%- if required %} required="required"{% endif -%}
    {{ block('attributes') }}
{%- endblock widget_attributes -%}