.probill-row{
    margin-bottom: 20px;
}


.probill-section{
    border: 1px solid grey;
    padding: 10px;
    margin-bottom: 10px;
}

.bold{
    font-weight: bold;
}

.big {
    font-weight: bold;
    font-size: 160%;
}

.probill_form .blueinput {
    background-color:#428BCA !important;
    color: black !important;
}

.redbold{
    color: red;
    font-weight: bold;
    font-size: 110%;
}

#probills_details, #probills_comments{
    height: 100px;
}

#probills_comments{
    background-color: #ede8c4;
}

.background-blue{
    background-color: #cececc;
    margin-left: 20px;
}

.date-element{
    padding: 0px;
}

.correction_form .row{
    margin-bottom: 10px;

}

.yellow input {
    background: yellow;
}
.grey input. , grey select {
    background: grey;
}

#currentProbill{
    width: 70px;
    height: 30px;
}

.popupform .row{
    margin-bottom: 10px;
}

.image_placeholder {
    border: 1px solid red;
}
.image_placeholder img{
    width: 100%;
    height: 100%;
}
