{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}
{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
{% block content %}

    <h1>Vehicle Type edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
    <ul class="list-inline">
        <li>
            <input type="submit" value="Save" class="btn btn-primary" />
        </li>
        <li>
            <a href="{{ path('vehtypes_index') }}" class="btn btn-default">Back to the list</a>
        </li>
    </ul>
    {{ form_end(edit_form) }}


{% endblock %}
