<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Vehdesc</th>
        <th>Vehclass</th>
        <th>Ctyfsrate</th>
        <th>Hwyfsrate</th>
        <th>Vehcode</th>
        <th>Type</th>
        <th>Active</th>
    </tr>
    </thead>
    <tbody>
    {% for vehtype in vehtypes %}
        <tr>
            <td><a href="{{ path('vehtypes_show', { 'id': vehtype.id }) }}">{{ vehtype.id }}</a></td>
            <td>{{ vehtype.vehdesc }}</td>
            <td>{{ vehtype.vehclass }}</td>
            <td>{{ vehtype.ctyfsrate }}</td>
            <td>{{ vehtype.hwyfsrate }}</td>
            <td>{{ vehtype.vehcode }}</td>
            <td>{{ vehtype.type }}</td>
            <td>{% if vehtype.active %}Yes{% else %}No{% endif %}</td>


        </tr>
    {% endfor %}
    </tbody>
</table>
