{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12 widget-box">
            <div class="widget-header widget-header-large">
                <h4 class="widget-title">Vehtypes list</h4>
                <div class="widget-toolbar"><a href="{{ path('user_export') }}" class="btn btn-yellow">Export To Xsl</a><a
                            href="{{ path('user_new') }}" class="btn btn-primary">Create a new User</a></div>
            </div>
            <div class="widget-body">
                <div class="widget-main">


                    <table>
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Vehdesc</th>
                            <th>Vehclass</th>
                            <th>Ctyfsrate</th>
                            <th>Hwyfsrate</th>
                            <th>Vehcode</th>
                            <th>Type</th>
                            <th>Active</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for vehtype in vehtypes %}
                            <tr>
                                <td><a href="{{ path('vehtypes_show', { 'id': vehtype.id }) }}">{{ vehtype.id }}</a>
                                </td>
                                <td>{{ vehtype.vehdesc }}</td>
                                <td>{{ vehtype.vehclass }}</td>
                                <td>{{ vehtype.ctyfsrate }}</td>
                                <td>{{ vehtype.hwyfsrate }}</td>
                                <td>{{ vehtype.vehcode }}</td>
                                <td>{{ vehtype.type }}</td>
                                <td>{% if vehtype.active %}Yes{% else %}No{% endif %}</td>
                                <td>
                                    <ul>
                                        <li>
                                            <a href="{{ path('vehtypes_show', { 'id': vehtype.id }) }}">show</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('vehtypes_edit', { 'id': vehtype.id }) }}">edit</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <ul>
        <li>
            <a href="{{ path('vehtypes_new') }}">Create a new vehtype</a>
        </li>
    </ul>
{% endblock %}
