{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vehtype</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vehtype.id }}</td>
            </tr>
            <tr>
                <th>Vehdesc</th>
                <td>{{ vehtype.vehdesc }}</td>
            </tr>
            <tr>
                <th>Vehclass</th>
                <td>{{ vehtype.vehclass }}</td>
            </tr>
            <tr>
                <th>Ctyfsrate</th>
                <td>{{ vehtype.ctyfsrate }}</td>
            </tr>
            <tr>
                <th>Hwyfsrate</th>
                <td>{{ vehtype.hwyfsrate }}</td>
            </tr>
            <tr>
                <th>Vehcode</th>
                <td>{{ vehtype.vehcode }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ vehtype.type }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{% if vehtype.active %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Short_type</th>
                <td>{{ vehtype.shorttype }}</td>
            </tr>
            <tr>
                <th>Prg</th>
                <td>{{ vehtype.prg }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vehtypes_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('vehtypes_edit', { 'id': vehtype.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
