{% set apicall=app.request.getSchemeAndHttpHost()~"/api/vehtype/all" %}

var app = angular.module('probillApp', [ 'ngTouch', 'ngAnimate', 'ui.grid', 'ui.grid.moveColumns', 'ui.grid.resizeColumns', 'ui.grid.selection', 'ui.grid.expandable', 'ui.bootstrap', 'ui.grid.pinning']);


app.config(function ($interpolateProvider) {
    $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
});

app.controller('probillCtrl', ['$scope', '$http', '$log', '$timeout', 'uiGridConstants', '$q',  function ($scope, $http, $log, $timeout, uiGridConstants, $q) {
    $scope.gridOptions = {
        enableSorting: true,
        showGridFooter: true,
        showGridHeader: true,
        enableFiltering: true,
        enableRowSelection: true,
        enableSelectAll: true,
        selectionRowHeaderWidth: 35,
        enableColumnResizing: true,
    };
    $scope.gridOptions.multiSelect = true;
    $scope.gridOptions.columnDefs = [

        {
            name: 'vehdesc',
            displayName: 'Vehicle Type Description',
            enableColumnResizing: true,
            width: 100,
        },
        {
            name: 'vehclass',
            displayName: 'Vehicle Type Amount',
            enableColumnResizing: true,
            width: 100,
        },
        {
            name: 'ctyfsrate',
            displayName: 'City Rate',
            enableColumnResizing: true,
            width: 100,
        },
        {
            name: 'hwyfsrate',
            displayName: 'City Rate',
            enableColumnResizing: true,
            width: 100,
        },
        {
            name: 'vehcode',
            displayName: 'Vehicle Type Code',
            enableColumnResizing: true,
            width: 150,
        },
        {
            name: 'is_active',
            enableColumnResizing: true,
            cellTemplate: '<span class="{[{row.entity.is_active}]}" >{[{row.entity.is_active}]}</span>',
            width: 100,
        },
        {
            name: 'Actions',
            width: 120,
            enableColumnMenu: false,
            enableSorting: false,
            enableFiltering: false,
            cellTemplate: '<a href="{{ app.request.getSchemeAndHttpHost() }}/admin/vehtypes/{[{row.entity.id}]}/edit"  data-toggle="tooltip" title="Edit" class="btn btn-mini btn-warning">Edit</a><span ng-if="row.entity.active"><a  href=#"  ng-click="grid.appScope.deactivate(row.entity.id,row.entity.index)"  class="btn btn-mini btn-danger"  data-toggle="tooltip" title="Deactivate">Deactivate</span></a><span ng-if="!row.entity.active"><a ng-click="grid.appScope.activate(row.entity.id,row.entity.index)" href=#" class="btn btn-mini btn-success"  data-toggle="tooltip" title="Activate">Activate</a></span>'
            //cellTemplate: ''
        }
    ];
    $scope.selected = {};
    $scope.animationsEnabled = true;

    var canceler = $q.defer();

    var apicall = function () {
        $http.get('{{ apicall }}', {timeout: canceler.promise})
                .success(function (data) {
                    $scope.selected = [];
                    angular.forEach(data, function (row, index) {
                        row.index = index + 1;
                    })
                    $scope.gridOptions.data = data;
                    console.log(data)
                });
    };
    apicall();
    $scope.gridOptions.onRegisterApi = function (gridApi) {
        //set gridApi on scope
        $scope.gridApi = gridApi;

        gridApi.selection.on.rowSelectionChanged($scope, function (row) {
            var msg = 'row selected ' + row.isSelected;

            $scope.selected[row.entity.index] = row.entity.id;
            console.log($scope.selected);
        });

        gridApi.selection.on.rowSelectionChangedBatch($scope, function (rows) {
            var msg = 'rows changed ' + rows.length;
            angular.forEach(rows, function (value, key) {
                $scope.selected[value.entity.index] = value.entity.id;
            });
            console.log($scope.selected);
        });
    };
    $scope.deactivate = function (id,index) {
        console.log($scope.selected);
        ids = JSON.stringify($scope.selected);
        if(id>0) {
            ids=id;
        }
        $http.post('{{ path("vehtypes_deactivate") }}', {'data': ids})
                .success(function (data) {

                    angular.forEach($scope.selected, function (value, key) {
                        $log.log(key + ': ' + value);
                        $scope.gridOptions.data[key - 1].is_active = "Inactive";
                    });
                    if(index>0) {
                        $scope.gridOptions.data[index - 1].is_active = "Inactive";
                    }
                    $scope.selected = []
                    $scope.gridApi.selection.clearSelectedRows();
                    apicall();
                });

    }



    $scope.activate = function (id,index) {
        console.log($scope.selected);
        ids = JSON.stringify($scope.selected);
        if(id>0) {
            ids=id;
        }
        $http.post('{{ path("vehtypes_activate") }}', {'data': ids})
                .success(function (data) {
                    angular.forEach($scope.selected, function (value, key) {
                        $log.log(key + ': ' + value);
                        $scope.gridOptions.data[key - 1].is_active = "Active";
                    });
                    if(index>0) {
                        $scope.gridOptions.data[index - 1].is_active = "Active";
                    }
                    $scope.selected = []
                    $scope.gridApi.selection.clearSelectedRows();
                    apicall();
                });
    }

    $scope.$on('$destroy', function () {
        canceler.resolve();  // Aborts the $http request if it isn't finished.
    });
}]);
