
<table width="100%" class="drivers">
            {% for key,driver in data %}
                {% if driver is not empty %}

                    {% include "NumaCCCAdminBundle:report:driverDetails/driver.html.twig" %}
                {% endif %}
            {% endfor %}
</table>
