{% if key is not empty %}
<tr>
    <td class="column1" colspan="17">Driver Name: {{ key }}</td>
</tr>
<tr>
    <th width="5cm">Date</th>
    <th width="7cm">Waybill</th>
    <th width="7cm">Cust</th>
    <th width="2cm">Pce</th>
    <th width="2cm">Wgt</th>
    <th width="5cm">Shipper</th>
    <th width="5cm">Receiver</th>
    <th width="2cm">Trip Gross</th>
    <th width="2cm">Drv % Rate</th>
    <th width="2cm">Drv Total of Rate</th>
    <th width="2cm">Drv % of FS</th>
    <th width="2cm">Drv Total of FS</th>
    <th width="2cm">Total Pay</th>
    <th>Serv</th>
    <th>Vc</th>
    <th width="10%" style="word-wrap: break-word;">Comments</th>
    <th>Initials</th>
</tr>
{% set driverid = "" %}
    {% set driver_total = 0 %}
    {% set driver_driver_total = 0 %}
    {% set driver_custsurchargeamt = 0 %}
    {% set driver_drivertotal = 0 %}
    {% set driver_wgt = 0 %}
    {% set driver_pce = 0 %}
    {% for keyday,day in driver %}

        {% set total = 0 %}
        {% set d_total = 0 %}
        {% set driverSurcharge = 0 %}
        {% set drivertotal = 0 %}

        {% for probillid,probill in day %}
            {% if probillid!="total" and probill.total>0 %}
                {% set driverid = probill.drivernum %}
                {% set total = total  + probill.total %}
                {% set d_total = d_total  + (probill.total * probill.drivrate) %}
                {% set driverSurcharge = driverSurcharge  + probill.driversurcharge %}
                {% set drivertotal = drivertotal  + probill.drvTotal %}

                {% set driver_total = driver_total  + probill.total %}
                {% set driver_driver_total = driver_driver_total  + (probill.total * probill.drivrate) %}
                {% set driver_custsurchargeamt = driver_custsurchargeamt  + probill.custsurchargeamt %}
                {% set driver_drivertotal = driver_drivertotal  + probill.drvTotal %}
                {% set driver_pce = probill.pce  + driver_pce %}
                {% set driver_wgt = probill.wgt  + driver_wgt %}


                <tr>
                    <td>{{ keyday }}</td>
                    <td>{{ probillid }}</td>
                    <td>{{ probill.custcode }}</td>
                    <td>{{ probill.pce }}</td>
                    <td>{{ probill.wgt }}</td>
                    <td>{{ probill.shipper }}</td>
                    <td>{{ probill.receiver }}</td>
                    <td>{{ probill.total }}</td>
                    <td>{{ probill.drivrate }}</td>
                    <td>{{ probill.total * probill.drivrate }}</td>
                    <td>{{ probill.drvsurrate }}</td>
                    <td>{{ probill.driversurcharge }}</td>
                    <td>{{ probill.drvTotal }}</td>
                    <td>{{ probill.servType }}</td>
                    <td>{{ probill.vehcode }}</td>
                    <td>{{ probill.details|slice(1,100) }}</td>
                    <td>{{ probill.user_id }}</td>
                </tr>
            {% endif %}

        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="column1" colspan="2"><b>Total for the day:</b></td>
            <td><b>{{ total }}</b></td>
            <td></td>
            <td></td>
            <td><b>{{ d_total }}</b></td>
            <td><b>{{ driverSurcharge }}</b></td>
            <td><b>{{ drivertotal }}</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    {% endfor %}
<tr>
    <td colspan="3"><b>Total for the Driver# {{ driverid }} </b></td>
    <td><b>{{ driver_pce }}</b></td>
    <td><b>{{ driver_wgt }}</b></td>
    <td></td>
    <td></td>
    <td><b>{{ driver_total }}</b></td>
    <td></td>
    <td><b>{{ driver_driver_total }}</b></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
{% endif %}