{% if key is not empty %}
    <thead>
    <tr>
        <th class="column1" colspan="17">Driver Name: {{ key }}  </th>
    </tr>
    <tr class="header" style="text-align: left">
        <th width="2cm">Date</th>
        <th width="2cm">Waybill</th>
        <th width="2cm">Cust</th>
        <th width="1cm">Pce</th>
        <th width="1cm">Wgt</th>

        <th width="5cm">Shipper</th>
        <th width="5cm">Receiver</th>
        <th width="2cm">Trip Gross</th>
        <th width="2cm">Drv % Rate</th>
        <th width="2cm">Drv Total of Rate</th>

        <th width="2cm">Drv % of FS</th>
        <th width="2cm">Drv Total of FS</th>
        <th width="2cm">Total Pay</th>
        <th>Serv</th>
        <th>Vc</th>

        <th width="10%" style="word-wrap: break-word;">Comments</th>
        <th>Initials</th>
    </tr>
    </thead>
    <tbody>

    {% set driverid = "" %}
    {% set driver_total = 0 %}
    {% set driver_driver_total = 0 %}
    {% set driver_custsurchargeamt = 0 %}
    {% set driver_drivertotal = 0 %}
    {% set driver_driverSurcharge = 0 %}
    {% set driver_wgt = 0 %}
    {% set driver_pce = 0 %}
    {% for keyday,day in driver %}

        {% set total = 0 %}
        {% set probill_trip_gross = 0 %}
        {% set d_total = 0 %}
        {% set driverSurcharge = 0 %}
        {% set drivertotal = 0 %}

        {% for probillid,probill in day %}
            {% if probillid!="total" %}
                {% set driverid = probill.drivernum %}

                {% set probill_trip_gross = (probill.rateAmt+probill.extraAmt+probill.rushAmt+probill.waitchrg) %}
                {% set total = total  + probill_trip_gross %}
                {% set d_total = d_total  + (probill_trip_gross * probill.drivrate) %}
                {% set driverSurcharge = driverSurcharge  + probill.driversurcharge %}
                {% set drivertotal = drivertotal  + probill.drvTotal %}

                {% set driver_total = driver_total  + probill_trip_gross %}
                {% set driver_driver_total = driver_driver_total  + (probill_trip_gross * probill.drivrate) %}
                {% set driver_custsurchargeamt = driver_custsurchargeamt  + probill.custsurchargeamt %}
                {% set driver_driverSurcharge = driver_driverSurcharge  + probill.driversurcharge %}
                {% set driver_drivertotal = driver_drivertotal  + probill.drvTotal %}
                {% set driver_pce = probill.pce  + driver_pce %}
                {% set driver_wgt = probill.wgt  + driver_wgt %}


                <tr>
                    <td>{{ keyday }}</td>
                    <td>{{ probill.waybill }}</td>
                    <td>{{ probill.custcode }}</td>
                    <td>{{ probill.pce }}</td>
                    <td>{{ probill.wgt }}</td>

                    <td>{{ probill.shipper }}</td>
                    <td>{{ probill.receiver }}</td>
                    <td>{{ probill_trip_gross|number_format(2, '.', ',') }}</td>
                    <td>{{ probill.drivrate }}</td>
                    <td>{{ (probill_trip_gross * probill.drivrate)|number_format(2, '.', ',') }}</td>

                    <td>{{ probill.drvsurrate }}</td>
                    <td>{{ probill.driversurcharge|number_format(2, '.', ',') }}</td>
                    <td>{{ probill.drvTotal|number_format(2, '.', ',') }}</td>
                    <td>{{ probill.servType }}</td>
                    <td>{{ probill.vehcode }}</td>
                    {#<td>{{ probill.details|slice(0,30) }}</td>#}
                    <td>{{ probill.details|replace({'/': '/ ', ',': ', '})|replace({'  ': ' '})|slice(0,30) }}</td>
                    <td>{{ probill.initials }}</td>
                </tr>
            {% endif %}

        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

            <td class="column1" colspan="2"><b>Total for the day:</b></td>
            <td><b>{{ total|number_format(2, '.', ',') }}</b></td>
            <td></td>
            <td><b>{{ d_total|number_format(2, '.', ',') }}</b></td>

            <td><b></b></td>
            <td><b>{{ driverSurcharge|number_format(2, '.', ',') }}</b></td>
            <td><b>{{ drivertotal|number_format(2, '.', ',') }}</b></td>
            <td></td>
            <td></td>

            <td></td>
            <td></td>
        </tr>
    {% endfor %}
    <tr>
        <td colspan="3"><b>Total for the Driver# {{ driverid }} </b></td>
        <td><b>{{ driver_pce }}</b></td>
        <td><b>{{ driver_wgt }}</b></td>

        <td></td>
        <td></td>
        <td><b>{{ driver_total|number_format(2, '.', ',') }}</b></td>
        <td></td>
        <td><b>{{ driver_driver_total|number_format(2, '.', ',') }}</b></td>

        <td></td>
        <td><b>{{ driver_driverSurcharge|number_format(2, '.', ',') }}</b></td>
        <td><b>{{ (driver_driver_total+driver_driverSurcharge)|number_format(2, '.', ',') }}</b></td>
        <td></td>
        <td></td>

        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="7">
            <br>
            <br>
            <br>
            <br>
            If you have any questions, please see Heather at front reception
        </td>
    </tr>
    <tr>
        <td colspan="17">
            {% include "NumaCCCAdminBundle:report:vehTypesTable.html.twig" %}
        </td>
    </tr>

    </tbody>


{% endif %}