<html>
<head>
    <style>
        .newpage {
            page-break-after: always;
        }
        tr.header th {
            text-align: left;
            font-size: 12pt;
        }
        .column1 {
            font-size: 14pt;
        }
        .vehcodes {
            font-size: 7pt;
            page-break-inside: avoid;
            width: 100%;

        }
        .newpage  {
            page-break-after: always;

        }
    </style>
</head>
<body>
