{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12 widget-box">
            <div class="widget-header widget-header-large">
                <h4 class="widget-title">Report: {{ report }}</h4>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <div id="flashmsg"></div>
                    <table class="records_list table  table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Started</th>
                            <th>Closed</th>
                            <th>Working_days</th>

                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for billingPeriod in billingPeriods %}

                            <tr>
                                <td>
                                    <a href="{{ path('billingperiod_edit', { 'id': billingPeriod.id }) }}">{{ billingPeriod.id }}</a>
                                </td>
                                <td>{{ billingPeriod.name }}</td>
                                <td>{% if billingPeriod.started %}{{ billingPeriod.started|date('Y-m-d') }}{% endif %}</td>
                                <td>{% if billingPeriod.closed %}{{ billingPeriod.closed|date('Y-m-d') }}{% endif %}</td>
                                <td>{{ billingPeriod.workingdays }}</td>


                                <td>
                                    <ul class="list-inline">
                                        <li>
                                            <a class="btn btn-success"
                                               href="{{ path('report_generate_driver_details_billing_period', { 'billing_period': billingPeriod.id }) }}">Generate</a>
                                        </li>
                                        <li>
                                            <a class="btn btn-danger"
                                               href="{{ path('report_render_pdf_driver_details_billing_period', { 'billing_period': billingPeriod.id }) }}">
                                                <i class="fa fa-file-pdf-o"></i> PDF</a>
                                        </li>
                                        <li>
                                            <a class="btn btn-primary"
                                               href="{{ path('report_render_xls_driver_details_billing_period', { 'billing_period': billingPeriod.id }) }}">
                                                <i class="fa fa-file-excel-o"></i> XLS</a>
                                        </li>
                                        <li>

                                            {#{% set mediaXLS=mediaService.getDriverDetailPpdfReportForBillingPeriod(billingPeriod) %}#}
                                            {#{{ dump(mediaPdf) }}#}
                                            {#{{ dump(mediaXls) }}#}
                                            <div>PDF :
                                                {% set mediaPdf = mediaService.getDriverDetailReportForBillingPeriod(billingPeriod,'pdf') %}

                                                <div id="progress_pdf_{{ billingPeriod.id }}">
                                                    {% if commandLogs[billingPeriod.id]['pdf'] is empty %}
                                                    {% elseif commandLogs[billingPeriod.id]['pdf'].status=='finished' %}
                                                        <span class="label label-success">FINISHED at {% if mediaPdf is defined and mediaPdf is not empty %}
                                                                {{ mediaPdf.dateCreated|date("Y-m-d H:i:s") }}
                                                            {% endif %}</span>
                                                    {% elseif commandLogs[billingPeriod.id]['pdf'].status=='started' %}
                                                        <span class="label label-danger">Generating...</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div>XLS :
                                                {% set mediaXls = mediaService.getDriverDetailReportForBillingPeriod(billingPeriod,'xls') %}


                                                <div id="progress_xls_{{ billingPeriod.id }}">
                                                    {% if commandLogs[billingPeriod.id]['xls'] is empty %}
                                                    {% elseif commandLogs[billingPeriod.id]['xls'].status=='finished' %}
                                                        <span class="label label-success">FINISHED at {% if mediaXls is defined and mediaXls is not empty %}
                                                                {{ mediaXls.dateCreated|date("Y-m-d H:i:s") }}
                                                            {% endif %}</span>
                                                    {% elseif commandLogs[billingPeriod.id]['xls'].status=='started' %}
                                                        <span class="label label-danger">Generating...</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        function get_progress() {
            var feedback = $.ajax({
                type: "POST",
                dataType: 'JSON',
                url: "{{ path('report_driver_detail_progress') }}",
                async: false
            }).complete(function () {
                setTimeout(function () {
                    get_progress();
                }, 5000);
            }).responseText;
//        console.log(feedback)
//        console.log(feedback.length)
            if (feedback) {
                var jsonObj = JSON.parse(feedback);

                console.log(jsonObj)
                $.each(jsonObj, function (i, item) {
                    console.log(i)
                    console.log(item.pdf)
                    console.log(item.xls)
                    if(item.pdf.status=='finished'){
                        $('#progress_pdf_'+i).html('<span class="label label-success">FINISHED at '+item.pdf.ended_at.substring(0,19)+'</span>');
                    }else if(item.pdf.status=='started'){
                        $('#progress_pdf_'+i).html('<span class="label label-danger">Generating...</span>');
                    }
                    if(item.xls.status=='finished'){
                        $('#progress_xls_'+i).html('<span class="label label-success">FINISHED at '+item.xls.ended_at.substring(0,19)+'</span>');
                    }else if(item.pdf.status=='started'){
                        $('#progress_xls_'+i).html('<span class="label label-danger">Generating...</span>');
                    }
                });
            }
        }
        $(function () {
            get_progress();

        });
    </script>
{% endblock %}

