<html>
<head>
    <style>
        {% include "NumaCCCAdminBundle:report:driverDetails/styles.css.twig" %}

    </style>
</head>
<body>


{% include "NumaCCCAdminBundle:report:header.pdf.twig" %}
<table width="100%" class="drivers">
            {% for key,driver in data %}
                {% if driver is not empty %}

                    {% include "NumaCCCAdminBundle:report:driverDetails/driver.html.twig" %}
                {% endif %}
            {% endfor %}
</table>
</body>
</html>