{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}
{% block content %}
    <div class="row">
        <div class="widget-box">
            <div class="widget-header widget-header-large">
                <h4 class="widget-title">Cheques for all driver for the billing period from <b>{{ billingPeriod.started|date("d/m/y") }}</b> to <b>{{ billingPeriod.closed|date("d/m/y") }}</b></h4>
            </div>
            <div class="widget-body">
                <div class="col-md-4">
                    <ul class="list-unstyled">
                    {% for driver in drivers %}
                        <li class="col-md-6"><a href="#">{{ driver.drivernum }} - {{ driver.drivernam }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="col-md-10"></div>
            </div>
        </div>
    </div>
{% endblock %}
