{% form_theme form with ['bootstrap_3_horizontal_layout.html.twig' , 'Form/ng-cheque.html.twig'] %}

{{ form_start(form) }}
<div class="widget-box transparent ui-sortable-handle">
    <div class="widget-header">
        <h5 class="widget-title">Billing Period: <b>{{ pay_period.started|date("d/m/y") }}</b>
            to <b>{{ pay_period.closed|date("d/m/y") }}</b></h5>
    </div>
    <div class="widget-body">
        <div class="widget-main">
            <div class="row">

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label col-md-4">Cheque Date</label>
                        <div class="col-md-8">{{ form_widget(form.cheque_date) }}</div>
                    </div>
                    <div class="">Cheque Date</div>
                    {{ form_errors(form.cheque_date) }}
                    <div class="col-md-4 date-element">
                        {{ form_widget(form.cheque_date.month,{'attr':{'autofocus':'autofocus','ng-model':'cheque.month','class':'date-element','tabindex':1}}) }}
                    </div>
                    <div class="col-md-4 date-element">
                        {{ form_widget(form.cheque_date.day,{'attr':{'ng-model':'cheque.day','class':'date-element','tabindex':2}}) }}
                    </div>
                    <div class="col-md-4 date-element">
                        {{ form_widget(form.cheque_date.year,{'attr':{'ng-model':'cheque.year','class':'date-element','tabindex':3}}) }}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label col-md-4">Payehe</label>
                        <div class="col-md-8">{{ form_widget(form.Driver,{'attr':{'ng-model':'cheque.driver_pid'}}) }}</div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label col-md-4">Cheque #</label>
                        <div class="col-md-8">{{ form_widget(form.check_num) }}</div>
                    </div>

                </div>
                <div class="col-md-3">
                    <a class="btn btn-primary  pull-right" href="{{ path("cheque_print_cheque") }}?cheque={[{currentId}]}">Print Cheque</a>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="widget-box transparent">
    <div class="widget-header">
        <h5 class="widget-title">Gross</h5>
    </div>

    <div class="widget-body">
        <div class="widget-main">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-3">Misc Credit Description:</label>
                        <div class="col-md-9">{{ form_widget(form.misc_pay_desc) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            Please make sure WCB Pay code is 0 in setup file if not calculatingg WCB  Rates </br>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label col-md-9">Lump Sum Amount</label>
                        <div class="col-md-3">{{ form_widget(form.lump_sum_pay_amt) }}</div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label col-md-6">Pay Code</label>
                        <div class="col-md-6">{{ form_widget(form.PayCode) }}</div>
                    </div>
                </div>
                <div class="col-md-2">
                    WCB Rate:<span id="WCBRate"></span>
                </div>
                <div class="col-md-2">
                    WCB Rate Value:<span id="WCBRateValue"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="widget-box transparent">
    <div class="widget-header">
        <h5 class="widget-title">Deduction</h5>
    </div>

    <div class="widget-body">
        <div class="widget-main">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label col-md-8">WCB</label>
                        <div class="col-md-4">{{ form_widget(form.wcb) }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-8">Contract</label>
                        <div class="col-md-4">{{ form_widget(form.contract) }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-8">Social Fund</label>
                        <div class="col-md-4">{{ form_widget(form.social_fund) }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-8">Advance Amount</label>
                        <div class="col-md-4">{{ form_widget(form.advance) }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-8">Advance Fee (GST Included)</label>
                        <div class="col-md-4">{{ form_widget(form.advance_fee) }}</div>
                    </div>
                    {#<div class="form-group">#}
                        {#<label class="control-label col-md-8">Fuel with GST</label>#}
                        {#<div class="col-md-4">{{ form_widget(form.fuel_gst) }}</div>#}
                    {#</div>#}
                    <div class="form-group">
                        <label class="control-label col-md-8">Fuel with Tax</label>
                        <div class="col-md-4">{{ form_widget(form.fuel_total) }}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-8">Fuel Card Fee: (Included GST)</label>
                        <div class="col-md-4">{{ form_widget(form.fuel_card_fee) }}</div>
                    </div>
                </div>
                <div class="col-md-3">

                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Misc 1:
                            </label>
                            <div class="col-md-3">{{ form_widget(form.misc1) }}</div>
                            <div class="col-md-3">{{ form_widget(form.misc1_description) }}</div>
                            <div class="col-md-3">{{ form_widget(form.misc1_total) }}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Misc 2:
                            </label>
                            <div class="col-md-3">{{ form_widget(form.misc2) }}</div>
                            <div class="col-md-3">{{ form_widget(form.misc2_description) }}</div>
                            <div class="col-md-3">{{ form_widget(form.misc2_total) }}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Misc 3:
                            </label>
                            <div class="col-md-3">{{ form_widget(form.misc3) }}</div>
                            <div class="col-md-3">{{ form_widget(form.misc3_description) }}</div>
                            <div class="col-md-3">{{ form_widget(form.misc3_total) }}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-md-3">
                                Misc 4:
                            </label>
                            <div class="col-md-3">{{ form_widget(form.misc4) }}</div>
                            <div class="col-md-3">{{ form_widget(form.misc4_description) }}</div>
                            <div class="col-md-3">{{ form_widget(form.misc4_total) }}</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-8">Total Deduction</label>
                                <div class="col-md-4">{{ form_widget(form.deduc_total) }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-8">Net Amount</label>
                                <div class="col-md-4">{{ form_widget(form.net_amount) }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="widget-box transparent ui-sortable-handle">
    <div class="widget-header">
        <h5 class="widget-title">Summary</h5>
    </div>
    <div class="widget-body">
        <div class="widget-main">
            <div class="row">
                <div class="col-md-4">Please make sure WCB Pay code is 0 in setup file if not
                    calculatingg WCB Rates
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-6">Gross Pay</label>
                                <div class="col-md-6" id="grossPay">{[{ cheque.lump_sum_pay_amt }]}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-6">Total Deduction</label>
                                <div class="col-md-6" id="totalDeduction">{[{ cheque.deduc_total }]}</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-6">Net Amount</label>
                                <div class="col-md-6" id="netAmount">{[{ cheque.net_amount }]}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">Amount in Words:</div>
                        <div class="col-md-10" id="amountInWords" >{[{cheque.amount_in_word}]}</div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
{% if type=='entry' %}
    <ul class="list-inline">
        <li><input type="submit" value="Save and Next" ng-click="next()" class="btn btn-success"/></li>
    </ul>
{% else %}
    <ul class="list-inline">
        <li><input type="submit" value="Create and add new" class="btn btn-success"/></li>
        <li><input type="submit" value="Create and back to the list" class="btn btn-success"/></li>
        <li><a class="btn btn-default"
               href="{{ path('cheque_index',{'billing_period':billing_period.id}) }}">Back to the list</a>
        </li>
    </ul>
{% endif %}

{{ form_widget(form._token) }}
                {{ form_end(form,{"render_rest":false}) }}
