var app = angular.module('chequeApp', ['angular-loading-bar', 'ngTouch', 'ngAnimate', 'ui.grid', 'ui.grid.moveColumns', 'ui.grid.resizeColumns', 'ui.grid.selection', 'ui.grid.cellNav', 'ui.grid.expandable', 'ui.bootstrap', 'ui.grid.pinning']);

app.config(function ($interpolateProvider) {
    $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
});


app.controller('chequeCtrl', ['$scope', '$http', '$log', '$timeout', 'uiGridConstants', '$q', '$interval', function ($scope, $http, $log, $timeout, uiGridConstants, $q, $interval) {
    $scope.animationsEnabled = true;

    var canceler = $q.defer();
    $scope.gridOptions = {
        cellClass: getCellClass,
        showGridFooter: true,
        showGridHeader: true,
        enableFiltering: true,
        enableRowSelection: true,
        enableFullRowSelection: true,
        enableRowHeaderSelection: false,
        modifierKeysToMultiSelectCells: true,
        keyDownOverrides: [{keyCode: 39, ctrlKey: true}]
    };

    $scope.gridOptions.columnDefs = [
        {#{#}
            {#name: 'id',#}
            {#width: 80,#}
            {#cellClass: getCellClass,#}
        {#},#}
        {
            name: 'driver_name',
            width: 200,
            displayName: 'Driver #',
            cellClass: getCellClass,
        },
        {
            name: 'cdate',
            width: 100,
            displayName: "Date",
            {#cellFilter: 'date:\'yyyy-MM-dd\'',#}
            cellClass: getCellClass,
        },
        {
            name: 'lump_sum_pay_amt',
            width: 101,
            cellClass: getCellClass,
        },
        {
            name: 'misc_pay_desc',
            width: 101,
            cellClass: getCellClass,
        },
        {
            name: 'misc_pay_amt',
            width: 101,
            cellClass: getCellClass
        },
        {
            name: 'gross_pay',
            width: 101,
            cellClass: getCellClass
        },
        {
            name: 'social_fund',
            width: 101,
            cellClass: getCellClass
        },
        {
            name: 'advance',
            width: 101,
            cellClass: getCellClass
        },
        {
            name: 'advance_fee',
            width: 101,
            cellClass: getCellClass
        },
        {
            name: 'contract',
            width: 101,
            cellClass: getCellClass
        }
    ];
    var selectedRow = null;

    function getCellClass(grid, row) {
        return row.uid === selectedRow ? 'highlight' : '';
    };
    var apicall = function (nav) {
        console.log(":API CALL CHEQUE");
        $http.get('/api/cheque/{{ pay_period.id }}', {timeout: canceler.promise})
                .success(function (data) {
                    $scope.total = data.length;
                    //$scope.first();
                    console.log(":API CALL inside");
                    console.log(data);
                    angular.forEach(data, function (row, index) {
                        console.log(":API CALL FOREACH");
                        row.index = index + 1;
                        $scope.gridOptions.data[index] = row;
                    })
                    console.log($scope.gridOptions.data);
                    console.log($scope.total + ":TOTAL");
                    if ($scope.total > 0) {
                        setCheque($scope.gridOptions.data[0]);
                    }
                    $scope.apiLoadedCheques = true;
                    $scope.isApiLoaded();
                });
    };

    $scope.gridOptions.onRegisterApi = function (gridApi) {
        $scope.total = 0;
        $scope.gridApi = gridApi;
        gridApi.cellNav.on.navigate($scope, function (newRowCol, oldRowCol) {
            $scope.current = newRowCol.row.entity.index;
            $log.log(newRowCol.row.entity);
            $log.log('navigation event');
            if ('.ui-grid-cell-focus ') {
                selectedRow = newRowCol.row.uid;
                gridApi.core.notifyDataChange(uiGridConstants.dataChange.COLUMN);
            }

            setCheque(newRowCol.row.entity);

        });

        gridApi.cellNav.on.viewPortKeyDown($scope, function (event, newRowCol) {
            var row = newRowCol.row;
            var col = newRowCol.col
            if (event.keyCode === 39) {
                $scope.gridApi.cellNav.scrollToFocus(row.entity, $scope.gridApi.grid.columns[$scope.gridApi.grid.columns.length - 1]);
            }
        });

        $scope.cheque = {};
        $scope.drivers = [];
        $scope.paycodes = [];
        $scope.apiLoaded = false;
        $scope.apiLoadedDrivers = false;
        $scope.apiLoadedCheques = false;
        $scope.apiLoadedPaycodes = false;
        apicall();
        apicallDrivers();
        apicallPaycodes();
        watchers()
        $scope.cheque.pay_period_id = "{{ pay_period.id }}";

    };
    $scope.$watch("apiLoaded", function (newValue, oldValue) {
        console.log("API LOADED" + newValue)
        console.log(newValue)
        if (newValue) {

            console.log("API LOADED WATCHERS" + newValue)
            watchers();
            $scope.first();
        }
    });
    $scope.isApiLoaded = function () {
        //return true;
        $scope.apiLoaded = $scope.apiLoadedDrivers && $scope.apiLoadedCheques && $scope.apiLoadedPaycodes;
        console.log($scope.apiLoaded +" = "+ $scope.apiLoadedDrivers +"&&"+ $scope.apiLoadedCheques +"&&"+ $scope.apiLoadedPaycodes);
        return $scope.apiLoaded;
    }
    $scope.newcheque = function (payperiod) {
        $scope.cheque = {};
        $scope.cheque.pay_period_id = payperiod;
        var yesterdayDate = new Date();
        yesterdayDate.setDate(yesterdayDate.getDate() - 1);
        var dd = yesterdayDate.getDate();
        var mm = yesterdayDate.getMonth() + 1; //January is 0!
        var yyyy = yesterdayDate.getFullYear();
        theDate = yyyy + '-' + mm + '-' + dd;
        console.log("YESTERDAY" + theDate)
        $scope.setCDate(theDate);
        console.log(payperiod + "Payperiod");
        console.log($scope.cheque);
        $http({
            method: 'POST',
            url: '/api/cheque/create',
            headers: {'Content-Type': 'application/x-www-form-urlencoded'},
            data: $.param($scope.cheque)
        }).then(function (response) {
            var data = response.data;
            console.log("NEW DATA");
            console.log(data);

            data.index = $scope.total + 1;
            $scope.gridOptions.data.push(data);
            //$scope.cheque = data;

            $scope.last();
        });
    };

    var setCheque = function (cheque) {
        console.log("setCheque");
        console.log(cheque);

        //init set driver
        console.log("init driver");
        console.log($scope.drivers);
        console.log(cheque.driver_pid);
        $scope.setDriver(cheque.driver_pid);

        if($scope.paycodes !== undefined && $scope.paycodes.length>0) {
            paycode = $scope.paycodes.filter(
                    function (data) {
                        if (cheque.paycode_pid != null) {
                            return data.id == parseInt(cheque.paycode_pid);
                        }
                        return false;
                    }
            );
            console.log($scope.paycodes);
            console.log("PAYCODE");
            console.log(paycode);

            $("#cheque_PayCode").val($("#cheque_PayCode option:first").val());
            if (paycode.length > 0 && cheque.paycode_pid != null) {
                $("#cheque_PayCode").val(cheque.paycode_pid);
            }
        }
        console.log("$scope.cheque");
        console.log($scope.cheque.cheque_date);
        $scope.cheque = cheque
        $scope.setCDate($scope.cheque.cheque_date);
        $scope.setCurrent(cheque)
    };

    $scope.setCDate = function (cdate) {

        if (cdate) {
            dateParts = cdate.substr(0, 10).split('-');

            $scope.cheque.year = dateParts[0];
            $scope.cheque.month = parseInt(dateParts[1]) + "";
            $scope.cheque.day = parseInt(dateParts[2]) + "";
            $scope.cheque.cdate = $scope.cheque.year + "-" + $scope.cheque.month + "-" + $scope.cheque.day;
            console.log("dateParts" + dateParts);
            console.log("$scope.cheque.cdate" + $scope.cheque.cdate);
            console.log($scope.current + "CURRENT");
            console.log($scope.cheque);

            angular.element('#cheque_cheque_date_year').val($scope.cheque.year);
            angular.element('#cheque_cheque_date_month').val($scope.cheque.month);
            angular.element('#cheque_cheque_date_day').val($scope.cheque.day);
            if ($scope.current > 0) {
                console.log("$scope.gridOptions.data[$scope.current - 1]");
                console.log($scope.gridOptions.data[$scope.current - 1]);
                if($scope.gridOptions.data[$scope.current - 1]) {
                    //$scope.gridOptions.data[$scope.current - 1]['cheque_date'] = $scope.cheque.cdate;
                }
            }
        }
    }
    $scope.setCurrent = function (cheque) {
        $scope.currentId = cheque.id;
        $scope.current = cheque.index;
        console.log("current id:" + $scope.currentId);
        console.log("current index:" + $scope.current);
    }

    $scope.scrollToFocus = function (rowIndex) {
        console.log($scope.current);
        console.log("scrollToFocus nav triggered row:" + rowIndex + "::" + $scope.current);
        if ($scope.cheque.id > 0) {
            $scope.updateCheque(rowIndex);
        }

        $scope.scrollToFocusNoUpdate(rowIndex);
    };

    $scope.scrollToFocusNoUpdate = function (rowIndex) {
        $scope.current = rowIndex;
        if ($scope.gridOptions.data.length > 1 && (rowIndex - 1) > -1) {

            $scope.currentId = $scope.gridOptions.data[rowIndex - 1].id;
            console.log("ID::"+$scope.gridOptions.data[rowIndex - 1].id);
            if (rowIndex > 0) {
                $scope.gridApi.selection.selectRow($scope.gridOptions.data[rowIndex - 1]);
                {#$scope.driverRate = "";#}
                {#$scope.customerName = "";#}
                {#$scope.customerRateLevel = "";#}
                {#$scope.rateDescription = "";#}
                $scope.cheque = $scope.gridOptions.data[rowIndex - 1];
                setCheque($scope.gridOptions.data[rowIndex - 1])
                console.log("scrollToFocus ROW SELECTED:" + rowIndex + "::" + $scope.current);

            }
            console.log(rowIndex + ":::scrollToFocusNoUpdate:::" + $scope.currentId);
            $scope.gridApi.cellNav.scrollToFocus($scope.gridOptions.data[rowIndex - 1], $scope.gridApi.grid.columns[0]);
            $scope.gridApi.grid.modifyRows($scope.gridOptions.data);
        }
    }

    $scope.updateCheque = function (rowIndex) {

        console.log("update cheque");

        $http({
            method: 'POST',
            url: '/api/cheque/' + $scope.cheque.id + "/update",
            headers: {'Content-Type': 'application/x-www-form-urlencoded'},
            data: $.param($scope.cheque)
        }).then(function (response) {

            var data = response.data;
            console.log(data);
            $scope.scrollToFocusNoUpdate($scope.cheque.index)
            console.log("updateCheque ROW SELECTED:" + $scope.cheque.index + "::" + $scope.current);
        });
    };

    $scope.updateCheque = function (rowIndex) {

        console.log("update cheque");

        $http({
            method: 'POST',
            url: '/api/cheque/' + $scope.cheque.id + "/update",
            headers: {'Content-Type': 'application/x-www-form-urlencoded'},
            data: $.param($scope.cheque)
        }).then(function (response) {

            var data = response.data;
            console.log(data);
            $scope.scrollToFocusNoUpdate($scope.cheque.index)
            console.log("updateCheque ROW SELECTED:" + $scope.cheque.index + "::" + $scope.current);
        });
    };

    $scope.first = function () {
        console.log("FIRST");
        console.log($scope.gridOptions.data[0]);
        $scope.total = $scope.gridOptions.data.length;
        $scope.current = 1;
        $scope.scrollToFocus(1, 1);
    }

    $scope.prev = function () {

        if ($scope.current > 1) {
            $scope.current = $scope.current - 1;
        }
        $scope.scrollToFocus($scope.current, 1);
    }
    $scope.next = function () {
        console.log("next");
        total = $scope.gridOptions.data.length;

        if ($scope.current < $scope.total) {
            $scope.current = $scope.current + 1;
        }
        $scope.scrollToFocus($scope.current, 1);
    }

    $scope.last = function () {
        $scope.total = $scope.gridOptions.data.length;
        $scope.current = $scope.total;
        console.log("TOTAL(last):" + $scope.total + " ,1");
        $scope.scrollToFocus($scope.total, 1);
    }

    $scope.setDriver = function (driver_id, watcher) {
        if (driver_id > 0 && $scope.drivers.length>0) {
            driver = $scope.drivers.filter(
                    function (data) {
                        return data.id == parseInt(driver_id)
                    }
            );
            console.log("setDriver");

            $("#cheque_Driver").val($("#cheque_Driver option:first").val());
            console.log("setdriver");
            if (driver.length > 0) {

                console.log(driver_id + "");
                console.log("setDriver inside:" + driver_id);
                if ($scope.current > 0) {
                    $scope.gridOptions.data[$scope.current - 1]['driver_name'] = driver[0].drivernum + " - " + driver[0].drivernam;
                }
                //
                console.log($scope.cheque);
                console.log(watcher);
                if (!watcher) {
                    $scope.cheque.driver_pid = driver_id;
                }
                $("#cheque_Driver").val(driver_id);
            }
        }
    }


    var apicallDrivers = function () {
        $http.get("/api/driver/all", {timeout: canceler.promise})
                .success(function (data) {

                    angular.forEach(data, function (row, index) {
                        row.index = index + 1;
                    })
                    $scope.drivers = data;
                    $scope.driversGrid.data = data;
                    $scope.apiLoadedDrivers = true;
                    $scope.isApiLoaded()
                });
    };
    var apicallPaycodes = function () {
        $http.get("/api/paycode/all", {timeout: canceler.promise})
                .success(function (data) {
                    $scope.paycodes = data;
                    $scope.apiLoadedPaycodes = true;
                    $scope.isApiLoaded()
                });
    };


    function watchers() {
console.log("WATCHER");
        $scope.$watch("[cheque.net_amount]", function (newValue, oldValue) {

            if ($scope.isApiLoaded() && angular.isDefined(newValue) && newValue[0] != null) {
                word = numberToEnglish(newValue);
                $scope.cheque.amount_in_word =word;
            }
        });

        $scope.$watch("[cheque.contract,cheque.social_fund, cheque.advance, cheque.advance_fee, cheque.fuel_total, cheque.fuel_card_fee, cheque.misc1, cheque.misc2, cheque.misc3, cheque.misc4]", function (newValue, oldValue) {
            if ($scope.isApiLoaded() && angular.isDefined(newValue) ) {
                totalDeduction =
                        (
                        parseFloat($scope.cheque.wcb+"" ) +
                        parseFloat($scope.cheque.contract+""  ) +
                        parseFloat($scope.cheque.social_fund+"" )+
                        parseFloat($scope.cheque.advance+""  ) +
                        parseFloat($scope.cheque.advance_fee+""  ) +
                        parseFloat($scope.cheque.fuel_card_fee+""  ) +
                        parseFloat($scope.cheque.fuel_total+""  ) +
                        parseFloat($scope.cheque.misc1+""  )+
                        parseFloat($scope.cheque.misc2+""  ) +
                        parseFloat($scope.cheque.misc3+""  )+
                        parseFloat($scope.cheque.misc4+""  ));
                {#console.log("WCB:::::"+($scope.cheque.wcb+""));#}
                {#console.log("WCB:"+($scope.cheque.wcb+""| 0.0));#}
                {#console.log("WCB float:"+(parseFloat($scope.cheque.wcb+"") | 0));#}
                {#console.log(parseFloat($scope.cheque.contract+"" | 0));#}
                {#console.log(parseFloat($scope.cheque.social_fund+"" | 0));#}
                {#console.log(parseFloat($scope.cheque.advance+"" | 0));#}
                {#console.log(parseFloat($scope.cheque.advance_fee+"" | 0));#}
                {#console.log(parseFloat($scope.cheque.fuel_card_fee+"" | 0));#}
                {#console.log(parseFloat($scope.cheque.fuel_total+"" | 0));#}
                {#console.log(parseFloat($scope.cheque.misc1+"" | 0));#}
                {#console.log(parseFloat($scope.cheque.misc2+"" | 0));#}

                $scope.cheque.deduc_total = parseFloat(totalDeduction+"");

                $scope.cheque.net_amount = $scope.cheque.lump_sum_pay_amt-$scope.cheque.deduc_total;

            }
        });

    }
    function numberToEnglish( n ) {
        console.log("NUMBER TO WORD:"+n)
        console.log("NUMBER TO WORD:"+Math.trunc(n))
        dec = Math.abs(Math.round((n-parseFloat(Math.trunc(n)))*100));
        n = Math.trunc(n);

        console.log("NUMBER TO WORD:"+dec);
        var string = n.toString(), units, tens, scales, start, end, chunks, chunksLen, chunk, ints, i, word, words, and = 'and';

        /* Remove spaces and commas */
        string = string.replace(/[, ]/g,"");

        /* Is number zero? */
        if( parseInt( string ) === 0 ) {
            return 'zero';
        }

        /* Array of units as words */
        units = [ '', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten', 'eleven', 'twelve', 'thirteen', 'fourteen', 'fifteen', 'sixteen', 'seventeen', 'eighteen', 'nineteen' ];

        /* Array of tens as words */
        tens = [ '', '', 'twenty', 'thirty', 'forty', 'fifty', 'sixty', 'seventy', 'eighty', 'ninety' ];

        /* Array of scales as words */
        scales = [ '', 'thousand', 'million', 'billion', 'trillion', 'quadrillion', 'quintillion', 'sextillion', 'septillion', 'octillion', 'nonillion', 'decillion', 'undecillion', 'duodecillion', 'tredecillion', 'quatttuor-decillion', 'quindecillion', 'sexdecillion', 'septen-decillion', 'octodecillion', 'novemdecillion', 'vigintillion', 'centillion' ];

        /* Split user arguemnt into 3 digit chunks from right to left */
        start = string.length;
        chunks = [];
        while( start > 0 ) {
            end = start;
            chunks.push( string.slice( ( start = Math.max( 0, start - 3 ) ), end ) );
        }

        /* Check if function has enough scale words to be able to stringify the user argument */
        chunksLen = chunks.length;
        if( chunksLen > scales.length ) {
            return '';
        }

        /* Stringify each integer in each chunk */
        words = [];
        for( i = 0; i < chunksLen; i++ ) {

            chunk = parseInt( chunks[i] );

            if( chunk ) {

                /* Split chunk into array of individual integers */
                ints = chunks[i].split( '' ).reverse().map( parseFloat );

                /* If tens integer is 1, i.e. 10, then add 10 to units integer */
                if( ints[1] === 1 ) {
                    ints[0] += 10;
                }

                /* Add scale word if chunk is not zero and array item exists */
                if( ( word = scales[i] ) ) {
                    words.push( word );
                }

                /* Add unit word if array item exists */
                if( ( word = units[ ints[0] ] ) ) {
                    words.push( word );
                }

                /* Add tens word if array item exists */
                if( ( word = tens[ ints[1] ] ) ) {
                    words.push( word );
                }

                /* Add 'and' string after units or tens integer if: */
                if( ints[0] || ints[1] ) {

                    /* Chunk has a hundreds integer or chunk is the first of multiple chunks */
                    if( ints[2] || ! i && chunksLen ) {
                        words.push( and );
                    }

                }

                /* Add hundreds word if array item exists */
                if( ( word = units[ ints[2] ] ) ) {
                    words.push( word + ' hundred' );
                }

            }

        }

        number = words.reverse().join( ' ' );
        if(number.startsWith("and")){
            number = number.substr(3);
        }

        if(dec>0){
            number = number + " and *********** " + dec + " /100";
        }
        return number

    }


    $scope.driversGrid = {
        enableSorting: true,
        showGridFooter: true,
        showGridHeader: true,
        enableFiltering: true,
        enableRowSelection: true,
        enableSelectAll: true,
        selectionRowHeaderWidth: 35,
        enableColumnResizing: true,
    };
    $scope.driversGrid.multiSelect = true;
    $scope.driversGrid.columnDefs = [
        {
            name: 'id',
            width: 80,
        },
        {
            name: 'drivernum',
            width: 100,
        },
        {
            name: 'address',
            width: 200,
        },
        {
            name: 'city',
            width: 100,
        },
        {
            name: 'postal',
            width: 100,
        },
        {
            name: 'tel',
            width: 100,
        },
        {
            name: 'cell',
            width: 100,
        },
        {
            name: 'hired',
            width: 100,
        },
        {
            name: 'dob',
            width: 100,
        },
        {
            name: 'sin',
            width: 100,
        },
        {
            name: 'married',
            width: 100,
        },
        {
            name: 'pic',
            width: 100,
        }
    ];

}]);
