{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.css" type="text/css"
          rel="stylesheet"/>
    {% stylesheets
    'css/angular/autocomplete-alt.css'
    'bundles/numacccadmin/probill_form.css'
    'bundles/numacccadmin/css/loading-bar.min.css'
    filter='cssrewrite' output='css/*.css' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
    {% endstylesheets %}
    <style>
        .grid {
            height: 80vh;
        }

        .ui-grid-viewport {
            overflow-anchor: none;
        }

        .ui-grid-row .ui-grid-cell.pinned {
            background: #fcffd8;
        !important;
        }

        .highlight {
            background-color: #b3c4c7 !important;
        }
    </style>
{% endblock stylesheets %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'js/angular/angular143.min.js'
    'js/angular/angular-touch143.min.js'
    'js/angular/angular-animate143.min.js'
    'js/angular/ui-bootstrap-tpls-1.2.2.min.js'
    'js/angular/autocomplete-alt.js'
    'js/angular/ui-grid.js'
    'bundles/numacccadmin/js/probill_form.js'
    'bundles/numacccadmin/js/loading-bar.min.js' %}

    <script src="{{ asset(asset_url) }}"></script>
    {% endjavascripts %}
    <script>
        {% include 'NumaCCCAdminBundle:Cheque:EntryDatagrid.js.twig' %}
    </script>
{% endblock javascripts %}
{% block content %}

    <div class="box billing-form" ng-app="chequeApp">
        <div ng-controller="chequeCtrl" ng-cloak>
            <div class="widget-box">
                {% include "NumaCCCAdminBundle:BindingNavigator:cheque.html.twig" %}
                <div class="widget-body">
                    <div class="widget-main">
                        <div id="flashmsg"></div>
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" ><a href="#order" aria-controls="home" role="tab"
                                                                      data-toggle="tab">Entry Details</a></li>
                            <li role="presentation" class="active"><a href="#table" aria-controls="profile" role="tab"
                                                       data-toggle="tab">Browse Entry</a></li>
                            <li role="presentation">
                                <a href="#drivers" aria-controls="profile" role="tab"
                                                       data-toggle="tab">Payee</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane" id="order">
                                {% include "NumaCCCAdminBundle:Cheque:ChequeForm.html.twig" with {'type': 'entry'} %}
                            </div>
                            <div role="tabpanel" class="tab-pane active " id="table" path="sdsdsdsd">
                                <div id="chequeGrid" ui-grid="gridOptions" ui-grid-selection ui-grid-pinning
                                     ui-grid-cellNav ui-grid-resize-columns class="grid"></div>
                            </div>

                            <div role="tabpanel" class="tab-pane " id="drivers">
                                <div id="driversGrid" ui-grid="driversGrid" ui-grid-selection ui-grid-pinning
                                     class="grid"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
