{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="widget-box">
            <div class="widget-header widget-header-large">
                <h4 class="widget-title">Create a Cheque for pay period from
                <b>{{ pay_period.started|date("d/m/y") }}</b> to <b>{{ pay_period.closed|date("d/m/y") }}</b>
                </h4>
            </div>
            <div class="widget-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Cheque_date</th>
                        <th>Hours</th>
                        <th>Driver</th>

                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cheque in cheques %}
                        <tr>
                            <td><a href="{{ path('cheque_edit', { 'id': cheque.id }) }}">{{ cheque.id }}</a></td>
                            <td>{% if cheque.chequedate %}{{ cheque.chequedate|date('d/m/y') }}{% endif %}</td>
                            <td>{{ cheque.hours }}</td>
                            <td>{{ cheque.driver }}</td>
                            <td>
                                <ul class="list-inline ">
                                    <li>
                                        <a class="btn btn-warning" href="{{ path('cheque_edit', { 'id': cheque.id }) }}"><i class="fa fa-edit"></i>Edit</a>
                                    </li>
                                    <li>
                                        <a target="_blank" class="btn btn-purple" href="{{ path('report_cheque', { 'cheque': cheque.id }) }}"><i class="fa fa-print"></i>Print</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <ul class="list-inline">
                    <li>
                        <a href="{{ path('cheque_before_new')}}" class="btn btn-primary">Create a new cheque</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

