{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block content %}
    <div class="row">
        <div class="widget-box">
            <div class="widget-header widget-header-large">
                {#<h4 class="widget-title">Cheques for all dealers for the billing period from#}
                {#<b>{{ billingPeriod.started|date("d/m/y") }}</b> to <b>{{ billingPeriod.closed|date("d/m/y") }}</b>#}
                {#</h4>#}
                <h4>Create a Cheque</h4>
            </div>
            <div class="widget-body">
                {{ form_start(form) }}

                <div class="widget-box transparent ui-sortable-handle">
                    <div class="widget-header">
                        <h5 class="widget-title">Billing Period: <b>{{ billing_period.started|date("d/m/y") }}</b>
                            to <b>{{ billing_period.closed|date("d/m/y") }}</b></h5>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Cheque Date</label>
                                        <div class="col-md-8">{{ form_widget(form.cheque_date) }}</div>
                                    </div>

                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Payee</label>
                                        <div class="col-md-8">{{ form_widget(form.Driver) }}</div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Cheque #</label>
                                        <div class="col-md-8">{{ form_widget(form.check_num) }}</div>
                                    </div>

                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-primary  pull-right">Print Cheque</button>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="widget-box transparent">
                    <div class="widget-header">
                        <h5 class="widget-title">Gross</h5>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Misc Credit Description:</label>
                                        <div class="col-md-9">{{ form_widget(form.misc_pay_desc) }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            Please make sure WCB Pay code is 0 in setup file if not calculatingg WCB
                                            Rates
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-9">Lump Sum Amount</label>
                                        <div class="col-md-3">{{ form_widget(form.lump_sum_pay_amt) }}</div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-9">Misc Credit Amount</label>
                                        <div class="col-md-3">{{ form_widget(form.misc_pay_amt) }}</div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-9">Fuel Credit</label>
                                        <div class="col-md-3">{{ form_widget(form.fuel_credits) }}</div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-9">Gross Pay</label>
                                        <div class="col-md-3">{{ form_widget(form.gross_pay) }}</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label col-md-6">Pay Code</label>
                                        <div class="col-md-6">{{ form_widget(form.PayCode) }}</div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    WCB Rate:<span id="WCBRate"></span>
                                </div>
                                <div class="col-md-2">
                                    WCB Rate Value:<span id="WCBRateValue"></span>
                                </div>
                                <div class="col-md-2">
                                    WCB Industry Code:<span id="WCBIndustryCode"></span>
                                </div>
                                <div class="col-md-2">
                                    WCB Industry Code Value:<span id="WCBIndustryCodeValue"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-box transparent">
                    <div class="widget-header">
                        <h5 class="widget-title">Deduction</h5>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label col-md-8">WCB</label>
                                        <div class="col-md-4">{{ form_widget(form.wcb) }}</div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-8">Contract</label>
                                        <div class="col-md-4">{{ form_widget(form.contract) }}</div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-8">Advance Amount</label>
                                        <div class="col-md-4">{{ form_widget(form.advance) }}</div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-8">Advance Fee (GST Included)</label>
                                        <div class="col-md-4">{{ form_widget(form.advance_fee) }}</div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-8">Fuel with Tax</label>
                                        <div class="col-md-4">{{ form_widget(form.fuel_total) }}</div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-8">Fuel Card Fee: (Included GST)</label>
                                        <div class="col-md-4">{{ form_widget(form.fuel_card_fee) }}</div>
                                    </div>
                                </div>
                                <div class="col-md-3">

                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                Misc 1:
                                            </label>
                                            <div class="col-md-3">{{ form_widget(form.misc1) }}</div>
                                            <div class="col-md-3">{{ form_widget(form.misc1_description) }}</div>
                                            <div class="col-md-3">{{ form_widget(form.misc1_total) }}</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                Misc 2:
                                            </label>
                                            <div class="col-md-3">{{ form_widget(form.misc2) }}</div>
                                            <div class="col-md-3">{{ form_widget(form.misc2_description) }}</div>
                                            <div class="col-md-3">{{ form_widget(form.misc2_total) }}</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                Misc 3:
                                            </label>
                                            <div class="col-md-3">{{ form_widget(form.misc3) }}</div>
                                            <div class="col-md-3">{{ form_widget(form.misc3_description) }}</div>
                                            <div class="col-md-3">{{ form_widget(form.misc3_total) }}</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">
                                                Misc 4:
                                            </label>
                                            <div class="col-md-3">{{ form_widget(form.misc4) }}</div>
                                            <div class="col-md-3">{{ form_widget(form.misc4_description) }}</div>
                                            <div class="col-md-3">{{ form_widget(form.misc4_total) }}</div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6"></div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-8">Total Deduction</label>
                                                <div class="col-md-4">{{ form_widget(form.deduc_total) }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6"></div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-8">Net Amount</label>
                                                <div class="col-md-4">{{ form_widget(form.net_amount) }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-box transparent ui-sortable-handle">
                    <div class="widget-header">
                        <h5 class="widget-title">Summary</h5>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="row">
                                <div class="col-md-4">Please make sure WCB Pay code is 0 in setup file if not
                                    calculatingg WCB Rates
                                </div>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-md-6">Gross Pay</label>
                                                <div class="col-md-6" id="grossPay"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-md-6">Total Deduction</label>
                                                <div class="col-md-6" id="totalDeduction"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-md-6">Net Amount</label>
                                                <div class="col-md-6" id="netAmount"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">Amount in Words:</div>
                                        <div class="col-md-10" id="amountInWords"></div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <ul class="list-inline">
                    <li><input type="submit" value="Create and add new" class="btn btn-success"/></li>
                    <li><input type="submit" value="Create and back to the list" class="btn btn-success"/></li>
                    <li><a class="btn btn-default"
                           href="{{ path('cheque_index',{'billing_period':billing_period.id}) }}">Back to the list</a>
                    </li>
                </ul>
                {{ form_widget(form._token) }}
                {{ form_end(form,{"render_rest":false}) }}
            </div>
        </div>
    </div>
{% endblock %}