{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cheque</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cheque.id }}</td>
            </tr>
            <tr>
                <th>Cheque_date</th>
                <td>{% if cheque.chequedate %}{{ cheque.chequedate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Ref_num</th>
                <td>{{ cheque.refnum }}</td>
            </tr>
            <tr>
                <th>Lump_sum_pay_amt</th>
                <td>{{ cheque.lumpsumpayamt }}</td>
            </tr>
            <tr>
                <th>Hours</th>
                <td>{{ cheque.hours }}</td>
            </tr>
            <tr>
                <th>Hrate</th>
                <td>{{ cheque.hrate }}</td>
            </tr>
            <tr>
                <th>Htotal</th>
                <td>{{ cheque.htotal }}</td>
            </tr>
            <tr>
                <th>Mile_rate</th>
                <td>{{ cheque.milerate }}</td>
            </tr>
            <tr>
                <th>Miles</th>
                <td>{{ cheque.miles }}</td>
            </tr>
            <tr>
                <th>Mile_total</th>
                <td>{{ cheque.miletotal }}</td>
            </tr>
            <tr>
                <th>Misc_pay_desc</th>
                <td>{{ cheque.miscpaydesc }}</td>
            </tr>
            <tr>
                <th>Misc_pay_amt</th>
                <td>{{ cheque.miscpayamt }}</td>
            </tr>
            <tr>
                <th>Gross_pay</th>
                <td>{{ cheque.grosspay }}</td>
            </tr>
            <tr>
                <th>Cpp</th>
                <td>{{ cheque.cpp }}</td>
            </tr>
            <tr>
                <th>Social_fund</th>
                <td>{{ cheque.socialfund }}</td>
            </tr>
            <tr>
                <th>Advance</th>
                <td>{{ cheque.advance }}</td>
            </tr>
            <tr>
                <th>Advance_fee</th>
                <td>{{ cheque.advancefee }}</td>
            </tr>
            <tr>
                <th>Contact</th>
                <td>{{ cheque.contact }}</td>
            </tr>
            <tr>
                <th>Fuel_expences</th>
                <td>{{ cheque.fuelexpences }}</td>
            </tr>
            <tr>
                <th>Fuel_card</th>
                <td>{{ cheque.fuelcard }}</td>
            </tr>
            <tr>
                <th>Fuel_card_fee</th>
                <td>{{ cheque.fuelcardfee }}</td>
            </tr>
            <tr>
                <th>Purchases</th>
                <td>{{ cheque.purchases }}</td>
            </tr>
            <tr>
                <th>Purchases_ref</th>
                <td>{{ cheque.purchasesref }}</td>
            </tr>
            <tr>
                <th>Purchases_fee</th>
                <td>{{ cheque.purchasesfee }}</td>
            </tr>
            <tr>
                <th>Amount_in_word</th>
                <td>{{ cheque.amountinword }}</td>
            </tr>
            <tr>
                <th>Check_num</th>
                <td>{{ cheque.checknum }}</td>
            </tr>
            <tr>
                <th>Net_amount</th>
                <td>{{ cheque.netamount }}</td>
            </tr>
            <tr>
                <th>Net_pay</th>
                <td>{{ cheque.netpay }}</td>
            </tr>
            <tr>
                <th>Reason</th>
                <td>{{ cheque.reason }}</td>
            </tr>
            <tr>
                <th>Deduc_total</th>
                <td>{{ cheque.deductotal }}</td>
            </tr>
            <tr>
                <th>Wcb</th>
                <td>{{ cheque.wcb }}</td>
            </tr>
            <tr>
                <th>Advance_ref</th>
                <td>{{ cheque.advanceref }}</td>
            </tr>
            <tr>
                <th>Pay_wbc</th>
                <td>{% if cheque.paywbc %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Wcb_code</th>
                <td>{{ cheque.wcbcode }}</td>
            </tr>
            <tr>
                <th>Wcb_rate</th>
                <td>{{ cheque.wcbrate }}</td>
            </tr>
            <tr>
                <th>Wcb_base</th>
                <td>{{ cheque.wcbbase }}</td>
            </tr>
            <tr>
                <th>Cargo_insurance</th>
                <td>{{ cheque.cargoinsurance }}</td>
            </tr>
            <tr>
                <th>Fuel_credits</th>
                <td>{{ cheque.fuelcredits }}</td>
            </tr>
            <tr>
                <th>City_prov_postal</th>
                <td>{{ cheque.cityprovpostal }}</td>
            </tr>
            <tr>
                <th>Print_status</th>
                <td>{{ cheque.printstatus }}</td>
            </tr>
            <tr>
                <th>Misc1</th>
                <td>{{ cheque.misc1 }}</td>
            </tr>
            <tr>
                <th>Misc2</th>
                <td>{{ cheque.misc2 }}</td>
            </tr>
            <tr>
                <th>Misc3</th>
                <td>{{ cheque.misc3 }}</td>
            </tr>
            <tr>
                <th>Misc4</th>
                <td>{{ cheque.misc4 }}</td>
            </tr>
            <tr>
                <th>Misc1_description</th>
                <td>{{ cheque.misc1description }}</td>
            </tr>
            <tr>
                <th>Misc2_description</th>
                <td>{{ cheque.misc2description }}</td>
            </tr>
            <tr>
                <th>Misc3_description</th>
                <td>{{ cheque.misc3description }}</td>
            </tr>
            <tr>
                <th>Misc4_description</th>
                <td>{{ cheque.misc4description }}</td>
            </tr>
            <tr>
                <th>Misc1_gst</th>
                <td>{{ cheque.misc1GST }}</td>
            </tr>
            <tr>
                <th>Misc2_gst</th>
                <td>{{ cheque.misc2GST }}</td>
            </tr>
            <tr>
                <th>Misc3_gst</th>
                <td>{{ cheque.misc3GST }}</td>
            </tr>
            <tr>
                <th>Misc4_gst</th>
                <td>{{ cheque.misc4GST }}</td>
            </tr>
            <tr>
                <th>Misc1_total</th>
                <td>{{ cheque.misc1total }}</td>
            </tr>
            <tr>
                <th>Misc2_total</th>
                <td>{{ cheque.misc2total }}</td>
            </tr>
            <tr>
                <th>Misc3_total</th>
                <td>{{ cheque.misc3total }}</td>
            </tr>
            <tr>
                <th>Misc4_total</th>
                <td>{{ cheque.misc4total }}</td>
            </tr>
            <tr>
                <th>Fuel_gst</th>
                <td>{{ cheque.fuelgst }}</td>
            </tr>
            <tr>
                <th>Fuel_total</th>
                <td>{{ cheque.fueltotal }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cheque_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('cheque_edit', { 'id': cheque.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
