{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}
{% block content %}
    <h1>Page not found</h1>
    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('numa_ccc_admin_homepage') }}">return to the dashboard</a>.
    </p>
{% endblock %}    