{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-lg-12 widget-box">
        <div class="widget-header widget-header-large">
            <h4 class="widget-title">Paycodes list</h4>
            <div class="widget-toolbar">
                <div class="widget-toolbar"><a class="btn btn-success" href="{{ path('paycode_new') }}">Add new
                        PayCode</a></div>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <div id="flashmsg"></div>
                    <table class="records_list table  table-bordered table-hover">

                        <thead>
                        <tr>
                            <th>Code</th>
                            <th>Value</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for payCode in payCodes %}
                            <tr>
                                <td>{{ payCode.code }}</td>
                                <td>{{ payCode.value }}</td>
                                <td>
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="{{ path('paycode_edit', { 'id': payCode.id }) }}"
                                               class="btn btn-warning">edit</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    {% endblock %}
