{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block content %}

    <div class="row">
        <div class="col-lg-12 widget-box">
            <div class="widget-header widget-header-large">
                <h4 class="widget-title">Add New Driver Pay Period</h4>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <div id="flashmsg"></div>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}

                    <ul class="list-inline list-unstyled">
                        <li>
                            <input type="submit" value="Create" class="btn btn-primary"/>
                        </li>
                        <li>
                            <a href="{{ path('billingperiod_index') }}" class="btn btn-default">Back to the list</a>
                        </li>
                    </ul>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
