{% extends 'base.html.twig' %}

{% block body %}
    <h1>Paycode</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ payCode.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ payCode.code }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ payCode.value }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('paycode_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('paycode_edit', { 'id': payCode.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
