<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Custom Courier</title>

        {% block stylesheets %}

            <style type="text/css">


                p{
                    margin: 0;
                }
                h1{
                    font-size: 18px;
                }
                h1,h2,h3 {
                    text-align: center;
                    line-height: 15px;
                }
                .invoice-address {
                    margin-top: -20px;
                }
                .invoice-address p{
                    line-height: 20px;
                    font-size: 14px;
                    font-weight: bold;
                    text-align: center;
                }

                h2{
                    font-size: 16px;
                }

                img {

                    position: absolute;
                    top:0px;
                    left: 0px;
                }

                .invoice{
                    position: absolute;
                    top:10px;
                    right: 10px;
                    white-space: nowrap;
                }

                .dateinvoice{
                    position: absolute;
                    top: 35px;
                    right: 10px;
                }

                .customer-detail{
                    margin-bottom: 30px;
                }

                .sum-detail{
                    float: right;

                }
                .sum-detail table tr td{
                    white-space: nowrap;

                }

                .clear{
                    clear: both;
                }

                div.upper-half{
                    height: 50%;
                    margin-bottom: 400px;
                    position: relative;
                }

                div.lower-half{
                    position: relative;
                }
                .customer-details h1 {
                    font-size: 1.5cm;
                    text-align: center;
                }

                th.ctyhwy-header {
                    text-align: left;
                    font-size: 1.5cm;
                    background: #D3D3D3;
                }

                .pagebreak {
                    display: block;
                    page-break-after: always;

                }
                .container{
                    display:table;
                    width:90%;
                    border-collapse: collapse;
                }
                .heading{
                    font-weight: bold;
                    display:table-row;
                    background-color:#C91622;
                    text-align: center;
                    line-height: 25px;
                    font-size: 14px;
                    font-family:georgia;
                    color:#fff;

                }
                .table-row{
                    display:table-row;
                    text-align: center;
                }
                .col{
                    display:table-cell;
                    border: 1px solid #CCC;
                }

                .highlight {
                    font-size: 150%;
                    font-weight: bold;
                }

                .moveleft {
                    margin-left: -30px;
                }
            </style>

        {% endblock %}

    </head>
    <body>
