{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block content %}
    <h1>Trip edit</h1>
    <div class="row">
        {{ form_start(form) }}

        <div class="col-md-12">
            {{ form_row(form.comments) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.waybill) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.PCE) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.WGT) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.signature) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.vehtype_id) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            {{ form_row(form.pickup_hr) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.pickup_mn) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.delivery_hr) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.delivery_mn) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.ttime_hr) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.ttime_mn) }}
        </div>
    </div>
    <ul class="list-inline">
        <li>
            <input type="submit" value="Update" class="btn btn-success"/>
        </li>
        <li>
            <a href="{{ path('trip_driver') }}" class="btn btn-default">Back to the list</a>
        </li>
    </ul>
    {{ form_end(form) }}
    </div>
{% endblock %}
