{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/bundles/whiteoctoberpagerfanta/css/pagerfantaDefault.css') }}"
          type="text/css" media="all"/>
{% endblock %}
{% block content %}
    <div class="row delays">
        <div class="col-lg-12 widget-box">
            <div class="widget-header widget-header-large">
                <h4 class="widget-title">Trip list</h4>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <div class="table table-bordered table-hover">
                        <div class="header">
                            <div class="header-item">Dispatch #</div>
                            <div class="header-item">Pickup</div>
                            <div class="header-item">Delivery</div>
                            <div class="header-item">Comment</div>
                            <div class="header-item">Driver</div>
                            <div class="header-item">Action</div>
                        </div>

                        {% for trip in trips %}
                        <div class="table-row">
                            <div class="form-widget">{{ trip.Dispatchcard.id }}</div>
                            <div class="form-widget">{{ trip.pickup }}</div>
                            <div class="form-widget">{{ trip.delivery }}</div>
                            <div class="form-widget">{{ trip.comments}}</div>
                            <div class="form-widget">{{ trip.Driver }}</div>
                            <div class="form-widget">
                                <select>
                                    <option>Choose...</option>
                                    <option>Accept</option>
                                    <option>Decline</option>
                                    <option>Cancel</option>
                                </select>
                                <a class="btn btn-warning" href="{{ path("trip_edit",{'trip':trip.id}) }}">Edit</a>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
