{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/bundles/whiteoctoberpagerfanta/css/pagerfantaDefault.css') }}"
          type="text/css" media="all"/>
{% endblock %}
{% block content %}
    <div class="row delays">
        <div class="col-lg-12 widget-box">
            <div class="widget-header widget-header-large">
                <h4 class="widget-title">Trip list</h4>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <div class="table table-bordered table-hover">
                        <div class="header">
                            <div class="header-item">Dispatch #</div>
                            <div class="header-item">Pickup</div>
                            <div class="header-item">Delivery</div>
                            <div class="header-item">Comment</div>
                            <div class="header-item">Driver</div>
                        </div>
                        {% for form in forms %}
                            {{ form_start(form) }}
                            <div class="form-widget">{{ form.vars.value.Dispatchcard.id }}</div>
                            <div class="form-widget">{{ form_widget(form.pickup) }}</div>
                            <div class="form-widget">{{ form_widget(form.delivery) }}</div>
                            <div class="form-widget">{{ form_widget(form.comments) }}</div>
                            <div class="form-widget">{{ form_widget(form.Driver) }}</div>
                            {{ form_end(form) }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(".update").change(function () {
            form = $(this).closest("form");
            updateForm(form)
        });

        function updateForm(form) {
            console.log("AJAX");
            console.log(form);
            console.log(form.attr('method'));
            console.log(window.location.host + form.attr('action'));
            console.log(form.serialize());
            $.ajax({
                        type: form.attr('method'),
                        url:  form.attr('action'),
                        data: form.serialize()
                    })
                    .done(function (data) {
                        if (typeof data.message !== 'undefined') {
                            alert(data.message);
                        }
                        console.log("CLICKdoene")
                        console.log(data)
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        if (typeof jqXHR.responseJSON !== 'undefined') {
                            if (jqXHR.responseJSON.hasOwnProperty('form')) {
                                $('#form_body').html(jqXHR.responseJSON.form);
                            }

                            $('.form_error').html(jqXHR.responseJSON.message);

                        } else {
                            alert(errorThrown);
                        }

                    });

        }

    </script>
{% endblock %}
