<html>
<head />
<body style="margin: 0; padding: 0;">
<embed src="data: application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;base64,{{media.content}}" type="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" name="{{media.name}}" width="100%" height="100%">

</body>
</html>