{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}
{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block content %}

    <div class="row">
        <div class="col-lg-12 widget-box">
            <div class="widget-header widget-header-large">
                <h4 class="widget-title">Billling periods edit</h4>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <div id="flashmsg"></div>

                    {{ form_start(edit_form) }}
                    {{ form_widget(edit_form) }}
                    {% if billingPeriod.newsletter is defined and billingPeriod.newsletter is not empty %}
                        Download Newsletter: <a target="_blank" href="{{ path("media_show",{id:billingPeriod.newsletterId()}) }}">{{ billingPeriod.newsletter.name}}</a>
                    {% endif %}
                    <ul class="list-inline list-unstyled">
                        <li>
                            <input type="submit" value="Update" class="btn btn-primary"/>
                        </li>
                        <li>
                            <a href="{{ path('billingperiod_index') }}" class="btn btn-default">Back to the list</a>
                        </li>
                    </ul>
                    {{ form_end(edit_form) }}


                </div>
            </div>
        </div>
    </div>
{% endblock %}
