{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block content %}
    <style>
        .loader {
            position: absolute;
            margin: 0 auto;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url({{ asset("bundles/numacccadmin/css/loading.gif") }}) 50% 50% no-repeat;
            top: 150px;
            cursor: wait;
            display: none;
        }
    </style>
    <div class="row">
        <div class="col-lg-12 widget-box">
            <div class="widget-header widget-header-large">
                <h4 class="widget-title">Finish the Billing period {{ billing.started|date("Y-m-d") }}</h4>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <div id="flashmsg"></div>
                </div>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <div class="loader"></div>
    <script>
        $(window).load(function(){
            $('div.loader').fadeOut();
        });
        $('form').submit(function(e) {
            //e.preventDefault();
            $('.loader').fadeIn(10);
        });
    </script>
{% endblock %}