{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12 widget-box">
            <div class="widget-header widget-header-large">
                <h4 class="widget-title">Billling periods list</h4>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <div id="flashmsg"></div>
                    <table class="records_list table  table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Started</th>
                            <th>Closed</th>
                            <th>Working_days</th>

                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for billingPeriod in billingPeriods %}

                            <tr>
                                <td>
                                    <a href="{{ path('billingperiod_edit', { 'id': billingPeriod.id }) }}">{{ billingPeriod.id }}</a>
                                </td>
                                <td>{{ billingPeriod.name }}</td>
                                <td>{% if billingPeriod.started %}{{ billingPeriod.started|date('Y-m-d') }}{% endif %}</td>
                                <td>{% if billingPeriod.closed %}{{ billingPeriod.closed|date('Y-m-d') }}{% endif %}</td>
                                <td>{{ billingPeriod.workingdays }}</td>


                                <td>
                                    <ul class="list-inline">
                                        <li>
                                            <a class="btn btn-success"
                                               href="{{ path('billingperiod_edit', { 'id': billingPeriod.id }) }}">edit</a>
                                        </li>
                                        {% if not is_granted("ROLE_BILLING") %}
                                            <li>
                                                <a class="btn btn-warning"
                                                   href="{{ path('billing_period_batch_index', { 'id': billingPeriod.id }) }}">Batches
                                                    ({{ billingPeriod.batch|length }})</a>
                                            </li>
                                        {% endif %}
                                        <li>
                                            <a class="btn btn-danger" id="billing_period_close"
                                               data-confirm="Are you sure you want to close the Billing Period? The Billing period will be ready for billing"
                                               href="{{ path('billingperiod_close', { 'billingPeriod': billingPeriod.id }) }}">Close
                                                Entire Billing Period</a>
                                            {% if billingPeriod.dateFinished is not empty %}
                                                <span>Finished at {{ billingPeriod.dateFinished|date("m-d-Y") }}</span>
                                            {% endif %}
                                        </li>
                                        {#<li>#}
                                        {#<a class="btn btn-danger"  href="{{ path('billingperiod_finish', { 'billingPeriod': billingPeriod.id }) }}">Finish</a>#}
                                        {#{% if billingPeriod.dateFinished is not empty %}#}
                                        {#<span>Finished at {{ billingPeriod.dateFinished|date("m-d-Y") }}</span>#}
                                        {#{% endif %}#}
                                        {#</li>#}
                                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                                        <li>
                                            <a href="{{ path('billingperiod_export', { 'billingPeriod': billingPeriod.id }) }}"
                                               class="btn btn-yellow"
                                               title="Export all probills from the billing period into XML">Export to
                                                XML</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('billingperiod_import', { 'billingPeriod': billingPeriod.id }) }}"
                                               class="btn btn-purple"
                                               title="Export all probills from a XML from NumaProgram">Import from
                                                XML</a>
                                        </li>
                                        {% endif %}
                                        {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_BILLING') %}
                                            {% if billingPeriod.status==2 %}
                                                <li>
                                                    <a href="{{ path('billingperiod_showto_customers', { 'billingPeriod': billingPeriod.id }) }}"
                                                       class="btn btn-primary download_all" title="Missing images">Show
                                                        to
                                                        Customers</a>
                                                </li>
                                            {% endif %}
                                        {% endif %}
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <ul class="list-inline">
                        <li>
                            <a class="btn btn-success" href="{{ path('billingperiod_new') }}">Create a new Billing
                                Period</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% include 'NumaCCCAdminBundle::deleteConfirm.js.twig' %}

{% endblock %}
