{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}
{% form_theme searchForm 'bootstrap_3_layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/bundles/whiteoctoberpagerfanta/css/pagerfantaDefault.css') }}"
          type="text/css" media="all"/>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12 widget-box">
            <div class="widget-header widget-header-large">
                <h4 class="widget-title">List of Probills Pictures</h4>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <form action="{{ path('billingperiod_probills_images') }}" method="get" class="form-inline" name="search">
                        <h1>List of Probills Pictures</h1>
                        <p>Step 1</p>
                        <p>Please pick the billing Perod where the probill you need was billed from.</p>
                        <p>Step 2</p>
                        <p>Enter the probill number you require. Press "Search"</p>

                        {#{{ form_widget(searchForm) }}#}
                        <div class="form-group">
                            {{ form_errors(searchForm) }}
                            {{ form_row(searchForm.batch) }}
                            {{ form_row(searchForm.text) }}
                            <div class="form-group">
                                {{ form_row(searchForm.submit) }}
                            </div>
                            {{ form_rest(searchForm) }}

                        </div>
                    </form>
                    {% if formSubmit %}
                        {% if pagerfanta.currentPageResults|length > 0 %}
                            <div class="pagerfanta">{{ pagerfanta(pagerfanta, 'twitter_bootstrap3') }}</div>
                            <table class="records_list table table-bordered table-hover">
                                <caption>Probills list</caption>
                                <thead>
                                <tr>

                                    <th>Waybill</th>

                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for entity in pagerfanta.currentPageResults %}
                                <tr>
                                    <td>{{ entity.waybill }} {{ entity.subItem }}</td>

                                    <td>
                                        <ul class="list-inline">
                                            <li>
                                                <a href="{{ path('probill_scan_show', { 'id': entity.id }) }}"
                                                   class="btn btn-primary">Show scan image</a>
                                            </li>
                                            {#<li>
                                                <a href="{{ path('probills_single_report', { 'id': entity.id }) }}" class="btn btn-primary" target="_blank" >Single report</a>
                                            </li>#}
                                        </ul>
                                    </td>
                                    </li>
                                    {% endfor %}

                                </tbody>
                            </table>
                        {% else %}
                            <p>
                                No entry for the current search request
                            </p>
                        {% endif %}
                    {% else %}
                    {% endif %}
                    {#<ul class="list-inline">
                        <li>
                            <a href="{{ path('probills_new') }}" class="btn btn-primary">
                                Create a new entry
                            </a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-primary" target="blank">
                                Create full report
                            </a>
                        </li>
                    </ul>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
