<html>
<head>
    <style>
        {% include "NumaCCCAdminBundle:report:customerSummary/styles.css.twig" %}

    </style>
</head>
<body>


{% include "NumaCCCAdminBundle:report:header.pdf.twig" %}
<table width="100%" class="customers">
    <tr>
        <td>

            {% for customer in customers %}

                {% include "NumaCCCAdminBundle:report:driverSummary/driver.html.twig" %}
            {% endfor %}
        </td>
    </tr>
</table>
{% include "NumaCCCAdminBundle:report:header.pdf.twig" %}
<table width="100%">
    <tr>
        <td>
            {% include "NumaCCCAdminBundle:report:customerSummary/officeOnly.html.twig" %}
        </td>
    </tr>
</table>
</body>
</html>