{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/bundles/whiteoctoberpagerfanta/css/pagerfantaDefault.css') }}"
          type="text/css" media="all"/>
    <script>
        $(document).ready(function () {
            $('a.download_all').click(function (ev) {
                $("div#flashmsg").html('<div class="alert alert-success">NOTE: If you are pressing the "Download All Reports" button, please be patient as it could take up to 3 minutes to generate all 4 reports and compile it into one zipped file for you to download.</div>');
            });
        });
    </script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12 widget-box">
            <div class="widget-header widget-header-large">
                <h4 class="widget-title">Billing periods list</h4>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <div id="flashmsg"></div>
                    <table class="records_list table  table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Date Start</th>
                            <th>Date Ends</th>
                            <th>Report (XLS)</th>
                            <th>Report (PDF)</th>
                            <th>Invoice</th>
                            <th>Newsletter</th>
                            <th>Download All Reports</th>
                            <th>Download All Images</th>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <th>Missing images</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr {% if (loop.index==1) %}class="first"{% endif %}>
                                <td>{% if entity.started %}{{ entity.started|date('Y-m-d') }}{% endif %}</td>
                                <td>{% if entity.closed %}{{ entity.closed|date('Y-m-d') }}{% endif %}</td>
                                <td>
                                    <a href="{{ path('customer_detail_report_xsl', { 'batchid': entity.id }) }}"
                                       class="btn btn-primary"
                                       target="_blank" title="Customer Details Report">Details report (XLS)</a>
                                </td>
                                <td>
                                    <a href="{{ path('customer_detail_report_pdf', { 'batchid': entity.id }) }}"
                                       class="btn btn-primary"
                                       target="_blank" title="Customer Details Report">Details report (PDF)</a>
                                </td>
                                <td>
                                    <a href="{{ path('probills_batch_report', { 'batchid': entity.id }) }}"
                                       class="btn btn-primary"
                                       title="Invoice report for all the customers in this batch.">Invoice report</a>
                                </td>
                                <td>
                                    {% if file_exists(entity.getUploadRootDir()~"newsletter.pdf") %}
                                        <a href="{{ path('download',{'filename':'newsletter.pdf','folder':entity.getId()}) }}"
                                           class="btn btn-primary" target="_blank" title="Newsletter">Download
                                            Newsletter</a>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ path('download_all', { 'batchid': entity.id }) }}"
                                       class="btn btn-primary download_all"
                                       title="Download All Reports">Download All Reports</a>
                                </td>
                                <td>
                                    <a href="{{ path('download_zip', { 'batchid': entity.id }) }}"
                                       class="btn btn-primary download_all"
                                       title="Download all images">Download All Probill Images</a>
                                </td>
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <td>
                                        <a href="{{ path('batch_missing_images', { 'batchid': entity.id }) }}"
                                           class="btn btn-primary download_all" title="Missing images">Missing
                                            images</a>
                                    </td>
                                {% endif %}

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
