{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pickups list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Address</th>
                <th>Pieces</th>
                <th>Weight</th>
                <th>Date_created</th>
                <th>Date_updated</th>
                <th>Probill_id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pickup in pickups %}
            <tr>
                <td><a href="{{ path('pickup_show', { 'id': pickup.id }) }}">{{ pickup.id }}</a></td>
                <td>{{ pickup.address }}</td>
                <td>{{ pickup.pieces }}</td>
                <td>{{ pickup.weight }}</td>
                <td>{% if pickup.datecreated %}{{ pickup.datecreated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if pickup.dateupdated %}{{ pickup.dateupdated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ pickup.probillid }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('pickup_show', { 'id': pickup.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('pickup_edit', { 'id': pickup.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pickup_new') }}">Create a new pickup</a>
        </li>
    </ul>
{% endblock %}
