{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pickup</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pickup.id }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ pickup.address }}</td>
            </tr>
            <tr>
                <th>Pieces</th>
                <td>{{ pickup.pieces }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ pickup.weight }}</td>
            </tr>
            <tr>
                <th>Date_created</th>
                <td>{% if pickup.datecreated %}{{ pickup.datecreated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Date_updated</th>
                <td>{% if pickup.dateupdated %}{{ pickup.dateupdated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Probill_id</th>
                <td>{{ pickup.probillid }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pickup_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('pickup_edit', { 'id': pickup.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
