<table style="margin-top:0.5cm;font-size: 9pt; border-collapse: collapse;" border="0">

    <tr class="">
        <td class="col billtype-header" >{{ section_title }}</td>
        <td class="" colspan="16"></td>
    </tr>
</table>