{#start CTY#}
    {% set anyCty = customer.CTY is defined and  customer.CTY|length>0 %}
    {% set anyHwy = customer.HWY is defined and  customer.HWY|length>0 %}
    {% set customerShown = false %}
    {% if anyCty %}
        {% set customerShown = true %}
        <table class="" style="font-size: 12pt; border-collapse: collapse;" border="0">
            <tr class="">
                <td class="" colspan="16"><b>{{ customer.name }}({{ key }})</b></td>
            </tr>
        </table>
        {% include "NumaCCCAdminBundle:report:customerDelivery/ctyhwySectionHeader.html.twig" with {"section_title":"City Details:"} %}

        <table class="items" style="font-size: 9pt; border-collapse: collapse;" border="0">
            {% include "NumaCCCAdminBundle:report:customerDelivery/tableHeader.html.twig" %}
            <tbody>
            {% include "NumaCCCAdminBundle:report:customerDelivery/deptData.html.twig" with {"deptData":customer.CTY,"deptTotal":totals[key]['CTY']} %}
            {% include "NumaCCCAdminBundle:report:customerDelivery/sectionTotal.html.twig" with {"title":"City sub totals:","deptTotal":totals[key]['CTY']} %}
            {% if not (customer.HWY is defined and  customer.HWY|length>0) %}
                {% include "NumaCCCAdminBundle:report:customerDelivery/grandTotal.html.twig" %}
            {% endif %}
            </tbody>
        </table>
    {% endif %}
{#end CTY#}
    {% if anyHwy %}
        {% if not anyCty %}
            <table class="" style="font-size: 9pt; border-collapse: collapse;" border="0">
                <tr class="">
                    <td class="" colspan="16">{{ customer.name }}({{ key }})</td>
                </tr>
            </table>
        {% endif %}
        {% include "NumaCCCAdminBundle:report:customerDelivery/ctyhwySectionHeader.html.twig" with {"section_title":"Hwy Details:"} %}
        <table class="items" style="font-size: 9pt; border-collapse: collapse;" border="0">
            {% include "NumaCCCAdminBundle:report:customerDelivery/tableHeader.html.twig" %}
            <tbody>
            {% include "NumaCCCAdminBundle:report:customerDelivery/deptData.html.twig" with {"deptData":customer.HWY,"deptTotal":totals[key]['HWY']} %}
            {% include "NumaCCCAdminBundle:report:customerDelivery/sectionTotal.html.twig" with {"title":"Hiway sub totals:","deptTotal":totals[key]['HWY']} %}
            {% if customerShown %}
                {% include "NumaCCCAdminBundle:report:customerDelivery/grandTotal.html.twig" %}
            {% endif %}
            </tbody>
        </table>
    {% endif %}
