{#deptData = customer.CTY#}
{#deptTotal = totals[key]['CTY'][key2] #}
{% for key2,cty in deptData %}
    {% if (deptData|length==1 and key2|trim|length==0) %}
    {% else %}
        <tr class="">
            <td class="dept" colspan="16">
                Department: {{ key2 }}
            </td>
        </tr>
    {% endif %}
    {% for probill in cty['probills'] %}
        <tr>
            <td class="datacol col probill">{{ probill.waybill }} {{ probill.subitem }}</td>
            <td class="datacol col date">{{ probill.p_date|date('Y-m-d') }}</td>
            <td class="datacol col ref">{{ probill.ref }}</td>
            <td class="datacol col pces">{{ probill.PCE }}</td>
            <td class="datacol col wgt">{{ probill.WGT }}</td>
            <td class="datacol col shipper">{{ probill.shipper }}</td>
            <td class="datacol col receiver">{{ probill.receiver }}</td>
            <td class="datacol col time">{{ probill.time }}</td>
            <td class="datacol col signature">{{ probill.signature }}</td>
            <td class="datacol col driver">{{ probill.driver }}</td>
            <td class="datacol col vc">{{ probill.vehicle_code }}</td>
            <td class="datacol col fs">{{ probill.FS }}</td>
            <td class="datacol col fsamt">$ {{ probill.FSamt|number_format(2, '.', ',') }}</td>
            <td class="datacol col tripamt">$ {{ probill.total|number_format(2, '.', ',') }}</td>
            <td class="datacol col type">{{ probill.serv_type }}</td>
            {#<td class="datacol col comment">{{ probill.details }}</td>#}
            <td class="datacol col comment">{{ probill.details|replace({'/': '/ ', ',': ', '})|replace({'  ': ' '})|slice(0,30) }}</td>
        </tr>
    {% endfor %}
    {% if deptData|length>1 %}
        {% include "NumaCCCAdminBundle:report:customerDelivery/deptTotal.html.twig" with {"deptTotal":deptTotal} %}
    {% endif %}
{% endfor %}