{% if deptTotal is defined and deptTotal is not empty %}
    <tr class="">

        <td class="col" colspan="6">&nbsp;</td>
        <td class="col" colspan="4"><strong>Department Total:</strong></td>
        <td class="col" colspan="2">&nbsp;</td>
        <td class="col">
            <strong>$ {{ deptTotal[key2]['FSamt']|number_format(2, '.', ',') }}</strong>
        </td>
        <td class="col" colspan="2">
            <strong>$ {{ deptTotal[key2]['total']|number_format(2, '.', ',') }}</strong>
        </td>

        <td class="col">&nbsp;</td>

    </tr>
{% endif %}