<tr class="">
    <td colspan="14">
        &nbsp;
    </td>
</tr>
<tr class="grandtotal">
    <td style="font-size: 14pt" colspan="6">GRAND TOTAL OF ENTIRE REPORT</td>
    <td colspan="6">GRAND TOTAL OF TRIP CHARGES (Before tax)</td>

    <td class="2">$ {{ totals[key]['total']|number_format(2, '.', ',') }}</td>
    <td colspan="2">&nbsp;</td>
</tr>
<tr class="grandtotal">
    <td colspan="6"></td>
    <td colspan="6">GRAND TOTAL OF FUEL SURCHARGES (Before tax)</td>
    <td colspan="2">$ {{ totals[key]['FSamt']|number_format(2, '.', ',') }}</td>
    <td colspan="2">&nbsp;</td>
</tr>
<tr class="grandtotal">
    <td colspan="6"></td>
    <td colspan="6">TOTAL CHARGES (Before tax)</td>
    <td colspan="2">$ {{ (totals[key]['FSamt']+totals[key]['total'])|number_format(2, '.', ',') }}</td>
    <td colspan="2">&nbsp;</td>
</tr>