{% if deptTotal is defined and deptTotal is not empty %}
    <tr class="subtotals">
        <td class=" subtotals" colspan="2">{{ title }}</td>
        <td class=" ">&nbsp;</td>

        <td class="">{{ deptTotal['pce'] }}</td>
        <td class="">{{ deptTotal['wgt'] }}</td>
        <td class="" colspan="7">&nbsp;</td>

        <td class=" ">$ {{ deptTotal['FSamt']|number_format(2, '.', ',') }}</td>
        <td class=" ">$ {{ deptTotal['total']|number_format(2, '.', ',') }}</td>
        <td class="">&nbsp;</td>
        <td class=" ">&nbsp;</td>

    </tr>
{% endif %}