<thead>
<tr class="header" style="">
    <th class="col probill" style="width:2cm">Pro #</th>
    <th class="col date" style="width:2cm">Date</th>
    <th class="col ref">Ref</th>
    <th class="col pces">Pces</th>
    <th class="col wgt">WGT</th>
    <th class="col shipper">Shipper</th>
    <th class="col receiver">Receiver</th>
    <th class="col time">Time</th>
    <th class="col signature">Signature</th>
    <th class="col driver">Drv#</th>
    <th class="col vc">VC</th>
    <th class="col fs">FS%</th>
    <th class="col fsamt">FS Amt</th>
    <th class="col tripamt" style="width:2cm">Trip Amt.</th>
    <th class="col type">Type</th>
    <th class="col comment" style="width:5cm">Comments</th>
</tr>
</thead>