{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}
{% block content %}
    <div class="col-lg-12 widget-box">
        <div class="widget-header widget-header-large">
            <h1>Detached</h1>
        </div>
        <div class="widget-body probill_form">
            <div class="widget-main">
                <div id="flashmsg"></div>
                <h4>Detached Probills</h4>
                <table class="records_list table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>dateCreated</th>
                        <th>dateUpdated</th>
                        <th>Waybill</th>
                        <th>Customer</th>
                        <th>Driver</th>
                        <th>initials</th>
                        <th>batch</th>


                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in detached %}
                        <tr>
                            <td>{{ entity.id }}</td>
                            <td>{{ entity.dateCreated|date('Y-m-d H:i:s') }}</td>
                            <td>{{ entity.dateUpdated|date('Y-m-d H:i:s') }}</td>
                            <td>{{ entity.waybill }}</td>
                            <td>{{ entity.customer }}</td>
                            <td>{{ entity.drivers }}</td>

                            <td>{{ entity.usersInitials }}</td>
                            <td>{{ entity.batchId }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h4>No vehtype Probills</h4>
                <table class="records_list table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>dateCreated</th>
                        <th>dateUpdated</th>
                        <th>Waybill</th>
                        <th>Customer</th>
                        <th>Driver</th>
                        <th>initials</th>
                        <th>batch</th>
                        <th>Billing Period</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in vehtype %}
                        <tr>
                            <td>{{ entity.id }}</td>
                            <td>{{ entity.dateCreated|date('Y-m-d H:i:s') }}</td>
                            <td>{{ entity.dateUpdated|date('Y-m-d H:i:s') }}</td>
                            <td>{{ entity.waybill }}</td>
                            <td>{{ entity.customer }}</td>
                            <td>{{ entity.drivers }}</td>
                            <td>{{ entity.usersInitials }}</td>
                            {% if entity.batchPB is defined and entity.batchPB is not empty  %}
                                <td>{{ entity.batchPB.id }} : {{ entity.batchPB.name }}</td>
                            {% endif %}
                            {% if entity.batchPB is defined and entity.batchPB is not empty  %}
                                <td>{{ entity.batchPB.billingPeriod.id }} : {{ entity.batchPB.billingPeriod.name }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h4>No Drivers Probills</h4>
                <table class="records_list table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>dateCreated</th>
                        <th>dateUpdated</th>
                        <th>Waybill</th>
                        <th>Customer</th>
                        <th>Driver</th>
                        <th>initials</th>
                        <th>batch</th>
                        <th>Billing Period</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in driver %}
                        <tr>
                            <td>{{ entity.id }}</td>
                            <td>{{ entity.dateCreated|date('Y-m-d H:i:s') }}</td>
                            <td>{{ entity.dateUpdated|date('Y-m-d H:i:s') }}</td>
                            <td>{{ entity.waybill }}</td>
                            <td>{{ entity.customer }}</td>
                            <td>{{ entity.drivers }}</td>
                            <td>{{ entity.usersInitials }}</td>
                            {% if entity.batchPB is defined and entity.batchPB is not empty  %}
                                <td>{{ entity.batchPB.id }} : {{ entity.batchPB.name }}</td>
                            {% endif %}
                            {% if entity.batchPB is defined and entity.batchPB is not empty  %}
                                <td>{{ entity.batchPB.billingPeriod.id }} : {{ entity.batchPB.billingPeriod.name }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h4>No Customer Probills</h4>
                <table class="records_list table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>dateCreated</th>
                        <th>dateUpdated</th>
                        <th>Waybill</th>
                        <th>Customer</th>
                        <th>Driver</th>
                        <th>initials</th>
                        <th>batch</th>
                        <th>Billing Period</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in customer %}
                        <tr>
                            <td>{{ entity.id }}</td>
                            <td>{{ entity.dateCreated|date('Y-m-d H:i:s') }}</td>
                            <td>{{ entity.dateUpdated|date('Y-m-d H:i:s') }}</td>
                            <td>{{ entity.waybill }}</td>
                            <td>{{ entity.customer }}</td>
                            <td>{{ entity.drivers }}</td>
                            <td>{{ entity.usersInitials }}</td>
                            {% if entity.batchPB is defined and entity.batchPB is not empty  %}
                                <td>{{ entity.batchPB.id }} : {{ entity.batchPB.name }}</td>
                            {% endif %}
                            {% if entity.batchPB is defined and entity.batchPB is not empty  %}
                                <td>{{ entity.batchPB.billingPeriod.id }} : {{ entity.batchPB.billingPeriod.name }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h4>No Rates Probills</h4>
                <table class="records_list table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>dateCreated</th>
                        <th>dateUpdated</th>
                        <th>Waybill</th>
                        <th>Customer</th>
                        <th>Driver</th>
                        <th>initials</th>
                        <th>batch</th>
                        <th>Billing Period</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in rates %}
                        <tr>
                            <td>{{ entity.id }}</td>
                            <td>{{ entity.dateCreated|date('Y-m-d H:i:s') }}</td>
                            <td>{{ entity.dateUpdated|date('Y-m-d H:i:s') }}</td>
                            <td>{{ entity.waybill }}</td>
                            <td>{{ entity.customer }}</td>
                            <td>{{ entity.drivers }}</td>
                            <td>{{ entity.usersInitials }}</td>
                            {% if entity.batchPB is defined and entity.batchPB is not empty  %}
                                <td>{{ entity.batchPB.id }} : {{ entity.batchPB.name }}</td>
                            {% endif %}
                            {% if entity.batchPB is defined and entity.batchPB is not empty  %}
                                <td>{{ entity.batchPB.billingPeriod.id }} : {{ entity.batchPB.billingPeriod.name }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
