{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}
{% block content %}
    <h1>Export to numa</h1>
    <ul>
    {% for bp in billingPeriods  %}
        <li><a class="btn btn-success" href="{{ path('system_do_export',{'billingPeriod':bp.id}) }}">generate export XML file for {{ bp }}</a></li>
    {% endfor %}
    </ul>
<a class="btn btn-primary" href="{{ app.request.getSchemeAndHttpHost()}}/upload/export.xml?dummy=dummy" download>Download Export file ({{ fileinfo }})</a>
{% endblock %}
