<table width="100%" class="cheque">
    <tr>
        <th>Contractor WCB Firm #</th>
        <th>Driver #</th>
        <th>Contractor Name and Address</th>
        <th>Description of Work Performed</th>
        <th>Contract Amount (exclude GST/PST)</th>
        <th>Labour Type (labour, Labour and Materials, Labour and Equipment)</th>
        <th>Labour Position</th>
        <th>Start Date</th>
        <th>End Date</th>
    </tr>

    {% for cheque in cheques %}
        <tr>
            <td></td>

            <td>{% if cheque.driver is defined and cheque.driver is not empty %}{{ cheque.driver.Drivernum }}{% endif %}</td>
            <td>{% if cheque.driver is defined and cheque.driver is not empty %}{{ cheque.driver.Drivernam }}, {{ cheque.driver.address }}{% endif %}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    {% endfor %}

</table>

