{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/bundles/whiteoctoberpagerfanta/css/pagerfantaDefault.css') }}"
          type="text/css" media="all"/>
    <script>
        $(document).ready(function () {
            $('a.download_all').click(function (ev) {
                $("div#flashmsg").html('<div class="alert alert-success">NOTE: If you are pressing the "Download All Reports" button, please be patient as it could take up to 3 minutes to generate all 4 reports and compile it into one zipped file for you to download.</div>');
            });
        });
    </script>
    <style>
        form div{
            float: left;
            margin-left: 10px;

        }
        form div button.btn{
            padding: 2px 12px;
        }
        table th,table td {
            white-space: nowrap;
        }
    </style>
{% endblock %}
{% block content %}

    {#{% include 'NumaCCCAdminBundle::deleteConfirm.js.twig' %}#}
    {#{% endblock %}#}
    <div class="row">
        <div class="col-lg-12 widget-box">
            <div class="widget-header widget-header-large">
                <h4 class="widget-title">Invoiced Billing Period</h4>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <div id="flashmsg"></div>




                    <div id="tabs" class="container">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a  href="#1" data-toggle="tab">Non Billed Trips</a>
                            </li>
                            <li>
                                <a href="#2" data-toggle="tab">Detailed Reports of all Invoiced Billing Periods</a>
                            </li>
                        </ul>

                        <div class="tab-content ">
                            <div class="tab-pane active" id="1">
                                <h3>Non Billed Trips</h3>
                                {{ form(searchForm) }}
                                <div class="clearfix" ></div>
                                {% if formSubmit and pagerfanta.currentPageResults|length > 0 %}
                                    <div class="pagerfanta">{{ pagerfanta(pagerfanta, 'twitter_bootstrap3') }}</div>
                                    <table class="records_list table table-bordered table-hover">
                                        <caption>Probills list <span>(total: {{ pagerfanta.count() }})</span></caption>
                                        <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Waybill</th>
                                            <th>Details</th>
                                            <th>Scans</th>
                                            <th>Pdf</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for entity in pagerfanta.currentPageResults %}
                                            <tr>
                                                <td>{{ entity.pDate|date("d-M-Y") }} </td>
                                                <td>{{ entity.waybill }} {{ entity.subItem }}</td>

                                                <td>
                                                    <a class="btn btn-primary"
                                                       href="{{ path("pending_detail_report",{'id':entity.id}) }}"
                                                       data-toggle="detail_modal" data-target="#myModal">Details</a>
                                                </td>
                                                <td>
                                                    <a href="{{ path('pending_scans', { 'id': entity.id }) }}"
                                                       class="btn btn-primary">Show scan
                                                        image</a>
                                                </td>
                                                <td>
                                                    <a href="{{ path('pending_pdf', { 'id': entity.id }) }}"
                                                       class="btn btn-primary">Pdf</a>
                                                </td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                {% else %}
                                    <p>
                                        {#No entry for the current search request#}
                                    </p>
                                {% endif %}


                                <!-- Modal -->
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                                     aria-hidden="true"
                                     data-backdrop="static" data-keyboard="false">
                                    <div class="modal-dialog detail-modal">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-hidden="true">&times;</button>
                                                <h4 class="modal-title">Probill Details</h4>

                                            </div>
                                            <div class="modal-body">sss</div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div>

                                <script>
                                    $(document).ready(function () {
                                        var $modal = $('#ajax-modal');

                                        $(document).ready(function () {
                                            $('[data-toggle="detail_modal"]').click(function (e) {
                                                e.preventDefault();
                                                var url = $(this).attr('href');
                                                if (url.indexOf('#') == 0) {
                                                    $(url).modal('open');
                                                } else {
                                                    $.get(url, function (data) {
                                                        $("#myModal").find(".modal-body").html(data);
                                                        $("#myModal").modal();
                                                        //$('<div class="modal hide fade">' + data + '</div>').modal();
                                                    }).success(function () {
                                                        $('input:text:visible:first').focus();
                                                    });
                                                }
                                            });

                                        });


                                    });
                                </script>
                            </div>
                            <div class="tab-pane" id="2">
                                <h3>Invoice Billing Periods</h3>
                                <table class="records_list table  table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>Date Start</th>
                                        <th>Date Ends</th>
                                        <th>Report (XLS)</th>
                                        <th>Report (PDF)</th>
                                        <th>Invoice</th>
                                        <th>Newsletter</th>
                                        <th>Download All Reports</th>
                                        <th>Download All Images</th>
                                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                                            <th>Missing images</th>
                                        {% endif %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for entity in entities %}
                                        <tr {% if (loop.index==1) %}class="first"{% endif %}>
                                            <td>{% if entity.started %}{{ entity.started|date('M d, Y') }}{% endif %}</td>
                                            <td>{% if entity.closed %}{{ entity.closed|date('M d, Y') }}{% endif %}</td>
                                            <td>
                                                <a href="{{ path('report_customer_details_all_billing_period_xls', { 'billing_period': entity.id }) }}"
                                                   class="btn btn-primary"
                                                   target="_blank" title="Customer Details Report">Details report (XLS)</a>
                                            </td>
                                            <td>
                                                <a href="{{ path('report_customer_details_all_billing_period', { 'billing_period': entity.id }) }}"
                                                   class="btn btn-primary"
                                                   target="_blank" title="Customer Details Report">Details report (PDF)</a>
                                            </td>
                                            <td>
                                                <a href="{{ path('report_invoices_billing_period', { 'billing_period': entity.id }) }}"
                                                   class="btn btn-primary"
                                                   title="Invoice report for all the customers in this batch.">Invoice report</a>
                                            </td>
                                            <td>
                                                {#{% if file_exists(entity.getUploadRootDir()~"newsletter.pdf") %}#}
                                                {#<a href="{{ path('download',{'filename':'newsletter.pdf','folder':entity.getId()}) }}"#}
                                                {#class="btn btn-primary" target="_blank" title="Newsletter">Download#}
                                                {#Newsletter</a>#}
                                                {#{% endif %}#}
                                            </td>
                                            <td>
                                                <a href="{{ path('download_all', { 'batchid': entity.id }) }}"
                                                   class="btn btn-primary download_all"
                                                   title="Download All Reports">Download All Reports</a>
                                            </td>
                                            <td>
                                                <a href="{{ path('download_zip', { 'batchid': entity.id }) }}"
                                                   class="btn btn-primary download_all"
                                                   title="Download all images">Download All Probill Images</a>
                                            </td>
                                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                                <td>
                                                    <a href="{{ path('batch_missing_images', { 'batchid': entity.id }) }}"
                                                       class="btn btn-primary download_all" title="Missing images">Missing
                                                        images</a>
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
{% endblock %}
