{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-lg-12 widget-box">
            <div class="widget-header widget-header-large">
                <h4 class="widget-title">Finish the Billing period {{ billing.started|date("Y-m-d") }}</h4>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <div id="flashmsg"></div>
                </div>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}