{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12 widget-box">
            <div class="widget-header widget-header-large">
                <h4 class="widget-title">Import probills from a XML from NumaProbills, for the Billing period: {{ billing.started|date("Y-m-d") }}</h4>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <div id="flashmsg"></div>
                </div>
                {#{{ form(form) }}#}
            </div>
        </div>
    </div>
{% endblock %}