{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12 widget-box">
            <div class="widget-header widget-header-large">
                <h4 class="widget-title">Driver Pay periods</h4>
                <div class="widget-toolbar"><div class="widget-toolbar"><a class="btn btn-success" href="{{ path('payperiod_new') }}">Add new Pay Period</a></div>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <div id="flashmsg"></div>
                    <table class="records_list table  table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Pay Period Name</th>
                            <th>Pay Period Start</th>
                            <th>Pay Period Closed</th>
                            <th>From Billing Period</th>
                            <th>Period Type</th>
                            <th>WCB rate</th>
                            <th>WCB Deduction</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for payPeriod in payPeriods %}

                            <tr class="{%  if payPeriod.status==2 %}danger{% endif %}">
                                <td>
                                    <a href="{{ path('payperiod_edit', { 'id': payPeriod.id }) }}">{{ payPeriod.id }}</a>
                                </td>
                                <td>{{ payPeriod.name }}</td>
                                <td>{{ payPeriod.started|date('Y-m-d')  }}</td>
                                <td>{{ payPeriod.closed|date('Y-m-d')  }}</td>


                                <td>{{ payPeriod.billingPeriod }}</td>
                                <td>{{ payPeriod.getTypeString() }}</td>
                                <td>{{ payPeriod.wcbRate }}</td>
                                <td>{{ payPeriod.wcbDeduction }}</td>

                                <td>
                                    <ul class="list-inline">
                                        <li>
                                            <a class="btn btn-warning"  href="{{ path('payperiod_edit', { 'id': payPeriod.id }) }}">edit</a>
                                        </li>
                                        <li>
                                            <a class="btn btn-purlple"  href="{{ path('payperiod_generate_cheques', { 'payPeriod': payPeriod.id }) }}">Generate Cheques</a>
                                        </li>
                                        <li>
                                            <a class="btn btn-primary"  href="{{ path('cheque_entry', { 'pay_period': payPeriod.id }) }}">Driver Checks ({{ chequeService.countChequesInPayPeriod(payPeriod.id) }})</a>
                                        </li>
                                        <li>
                                            <a target="_blank" class="btn btn-yellow"  href="{{ path('cheque_print_wcb', { 'pay_period': payPeriod.id }) }}">Print Driver Report</a>
                                        </li>
                                        <li>
                                            <a  target="_blank" class="btn btn-purple"  href="{{ path('cheque_print_all_cheque', { 'pay_period': payPeriod.id }) }}">Print Whole Batch</a>
                                        </li>
                                        <li>
                                            {%  if payPeriod.status==2 %}
                                                <a class="btn btn-danger"  href="{{ path('payperiod_unarchive', { 'id': payPeriod.id }) }}">Unarchive</a>
                                            {%  else %}
                                                <a class="btn btn-danger"  href="{{ path('payperiod_archive', { 'id': payPeriod.id }) }}">Archive</a>
                                            {% endif %}
                                        </li>

                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
