{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}

{% block content %}

    <h1>Billingperiod</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ billingPeriod.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ billingPeriod.name }}</td>
            </tr>
            <tr>
                <th>Started</th>
                <td>{% if billingPeriod.started %}{{ billingPeriod.started|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Closed</th>
                <td>{% if billingPeriod.closed %}{{ billingPeriod.closed|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Working_days</th>
                <td>{{ billingPeriod.workingdays }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{ billingPeriod.user }}</td>
            </tr>

        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('billingperiod_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('billingperiod_edit', { 'id': billingPeriod.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
