<html>
<head>
<style>
    .cheque-page {
        page-break-after: always;
    }
    table.third {
        height: 200px;
        width: 100%;
    }

    table.third tr td{
        height: 0.74cm;
        /*border: 1px solid red;*/
        font-size: 10pt;
    }
    table.third tr td.amount_in_word{
        font-size: 8pt;
    }

    table.third tr td.first{
        width: 2cm;
    }
</style>
</head>
<body>