{% for cheque in cheques %}
    <div {% if not loop.last %}class="cheque-page"{% endif %}>
        <table width="100%" class="third">
            <tr>
                <td colspan="5"></td>

            </tr>
            <tr>
                <td class="first"></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ cheque.chequeDate|date("Y-m-d") }}</td>
            </tr>


            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>

            <tr>
                <td></td>
                <td colspan="3" class="amount_in_word">{{ cheque.amountInWord }}</td>
                <td>$ {{ cheque.netAmount }}</td>
            </tr>

            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="4">
                    <p>{{ cheque.driver.drivernam }}</p>
                    <p>{{ cheque.driver.address }}</p>
                    <p>{{ cheque.driver.city }}, {{ cheque.driver.postal }}</p>
                </td>

            </tr>
            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>
        </table>
        {% for i in 1..2 %}
            <table class="third">
                <tr>
                    <td colspan="2"><strong>{{ cheque.driver.drivernam }}</strong></td>
                    <td colspan="1">Date: {{ cheque.chequeDate|date("Y/m/d") }}</td>
                    <td colspan="2">Period</td>
                </tr>
                <tr>
                    <td colspan="2">Cheque</td>
                    <td colspan="1">yyyy/mm/dd</td>
                    <td colspan="2">{{ cheque.payperiod.started|date("Y/m/d") }}
                        - {{ cheque.payperiod.closed|date("Y/m/d") }}</td>
                </tr>

                <tr>
                    <td colspan="2">Gross amount before deduction</td>
                    <td colspan="1">$ {{ cheque.lumpSumPayAmt }}
                    <td>Misc. Deductions (Includes GST)</td>
                    <td>Total</td>
                </tr>
                <tr>
                    <td class="first"></td>
                    <td><strong>Deduction</strong></td>
                    <td></td>
                    <td>Misc 1</td>
                    <td>$ {{ cheque.misc1 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>WCB</td>
                    <td>$ {{ cheque.wcb }}</td>
                    <td>{{ cheque.misc1Description }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Contract (includes GST)</td>
                    <td>$ {{ cheque.contract }}</td>

                    <td>Misc 2</td>
                    <td>$ {{ cheque.misc2 }}</td>
                </tr>

                <tr>
                    <td></td>
                    <td>Social Fund</td>
                    <td>$ {{ cheque.socialFund }}</td>
                    <td>{{ cheque.misc2Description }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Fuel Includes GST</td>
                    <td>$ {{ cheque.fuelTotal }}</td>

                    <td>Misc 3</td>
                    <td>$ {{ cheque.misc3 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Fuel Card Fee</td>
                    <td>$ {{ cheque.fuelCardFee }}</td>
                    <td>{{ cheque.misc3Description }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Advance</td>
                    <td>$ {{ cheque.advance }}</td>

                    <td>Misc 4</td>
                    <td>$ {{ cheque.misc4 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Fuel Card Fee Includes</td>
                    <td>$ {{ cheque.advance }}</td>

                    <td>Total Deduction</td>
                    <td>$ {{ cheque.deducTotal }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>$ {{ cheque.netAmount }}</td>
                </tr>
                {% if i==1 %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endif %}
            </table>
        {% endfor %}
    </div>
{% endfor %}