{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}
{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block content -%}
    <div class="row">
        <div class="col-lg-12 widget-box">
            <div class="widget-header widget-header-large">
                <h1 class="widget-title">Customers Preprint</h1>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    {{ form_start(edit_form,{'attr':{'id':'preprint-form'}}) }}
                    <div class="row">
                        <div class="col-md-4">
                            {{ form_row(edit_form.Customer) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(edit_form.dept) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(edit_form.pickup) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            {{ form_row(edit_form.po) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(edit_form.delivery) }}
                        </div>
                    </div>
                    {{ form_end(edit_form) }}
                    <div class="row">
                        <div class="col-md-12" id="locations">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        $("#numa_cccadminbundle_preprint_Customer").change(function () {
            id = $(this).val();
            refreshLocations(id);
        });
        function refreshLocations(id) {
            console.log(window.location.hostname)
            console.log(window.location.protocol)
            url1 = window.location.protocol + "//" + window.location.hostname + "/admin/customers/" + id + "/locations";
            console.log(url1)
            $.ajax({
                type: "POST",
                dataType: "json",
                url: window.location.protocol + "//" + window.location.hostname + "/admin/customers/" + id + "/locations",
                async: false
            }).complete(function (data) {
                response = data.responseText
                $("#locations").html(response);

            })
        }

        function savePreprint() {
            $.ajax({
                        type: $("#preprint-form").attr('method'),
                        url: $("#preprint-form").attr('action'),
                        data: $("#preprint-form").serialize()
                    })
                    .done(function (data) {
                        if (typeof data.message !== 'undefined') {
                            alert(data.message);
                        }
                        console.log("CLICKdoene")
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        if (typeof jqXHR.responseJSON !== 'undefined') {
                            if (jqXHR.responseJSON.hasOwnProperty('form')) {
                                $('#form_body').html(jqXHR.responseJSON.form);
                            }

                            $('.form_error').html(jqXHR.responseJSON.message);

                        } else {
                            alert(errorThrown);
                        }

                    });

        }

        function saveLocation(form) {
            $.ajax({
                        type: $(form).attr('method'),
                        url: $(form).attr('action'),
                        data: $(form).serialize()
                    })
                    .done(function (data) {
                        if (typeof data.message !== 'undefined') {
                            alert(data.message);
                        }
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        if (typeof jqXHR.responseJSON !== 'undefined') {
                            if (jqXHR.responseJSON.hasOwnProperty('form')) {
                                $('#form_body').html(jqXHR.responseJSON.form);
                            }

                            $('.form_error').html(jqXHR.responseJSON.message);

                        } else {
                            alert(errorThrown);
                        }

                    });
        }

        $('body').on('click', '#print-preprint', function (e) {
            e.preventDefault();

            console.log("CLICK")
            savePreprint()
            saveLocation("#customer_locations");
            href = $(this).attr("href");
            console.log(href);
            window.open(href, '_blank');
        });
        $('body').on('submit', '#customer_locations', function (e) {

            e.preventDefault();
            saveLocation(this)
            savePreprint()
        });


        $(document).ready(function () {
            refreshLocations({{ preprint.getCustomer().getId() }})
        });
    </script>
{% endblock %}