{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}

{% block content -%}
    <div class="row">
        <div class="col-lg-12 widget-box">
            <div class="widget-header widget-header-large">
                <h1 class="widget-title">Customers Preprint</h1>
            </div>
            <div class="widget-body">
                <div class="widget-main">

                </div>
            </div>
        </div>
    </div>
{% endblock %}
