<html>
<body>
<div>
    {% if preprint.customer.location==1 %}
    <div>
        {{ preprint.customer.name }}
    </div>
    <div>
        {{ preprint.customer.loc1address1 }}
    </div>
    <div>
        {{ preprint.customer.loc1address2 }}
    </div>
    <div>
        {{ preprint.customer.loc1city }} {{ preprint.customer.loc1prov }} {{ preprint.customer.loc1city }} {{ preprint.customer.loc1postal }}
    </div>
</div>
{% elseif preprint.customer.location==2 %}
    <div>
        <div>
            {{ preprint.customer.name }}
        </div>
        <div>
            {{ preprint.customer.loc2address1 }}
        </div>
        <div>
            {{ preprint.customer.loc2address2 }}
        </div>
        <div>
            {{ preprint.customer.loc2city }} {{ preprint.customer.loc2prov }} {{ preprint.customer.loc2city }} {{ preprint.customer.loc2postal }}
        </div>
    </div>
{% elseif preprint.customer.location==3 %}
    <div>
        <div>
            {{ preprint.customer.name }}
        </div>
        <div>
            {{ preprint.customer.loc3address1 }}
        </div>
        <div>
            {{ preprint.customer.loc3address2 }}
        </div>
        <div>
            {{ preprint.customer.loc3city }} {{ preprint.customer.loc3prov }} {{ preprint.customer.loc3city }} {{ preprint.customer.loc3postal }}
        </div>
    </div>
{% elseif preprint.customer.location==4 %}
    <div>
        <div>
            {{ preprint.customer.name }}
        </div>
        <div>
            {{ preprint.customer.loc4address1 }}
        </div>
        <div>
            {{ preprint.customer.loc4address2 }}
        </div>
        <div>
            {{ preprint.customer.loc4city }} {{ preprint.customer.loc4prov }} {{ preprint.customer.loc4city }} {{ preprint.customer.loc4postal }}
        </div>
    </div>
{% elseif preprint.customer.location==5 %}
    <div>
        <div>
            {{ preprint.customer.name }}
        </div>
        <div>
            {{ preprint.customer.loc5address1 }}
        </div>
        <div>
            {{ preprint.customer.loc5address2 }}
        </div>
        <div>
            {{ preprint.customer.loc5city }} {{ preprint.customer.loc5prov }} {{ preprint.customer.loc5city }} {{ preprint.customer.loc5postal }}
        </div>
    </div>
{% endif %}
</div>
<div class="dept">
    {{ preprint.dept }}
</div>
<div class="po">
    {{ preprint.po }}
</div>
<div class="pickup">
    {{ preprint.pickup }}
</div>
<div class="pickup">
    {{ preprint.pickup }}
</div>
</body>
</html>