{% set apicall=app.request.getSchemeAndHttpHost()~"/api/driver/all" %}

var app = angular.module('probillApp', [ 'ngTouch', 'ngAnimate', 'ui.grid', 'ui.grid.moveColumns', 'ui.grid.resizeColumns', 'ui.grid.selection', 'ui.grid.expandable', 'ui.bootstrap', 'ui.grid.pinning']);


app.config(function ($interpolateProvider) {
    $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
});

app.controller('probillCtrl', ['$scope', '$http', '$log', '$timeout', 'uiGridConstants', '$q',  function ($scope, $http, $log, $timeout, uiGridConstants, $q) {
    $scope.gridOptions = {
        enableSorting: true,
        showGridFooter: true,
        showGridHeader: true,
        enableFiltering: true,
        enableRowSelection: true,
        enableSelectAll: true,
        selectionRowHeaderWidth: 35,
        enableColumnResizing: true,
    };
    $scope.gridOptions.multiSelect = true;
    $scope.gridOptions.columnDefs = [
        {
            name: 'drivernum',
            enableColumnResizing: true,
            width: 100,
            cellTemplate: '<a href="{{ app.request.getSchemeAndHttpHost() }}/admin/drivers/{[{row.entity.id}]}/edit"  data-toggle="tooltip" title="Edit">{[{row.entity.drivernum}]}</a>'
        },
        {
            name: 'drivernam',
            enableColumnResizing: true,
            width: 100,
        },
        {
            name: 'address',
            enableColumnResizing: true,
            width: 100,
        },
        {
            name: 'city',
            enableColumnResizing: true,
            width: 100,
        }
        ,
        {
            name: 'postal',
            enableColumnResizing: true,
            width: 100,
        },
        {
            name: 'tel',
            enableColumnResizing: true,
            width: 100,
        },
        {
            name: 'cell',
            enableColumnResizing: true,
            width: 100,
        },
        {
            name: 'hired',
            enableColumnResizing: true,
            width: 100,
            cellFilter: 'date:\'yyyy-MM-dd\'',
        },
        {
            name: 'dob',
            enableColumnResizing: true,
            width: 100,
            cellFilter: 'date:\'yyyy-MM-dd\''
        },
        {
            name: 'driv_rate',
            enableColumnResizing: true,
            width: 100,
        },
        {
            name: 'ins_policy',
            enableColumnResizing: true,
            width: 100,
        },
        {
            name: 'ins_amt',
            enableColumnResizing: true,
            width: 100,
        },
        {
            name: 'driv_rate',
            enableColumnResizing: true,
            width: 100,
        },
        {
            name: 'drvsurrate',
            enableColumnResizing: true,
            width: 100,
        },
        {
            name: 'frame_string',
            displayName: 'Frame',
            enableColumnResizing: true,
            width: 50,
        },
        {
            name: 'is_active',
            enableColumnResizing: true,
            cellTemplate: '<span class="{[{row.entity.is_active}]}" >{[{row.entity.is_active}]}</span>',
            width: 100,
        },
        {
            name: 'Actions',
            width: 180,
            enableColumnMenu: false,
            enableSorting: false,
            enableFiltering: false,
            pinnedRight: true,
            //cellTemplate: '<a href="{{ app.request.getSchemeAndHttpHost() }}/admin/drivers/{[{row.entity.id}]}/edit"  class="btn btn-mini btn-warning"  data-toggle="tooltip" title="Edit">Edit</a>'
            cellTemplate: '<a href="{{ app.request.getSchemeAndHttpHost() }}/admin/drivers/{[{row.entity.id}]}/edit"  data-toggle="tooltip" title="Edit" class="btn btn-mini btn-warning">Edit</a><a href="{{ app.request.getSchemeAndHttpHost() }}/admin/drivers/{[{row.entity.id}]}/show"  class="btn btn-mini btn-success"  data-toggle="tooltip" title="Show the driver">Show</a><span ng-if="row.entity.active"><a  href=#"  ng-click="grid.appScope.deactivate(row.entity.id,row.entity.index)"  class="btn btn-mini btn-danger"  data-toggle="tooltip" title="Deactivate">Deactivate</span></a><span ng-if="!row.entity.active"><a ng-click="grid.appScope.activate(row.entity.id,row.entity.index)" href=#" class="btn btn-mini btn-success"  data-toggle="tooltip" title="Activate">Activate</a></span>{[{row.entity.active}]}'
        }
    ];
    $scope.selected = {};
    $scope.animationsEnabled = true;

    var canceler = $q.defer();

    var apicall = function () {
        $http.get('{{ apicall }}', {timeout: canceler.promise})
                .success(function (data) {
                    $scope.selected = [];
                    angular.forEach(data, function (row, index) {
                        row.index = index + 1;
                    })
                    $scope.gridOptions.data = data;
                    console.log(data)
                });
    };
    apicall();

    $scope.$on('$destroy', function () {
        canceler.resolve();  // Aborts the $http request if it isn't finished.
    });

    $scope.deactivate = function (id,index) {
        console.log($scope.selected);
        ids = JSON.stringify($scope.selected);
        if(id>0) {
            ids=id;
        }
        $http.post('{{ path('drivers_deactivate') }}', {'data': ids})
                .success(function (data) {

                    angular.forEach($scope.selected, function (value, key) {
                        $log.log(key + ': ' + value);
                        $scope.gridOptions.data[key - 1].is_active = "Inactive";
                    });
                    if(index>0) {
                        $scope.gridOptions.data[index - 1].is_active = "Inactive";
                    }
                    $scope.selected = []
                    //$scope.gridApi.selection.clearSelectedRows();
                    apicall();
                });

    }



    $scope.activate = function (id,index) {
        console.log($scope.selected);
        ids = JSON.stringify($scope.selected);
        if(id>0) {
            ids=id;
        }
        $http.post('{{ path('drivers_activate') }}', {'data': ids})
                .success(function (data) {
                    angular.forEach($scope.selected, function (value, key) {
                        $log.log(key + ': ' + value);
                        $scope.gridOptions.data[key - 1].is_active = "Active";
                    });
                    if(index>0) {
                        $scope.gridOptions.data[index - 1].is_active = "Active";
                    }
                    $scope.selected = []
                    //$scope.gridApi.selection.clearSelectedRows();
                    apicall();
                });
    }
}]);
