{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.css" type="text/css"
          rel="stylesheet"/>
    {% stylesheets
    'css/angular/autocomplete-alt.css'
    filter='cssrewrite' output='css/*.css' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
    {% endstylesheets %}
    <style>
        .grid {
            height: 80vh;
        }

        .ui-grid-viewport {
            overflow-anchor: none;
        }
        .Active {
            color: green;
        }

        .Inactive {
            color: red;
        }
    </style>
{% endblock stylesheets %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'js/angular/angular143.min.js'
    'js/angular/angular-touch143.min.js'
    'js/angular/angular-animate143.min.js'
    'js/angular/ui-bootstrap-tpls-1.2.2.min.js'
    'js/angular/autocomplete-alt.js'
    'js/angular/ui-grid.js' %}

    <script src="{{ asset(asset_url) }}"></script>
    {% endjavascripts %}
    <script>
        {% include 'NumaCCCAdminBundle:drivers:driversDatagrid.js.twig' %}
    </script>
{% endblock javascripts %}
{% block content %}
    <div class="row">
        <div class="col-lg-12 widget-box">
            <div class="widget-header widget-header-large">
                <h4 class="widget-title">
                    Drivers List
                </h4>
                <div class="widget-toolbar"><a href="{{ path('drivers_export') }}"  class="btn btn-yellow">Export To Xsl</a><a class="btn btn-primary" href="{{ path("drivers_new") }}">Create New Driver</a></div>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <div id="flashmsg"></div>
                    <div class="box billing-form" ng-app="probillApp">
                        <div ng-controller="probillCtrl">
                            <div class="row">
                                <div class="col-lg-12 widget-box">
                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <div id="flashmsg"></div>
                                            <div id="grid1" ui-grid="gridOptions" ui-grid-selection ui-grid-pinning
                                                 class="grid"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
