{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}

{% block content %}
    <h1>Drivers list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Drivernum</th>
                <th>Drivernam</th>
                <th>Address</th>
                <th>City</th>
                <th>Postal</th>
                <th>Tel</th>
                <th>Cell</th>
                <th>Hired</th>
                <th>Dob</th>
                <th>Sin</th>
                <th>Married</th>
                <th>Pic</th>
                <th>Picexpiry</th>
                <th>Vehexpiry</th>
                <th>Vehplat</th>
                <th>Vehyear</th>
                <th>Vehtype</th>
                <th>Vehcolor</th>
                <th>Vehserial</th>
                <th>Vehclass</th>
                <th>Drivrate</th>
                <th>Insagent</th>
                <th>Inspolicy</th>
                <th>Insamt</th>
                <th>Insexpiry</th>
                <th>Comments</th>
                <th>Dgc</th>
                <th>Dgcexpiry</th>
                <th>Drvsurrate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for driver in drivers %}
            <tr>
                <td><a href="{{ path('drivers_show', { 'id': driver.id }) }}">{{ driver.id }}</a></td>
                <td>{{ driver.drivernum }}</td>
                <td>{{ driver.drivernam }}</td>
                <td>{{ driver.address }}</td>
                <td>{{ driver.city }}</td>
                <td>{{ driver.postal }}</td>
                <td>{{ driver.tel }}</td>
                <td>{{ driver.cell }}</td>
                <td>{% if driver.hired %}{{ driver.hired|date('Y-m-d') }}{% endif %}</td>
                <td>{% if driver.dob %}{{ driver.dob|date('Y-m-d') }}{% endif %}</td>
                <td>{{ driver.sin }}</td>
                <td>{{ driver.married }}</td>
                <td>{{ driver.pic }}</td>
                <td>{% if driver.picExpiry %}{{ driver.picExpiry|date('Y-m-d') }}{% endif %}</td>
                <td>{% if driver.vehExpiry %}{{ driver.vehExpiry|date('Y-m-d') }}{% endif %}</td>
                <td>{{ driver.vehPlat }}</td>
                <td>{{ driver.vehYear }}</td>
                <td>{{ driver.vehType }}</td>
                <td>{{ driver.vehColor }}</td>
                <td>{{ driver.vehSerial }}</td>
                <td>{{ driver.vehClass }}</td>
                <td>{{ driver.drivRate }}</td>
                <td>{{ driver.insAgent }}</td>
                <td>{{ driver.insPolicy }}</td>
                <td>{{ driver.insAmt }}</td>
                <td>{% if driver.insExpiry %}{{ driver.insExpiry|date('Y-m-d') }}{% endif %}</td>
                <td>{{ driver.comments }}</td>
                <td>{{ driver.dgc }}</td>
                <td>{% if driver.dgcExpiry %}{{ driver.dgcExpiry|date('Y-m-d') }}{% endif %}</td>
                <td>{{ driver.drvsurrate }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('drivers_show', { 'id': driver.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('drivers_edit', { 'id': driver.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('drivers_new') }}">Create a new driver</a>
        </li>
    </ul>
{% endblock %}
