<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Drivernum</th>
        <th>Drivernam</th>
        <th>Address</th>
        <th>City</th>
        <th>Postal</th>
        <th>Tel</th>
        <th>Cell</th>
        <th>Hired</th>
        <th>Dob</th>
        <th>Sin</th>
        <th>Married</th>
        <th>Pic</th>
        <th>Picexpiry</th>
        <th>Vehexpiry</th>
        <th>Vehplat</th>
        <th>Vehyear</th>
        <th>Vehtype</th>
        <th>Vehcolor</th>
        <th>Vehserial</th>
        <th>Vehclass</th>
        <th>Drivrate</th>
        <th>Insagent</th>
        <th>Inspolicy</th>
        <th>Insamt</th>
        <th>Insexpiry</th>
        <th>Comments</th>
        <th>Dgc</th>
        <th>Dgcexpiry</th>
        <th>Drvsurrate</th>
    </tr>
    </thead>
    <tbody>
    {% for driver in drivers %}
        <tr>
            <td>{{ driver.Id }}</td>
            <td>{{ driver.Drivernum }}</td>
            <td>{{ driver.Drivernam }}</td>
            <td>{{ driver.Address }}</td>
            <td>{{ driver.City }}</td>
            <td>{{ driver.Postal }}</td>
            <td>{{ driver.Tel }}</td>
            <td>{{ driver.Cell }}</td>
            <td>{{ driver.Dob|date('Y-m-d') }}</td>
            <td>{{ driver.Sin }}</td>
            <td>{{ driver.Married }}</td>
            <td>{{ driver.Pic }}</td>
            <td>{{ driver.Picexpiry|date('Y-m-d') }}</td>
            <td>{{ driver.Vehexpiry|date('Y-m-d') }}</td>
            <td>{{ driver.Vehplat }}</td>
            <td>{{ driver.Vehyear }}</td>
            <td>{{ driver.Vehtype }}</td>
            <td>{{ driver.Vehcolor }}</td>
            <td>{{ driver.Vehserial }}</td>
            <td>{{ driver.Vehclass }}</td>
            <td>{{ driver.Drivrate }}</td>
            <td>{{ driver.Insagent }}</td>
            <td>{{ driver.Inspolicy }}</td>
            <td>{{ driver.Insamt }}</td>
            <td>{{ driver.Insexpiry|date('Y-m-d') }}</td>
            <td>{{ driver.Comments }}</td>
            <td>{{ driver.Dgc }}</td>
            <td>{{ driver.Dgcexpiry|date('Y-m-d') }}</td>
            <td>{{ driver.Drvsurrate }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
