{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block content %}
    <h1>Driver creation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <ul class="list-inline">
        <li>
            <input type="submit" value="Create" class="btn btn-success"/>
        </li>
        <li>
            <a href="{{ path('drivers_index') }}" class="btn btn-default">Back to the list</a>
        </li>
    </ul>
    {{ form_end(form) }}

{% endblock %}
