{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}

{% block content %}
    <h1>Driver</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ driver.id }}</td>
            </tr>
            <tr>
                <th>Drivernum</th>
                <td>{{ driver.drivernum }}</td>
            </tr>
            <tr>
                <th>Drivernam</th>
                <td>{{ driver.drivernam }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ driver.address }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ driver.city }}</td>
            </tr>
            <tr>
                <th>Postal</th>
                <td>{{ driver.postal }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ driver.tel }}</td>
            </tr>
            <tr>
                <th>Cell</th>
                <td>{{ driver.cell }}</td>
            </tr>
            <tr>
                <th>Hired</th>
                <td>{% if driver.hired %}{{ driver.hired|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dob</th>
                <td>{% if driver.dob %}{{ driver.dob|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Sin</th>
                <td>{{ driver.sin }}</td>
            </tr>
            <tr>
                <th>Married</th>
                <td>{{ driver.married }}</td>
            </tr>
            <tr>
                <th>Pic</th>
                <td>{{ driver.pic }}</td>
            </tr>
            <tr>
                <th>Picexpiry</th>
                <td>{% if driver.picExpiry %}{{ driver.picExpiry|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Vehexpiry</th>
                <td>{% if driver.vehExpiry %}{{ driver.vehExpiry|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Vehplat</th>
                <td>{{ driver.vehPlat }}</td>
            </tr>
            <tr>
                <th>Vehyear</th>
                <td>{{ driver.vehYear }}</td>
            </tr>
            <tr>
                <th>Vehtype</th>
                <td>{{ driver.vehType }}</td>
            </tr>
            <tr>
                <th>Vehcolor</th>
                <td>{{ driver.vehColor }}</td>
            </tr>
            <tr>
                <th>Vehserial</th>
                <td>{{ driver.vehSerial }}</td>
            </tr>
            <tr>
                <th>Vehclass</th>
                <td>{{ driver.vehClass }}</td>
            </tr>
            <tr>
                <th>Drivrate</th>
                <td>{{ driver.drivRate }}</td>
            </tr>
            <tr>
                <th>Insagent</th>
                <td>{{ driver.insAgent }}</td>
            </tr>
            <tr>
                <th>Inspolicy</th>
                <td>{{ driver.insPolicy }}</td>
            </tr>
            <tr>
                <th>Insamt</th>
                <td>{{ driver.insAmt }}</td>
            </tr>
            <tr>
                <th>Insexpiry</th>
                <td>{% if driver.insExpiry %}{{ driver.insExpiry|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Comments</th>
                <td>{{ driver.comments }}</td>
            </tr>
            <tr>
                <th>Dgc</th>
                <td>{{ driver.dgc }}</td>
            </tr>
            <tr>
                <th>Dgcexpiry</th>
                <td>{% if driver.dgcExpiry %}{{ driver.dgcExpiry|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Drvsurrate</th>
                <td>{{ driver.drvsurrate }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('drivers_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('drivers_edit', { 'id': driver.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
