{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block content %}

    <div class="row">
        <div class="col-lg-12 widget-box">
            <div class="widget-header widget-header-large">
                {% if formType=='correction' %}
                    <h4 class="widget-title">Correction</h4>
                {% else %}
                    <h4 class="widget-title">Data Entry</h4>
                {% endif %}
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <div id="flashmsg"></div>
                    {{ form_start(form) }}
                    {% if form.billType is defined %}
                        {{ form_row(form.billType) }}
                    {% endif %}
                    {% if form.billingPeriod is defined %}
                        {{ form_row(form.billingPeriod) }}
                    {% endif %}
                    <button type="submit" class="btn btn-submit">Submit</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

