{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12 widget-box">
            <div class="widget-header widget-header-large">
                <h4 class="widget-title">
                    Batches
                    {% if billingPeriod is defined and billingPeriod is not empty %}
                        for the billing period <b>{{ billingPeriod.name }}</b> from
                        <b>{{ billingPeriod.started|date("Y-m-d") }}</b> to
                        <b>{{ billingPeriod.closed|date("Y-m-d") }}</b>
                    {% endif %}
                </h4>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <div id="flashmsg"></div>
                    <table class="records_list table  table-bordered table-hover">
                        <thead>
                        <tr>

                            <th>Name</th>
                            <th>Batch date</th>
                            <th>Billing period</th>
                            <th>Count</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for batch in batches %}
                            <tr {% if batch.isLocked() %}class="warning" class="id-{{ batch.id }}"
                                {% elseif batch.isFinalized() %}class="danger"{% endif %}>

                                <td>{{ batch.name }}</td>
                                <td>{% if batch.batchdate %}{{ batch.batchdate|date('Y-m-d') }}{% endif %}</td>

                                <td>{{ batch.billingPeriod.name }}</td>
                                <td>CTY: ({{ probillService.countCTY(batch) }}), HWY: ({{ probillService.countHWY(batch) }})</td>
                                <td>
                                    <ul class="list-inline">

                                        {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
                                            {% if batch.status==1 %}
                                                <li>
                                                    <a class="btn btn-primary"
                                                       href="{{ path('batch_unlock', { 'id': batch.id }) }}">UnLock</a>
                                                </li>
                                            {% elseif batch.status==0 %}
                                                <li>
                                                    <a class="btn btn-primary"
                                                       href="{{ path('batch_lock', { 'id': batch.id }) }}">Lock</a>
                                                </li>

                                            {% elseif batch.status==2 %}
                                                <li><span class="">The batch has been finalized</span>
                                                </li>
                                            {% endif %}

                                        {% endif %}
                                        {% if is_granted('ROLE_CSR') and not batch.isLocked() or is_granted("ROLE_SUPER_ADMIN") %}
                                            <li>
                                                <a class="btn btn-success"
                                                   href="{{ path('batch_edit', { 'id': batch.id }) }}">Edit</a>
                                            </li>
                                            <li>
                                                <a class="btn btn-info"
                                                   href="{{ path('probill_datagrid_batch_cty', { 'id': batch.id }) }}">CTY
                                                    Probills
                                                    ({{ probillService.countCTY(batch) }})</a>
                                            </li>
                                            <li>
                                                <a class="btn btn-primary"
                                                   href="{{ path('probill_datagrid_batch_hwy', { 'id': batch.id }) }}">HWY
                                                    Probills
                                                    ({{ probillService.countHWY(batch) }})</a>
                                            </li>
                                            <li>
                                                <a class="btn btn-purple"
                                                   href="{{ path('corrections_datagrid_batch_p', { 'id': batch.id }) }}">Corrections
                                                    for this batch ({{ batch.probills|length }})</a>
                                            </li>
                                            <li>
                                                <a class="btn btn-success"
                                                   href="{{ path('batch_finalize', { 'id': batch.id }) }}">Finalize</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <ul class="list-inline">
                        <li>
                            <a class="btn btn-success"
                               href="{{ path('batch_new_billing_period',{'id':billingPeriod.id}) }}">Create a new
                                batch</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
