{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block content %}

    <div class="row">
        <div class="col-lg-12 widget-box">
            <div class="widget-header widget-header-large">
                <h4 class="widget-title">Create a new Batch</h4>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <div id="flashmsg"></div>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <ul class="list-inline">
                        <li>
                            <input class="btn btn-warning" type="submit" value="Create"/>
                        </li>

                        <li>
                            <a class="btn btn-success" href="{{ path('batch_index',{'id':id}) }}">Back to the list</a>
                        </li>
                    </ul>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
