{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}
{% block content %}
    <h1>Batch</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ batch.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ batch.name }}</td>
            </tr>
            <tr>
                <th>Batch_date</th>
                <td>{% if batch.batchdate %}{{ batch.batchdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Started</th>
                <td>{% if batch.started %}{{ batch.started|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Closed</th>
                <td>{% if batch.closed %}{{ batch.closed|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Working_days</th>
                <td>{{ batch.workingdays }}</td>
            </tr>
            <tr>
                <th>Date_created</th>
                <td>{% if batch.datecreated %}{{ batch.datecreated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Date_updated</th>
                <td>{% if batch.dateupdated %}{{ batch.dateupdated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Billing_period_id</th>
                <td>{{ batch.billingperiodid }}</td>
            </tr>
            <tr>
                <th>User_id</th>
                <td>{{ batch.userid }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a class="btn btn-success" href="{{ path('billing_period_batch_index',{'id':batch.billingPeriod.id}) }}">Back to the list</a>
        </li>
        <li>
            <a class="btn btn-warning" href="{{ path('batch_edit', { 'id': batch.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-danger"  type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
