<table border="1" cellpadding="0" cellspacing="0" style="border-collapse:collapse;" width="100%">
    <tr>
        <th>Date</th>
        <th>Invoice #</th>
        <th>Customer Name</th>
        <th>Customer Code</th>
        <th>Period Total</th>
        <th>F. chg</th>
        <th>Subtotal</th>
        <th>GST</th>
        <th>Balance Due</th>
    </tr>
    {#{{ dump(probills[0]['probills']) }}#}
    {#{{ dump(probills[1]['probills']) }}#}
    {#{{ dump(probills[2]['probills']) }}#}
    {% if probills is not empty %}
        {% for row in probills %}

            {% set customer = row['customer'] %}
            {% set probill = row['probills'] %}

            <tr>
                <td>{{ billing_period.closed|date("M d Y") }}</td>
                <td>{{ probill.invoice }}</td>
                <td>{{ customer.name }}</td>
                <td>{{ customer.custcode }}</td>
                <td>$ {{ probill.total|number_format(2, '.', ',') }}</td>
                <td>$ {{ probill.custSurchargeAMT|number_format(2, '.', ',') }}</td>
                <td>$ {{ probill.subtotal|number_format(2, '.', ',') }}</td>
                <td>$ {{ probill.gstAMT|number_format(2, '.', ',') }}</td>
                <td>
                    {% if(customer.discount>0) %}
                        $ {{ probill.balanceDiscount|number_format(2, '.', ',') }}
                    {% else %}
                        $ {{ probill.balance|number_format(2, '.', ',') }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% endif %}
</table>