<br>
<br>
<div class="page ">
    {% set balance = (probills.total + probills.custSurchargeAMT+probills.gstAMT) %}

    <div class="upper-half">
        <img src="{{ path }}/images/logo.png"/>
        <div class="invoice-address">
        <h1>INVOICE</h1>
        <p>Custom Courier Co. Ltd.</p>
        <p>2405 Wentz Ave.</p>
        <p>Saskatoon SK S7K3V6</p>
        </div>
        <p class="invoice">Invoice# {{ probills.invoice }}</p>
        <p class="dateinvoice">{{ billing_period.closed|date("M d Y") }}</p>
        <div class="customer-detail">
            <br>
            <br>
            <br>
            <p>{{ customer.name }}</p>
            <p>{{ customer.address1 }}</p>
            <p>{{ customer.address2 }}</p>
            {#    =Fields!City.Value+" "+Fields!Prov.Value+" "+Fields!v.Value#}
            <p>{{ customer.city }} {{ customer.prov }} {{ customer.Postal }}</p>
        </div>
        <p>Details attached</p>
        <p>For the billing period from:</p>
        <p>{{ billing_period.started|date("M d Y") }} to {{ billing_period.closed|date("M d Y") }}</p>
        <p>&nbsp;</p>
        <p style="width:12cm">{{ customer.comments }}</p>
        <p>&nbsp;</p>
        <p>GST# 894382274</p>
        <div class="sum-detail">

            <table>
                <tr>
                    <td>Period Total:</td>
                    <td style="text-align: right;">$ {{ probills.total|number_format(2, '.', ',') }}</td>
                </tr>
                {% if(customer.discount>0) %}

                {% endif %}
                <tr>
                    <td>Fuel Charge:</td>
                    <td style="text-align: right;">$ {{ probills.custSurchargeAMT|number_format(2, '.', ',') }}</td>
                </tr>
                {% if(customer.discount>0) %}
                    <tr>
                        <td>Subtotal:</td>
                        <td style="text-align: right;">$ {{ (probills.subtotal)|number_format(2, '.', ',') }}</td>
                    </tr>
                    <tr>
                        <td>Discount:</td>
                        <td style="text-align: right;">
                            $ {{ (probills.subtotalDiscount)|number_format(2, '.', ',') }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td>Subtotal</td>
                        <td style="text-align: right;">$ {{ probills.subtotal|number_format(2, '.', ',') }}</td>
                    </tr>
                {% endif %}

                <tr>
                    <td>GST</td>
                    <td style="text-align: right;">$ {{ probills.gstAMT|number_format(2, '.', ',') }}</td>
                </tr>

                {% if(customer.discount>0) %}
                    <tr>
                        <td>Balance due on receipt</td>
                        <td style="text-align: right;">$ {{ probills.balanceDiscount|number_format(2, '.', ',') }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td>Balance due on receipt</td>
                        <td style="text-align: right;">$ {{ balance|number_format(2, '.', ',') }}</td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>
</div>

