<table>
    <thead>
    <tr>
        <th>Rate Code</th>
        <th>Rate Description</th>
        <th>Rate Amt</th>
        {#<th>Service Area</th>#}
        {#<th>Taxcode</th>#}

    </tr>
    </thead>
    <tbody>
    {% for rate in rates %}
        <tr>
            <td>{{ rate.rateCode }}</td>
            <td>{{ rate.rateDescription }}</td>
            <td>{{ rate.rateAmt }}</td>
            {#<td>{{ rate.serviceArea }}</td>#}
            {#<td>{{ rate.taxcode }}</td>#}
        </tr>
    {% endfor %}
    </tbody>
</table>
