{% extends 'base.html.twig' %}

{% block body %}
    <h1>Rate</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rate.id }}</td>
            </tr>
            <tr>
                <th>Ratecode</th>
                <td>{{ rate.rateCode }}</td>
            </tr>
            <tr>
                <th>Ratedescription</th>
                <td>{{ rate.rateDescription }}</td>
            </tr>
            <tr>
                <th>Rateamt</th>
                <td>{{ rate.rateAmt }}</td>
            </tr>
            <tr>
                <th>Servicearea</th>
                <td>{{ rate.serviceArea }}</td>
            </tr>
            <tr>
                <th>Taxcode</th>
                <td>{{ rate.taxcode }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('rates_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('rates_edit', { 'id': rate.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
