{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}
{% block content %}
<h1>Dashboard</h1>
    <div>
        <p>
            Custom Courier performed a major software upgrade. To access any previous detailed reports, probill images
            or invoices from any billing period prior to July 16th 2018 please click this
            <a target="_blank" href="http://archive.customcourierco.com" class="btn btn-warning">link</a>
        </p>
        <p>
            Use the same username and password.
        </p>
    </div>
{% endblock %}
