
<table width="100%" class="customers">
    <tr>
        <td>

            {% for customer in customers %}

                {% include "NumaCCCAdminBundle:report:customerSummary/customer.html.twig" %}
            {% endfor %}
        </td>
    </tr>
</table>

<table width="100%">
    <tr>
        <td>
            {% include "NumaCCCAdminBundle:report:customerSummary/officeOnly.html.twig" %}
        </td>
    </tr>
    <tr>
        <td>
            {% include "NumaCCCAdminBundle:report:customerSummary/executive.html.twig" %}
        </td>
    </tr>
</table>
