<table width="100%"  class="customer_item">
    <tr>
        <td class="column1">{{ customer.customer.name }}</td>
        <td></td>
        <td>Surcharge Rate:</td>
        <td>{{ customer.customer.custsurchargerate }}</td>
        <td>Tsx Code:</td>
        <td>{{ customer.customer.custcode }}</td>
        <td>Total Due:</td>
    </tr>
    <tr>
        <td>Customer Totals</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Probills Total without voids</td>
        <td></td>
        <td>Amount</td>
        <td>Fuel Chrg</td>
        <td>Subtotal</td>
        <td>GST</td>
        <td>Total Due</td>
    </tr>
    <tr>
        <td>Count: <b>{{ customer.count_probills }}</b></td>
        <td></td>
        <td><b>{{ "$%.2f"|format(customer.total)  }}</b></td>
        <td><b>{{ "$%.2f"|format(customer.custsurchargeamt) }}</b></td>
        <td><b>{{ "$%.2f"|format(customer.subtotal) }}</b></td>
        <td><b>{{ "$%.2f"|format(customer.gstAmt) }}</b></td>
        <td><b>{{ "$%.2f"|format(customer.grandtotal) }}</b></td>
    </tr>
</table>