<table class="center">
    <tr>
        <td colspan="3">Executive Summary Analysis</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Charges</td>
        <td>Total</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Basic Rate Amount</td>
        <td>{{ "$%.2f"|format( total.rateAmt) }}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Extra Pce. Amts.</td>
        <td>{{ "$%.2f"|format( total.extraAmt) }}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Direct or Rush Chrgs.</td>
        <td>{{ "$%.2f"|format( total.rushAmt) }}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Waiting Time </td>
        <td>{{ "$%.2f"|format( total.waitchrg) }}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Trailer Chgs.</td>
        <td>{{ "$%.2f"|format( total.trailerchg) }}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Misc Amounts</td>
        <td>{{ "$%.2f"|format( total.miscAmt) }}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Fuel Charge</td>
        <td>{{ "$%.2f"|format( total.custsurchargeamt) }}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Total PCE</td>
        <td>{{total.pce }}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Total Weight</td>
        <td>{{  total.wgt }}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>Total charges of city work (before FS and tax)</td>
        <td>{{ "$%.2f"|format( total.ctytotal) }}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Total charges of Hiway work (before FS and tax)</td>
        <td>{{ "$%.2f"|format( total.hwytotal) }}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Total charges of City work with FS (no tax)</td>
        <td>{{ "$%.2f"|format( total.ctysubtotal) }}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Total charges of Hiway work with FS (no tax)</td>
        <td>{{ "$%.2f"|format( total.hwysubtotal) }}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Total of all charges (hiway + city) - before FS ( no taxes)</td>
        <td>{{ "$%.2f"|format( total.total) }}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Total of all charges (hiway + city) - with FS ( no taxes)</td>
        <td>{{ "$%.2f"|format( total.subtotal) }}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>


</table>