{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}
{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}

{% block content -%}
    <div class="row">
        <div class="col-lg-12 widget-box">
            <div class="widget-header widget-header-large">
                <h1 class="widget-title">Customer edit</h1>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    {{ form(edit_form) }}
                    <a class="btn btn-success" href="{{ path('customers') }}">
                        Back to the list
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
