{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/bundles/whiteoctoberpagerfanta/css/pagerfantaDefault.css') }}"
          type="text/css" media="all"/>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12 widget-box">
            <div class="widget-header widget-header-large">
                <h4 class="widget-title">Customers list</h4>
                <div class="widget-toolbar"><a href="{{ path('customers_export') }}"  class="btn btn-yellow">Export To Xsl</a></div>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    {% if app.session.flashBag.has('success') %}
                        <div class="alert alert-success">
                            {% for msg in app.session.flashBag.get('success') %}
                                {{ msg|raw }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div>{{ form(searchForm) }}</div>
                    <div class="pagerfanta">{{ pagerfanta(pagerfanta, 'twitter_bootstrap3') }}</div>
                    {% if is_granted("ROLE_SUPER_ADMIN") or is_granted("ROLE_ADMIN") %}
                    <a class="btn btn-success" href="{{ path('customers_new') }}">Insert New Customer</a>
                    {% endif %}
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>

                            <th>Custcode</th>
                            <th>Name</th>
                            <th>Address1</th>
                            <th>Address2</th>
                            <th>City</th>
                            <th>Prov</th>
                            <th>Postal</th>
                            <th>Phone</th>

                            <th>Email</th>

                            <th>Username</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in pagerfanta.currentPageResults %}


                            <tr {% if entity.isDeactivated %}class="warning"{% endif %}>
                                <td>{% if(entity.custcode is defined and entity.custcode is not empty) %}<a
                                        href="{{ path('probills_customer', { 'custcode': entity.custcode }) }}">{{ entity.custcode }}</a>{% endif %}
                                </td>
                                <td>{{ entity.name }}</td>
                                <td>{{ entity.address1 }}</td>
                                <td>{{ entity.address2 }}</td>
                                <td>{{ entity.city }}</td>
                                <td>{{ entity.prov }}</td>
                                <td>{{ entity.postal }}</td>
                                <td>{{ entity.phone }}</td>
                                <td>{{ entity.email }}</td>
                                <td>{{ entity.username }}</td>

                                <td>
                                    <ul class="list-inline">

                                            <li>
                                                {% if entity.id is defined and entity.id is not empty %}
                                                    <a href="{{ path('customers_show', { 'id': entity.id }) }}"
                                                       class="btn btn-primary">show</a>
                                                {% endif %}
                                            </li>
                                        {% if is_granted("ROLE_SUPER_ADMIN") or is_granted("ROLE_ADMIN") %}
                                            <li>
                                                {% if entity.id is defined and entity.id is not empty %}
                                                    <a href="{{ path('customers_edit', { 'id': entity.id }) }}"
                                                       class="btn btn-warning">edit</a>
                                                {% endif %}
                                            </li>
                                            <li>
                                                {% if entity.id is defined and entity.id is not empty %}
                                                    {% if entity.isDeactivated %}
                                                        <a href="{{ path('customers_activate', { 'id': entity.id,'activate':true }) }}"
                                                           class="btn btn-success">Activate</a>

                                                    {% else %}
                                                        <a href="{{ path('customers_deactivate', { 'id': entity.id,'activate':false }) }}"
                                                           class="btn btn-danger">deactivate</a>
                                                    {% endif %}
                                                {% endif %}
                                            </li>
                                        {% endif %}
                                        {% if is_granted("ROLE_SUPER_ADMIN") or is_granted("ROLE_CSR") and entity.ratepdf is not empty %}
                                            {% set customrate =  numa_customer.getCustomPdf(entity) %}
                                            {% if customrate.getSrc() is defined and customrate.getSrc() is not empty %}
                                                <li>
                                                    <a target="_blank" href="{{ asset(customrate.getWebPath()) }}"
                                                       class="btn btn-success">

                                                        <span class="menu-text"> PDF Rate </span>
                                                        {{ customrate.getSrc() }}
                                                    </a>
                                                </li>
                                            {% endif %}
                                        {% endif %}
                                    </ul>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
