<table>
    <thead>
    <tr>
        <th>Custcode</th>
        <th>Name</th>
        <th>Address1</th>
        <th>Address2</th>
        <th>City</th>
        <th>Prov</th>
        <th>Postal</th>
        <th>Phone</th>
        <th>cell</th>

        <th>Email</th>
        <th>Username</th>
        <th>duedays</th>
        <th>lastpay</th>
        <th>lastpur</th>
        <th>totbalan</th>

        <th>comments</th>
        <th>taxcode</th>
        <th>custsurchargerate</th>
        <th>note</th>
        <th>zerodays</th>
        <th>thirtydays</th>
        <th>sixtydays</th>
        <th>ninetydays</th>
        <th>discount</th>
        <th>ratelevel</th>
        <th>website</th>
        <th>zerodays</th>
        <th>addressblock</th>
        <th>revised</th>
        <th>status</th>
        <th>sendmail</th>
        <th>contact</th>
        <th>terminalid</th>
        <th>custhwysurchargerate</th>
    </tr>
    </thead>
    <tbody>
    {% for customer in customers %}
        <tr>
            <td>{{ customer.Custcode }}</td>
            <td>{{ customer.Name }}</td>
            <td>{{ customer.Address1 }}</td>
            <td>{{ customer.Address2 }}</td>
            <td>{{ customer.City }}</td>
            <td>{{ customer.Prov }}</td>
            <td>{{ customer.Postal }}</td>
            <td>{{ customer.Phone }}</td>
            <td>{{ customer.cell }}</td>
            <td>{{ customer.Email }}</td>
            <td>{{ customer.Username }}</td>
            <td>{{ customer.duedays }}</td>
            <td>{{ customer.lastpay|date('Y-m-d')  }}</td>
            <td>{{ customer.lastpur|date('Y-m-d')  }}</td>
            <td>{{ customer.totbalan }}</td>

            <td>{{ customer.comments }}</td>
            <td>{{ customer.taxcode }}</td>
            <td>{{ customer.custsurchargerate }}</td>
            <td>{{ customer.note }}</td>
            <td>{{ customer.zerodays }}</td>
            <td>{{ customer.thirtydays }}</td>
            <td>{{ customer.sixtydays }}</td>
            <td>{{ customer.ninetydays }}</td>

            <td>{{ customer.discount }}</td>
            <td>{{ customer.ratelevel }}</td>
            <td>{{ customer.website }}</td>
            <td>{{ customer.zerodays }}</td>
            <td>{{ customer.addressblock }}</td>
            <td>{{ customer.revised|date('Y-m-d')  }}</td>
            <td>{{ customer.status }}</td>
            <td>{{ customer.sendmail }}</td>
            <td>{{ customer.contact }}</td>
            <td>{{ customer.terminalid }}</td>
            <td>{{ customer.custhwysurchargerate }}</td>

        </tr>
    {% endfor %}
    </tbody>
</table>
