{% form_theme edit_form with ['bootstrap_3_horizontal_layout.html.twig', _self] %}

<div style="visibility: hidden">
    {% block form_label_class %}
        col-sm-4
    {% endblock form_label_class %}
    {% block form_group_class %}
        col-sm-8
    {% endblock form_group_class %}
</div>
{% block content %}
    {{ form_errors(edit_form) }}
    {{ form_start(edit_form) }}
    <div class="row">
        <div class="col-md-3 loc-block">
            <ul class="list-unstyled">
                <li>
                    {{ form_row(edit_form.loc1Address1) }}
                </li>
                <li>
                    {{ form_row(edit_form.loc1Address2) }}
                </li>
                <li>
                    {{ form_row(edit_form.loc1City) }}
                </li>
                <li>
                    {{ form_row(edit_form.loc1Prov) }}
                </li>

                <li>
                    {{ form_row(edit_form.loc1Postal) }}
                </li>

                <li>
                    {{ form_row(edit_form.loc1Contact) }}
                </li>
            </ul>
        </div>
        <div class="col-md-3 loc-block">
            <ul class="list-unstyled">
                <li>
                    {{ form_row(edit_form.loc2Address1) }}
                </li>
                <li>
                    {{ form_row(edit_form.loc2Address2) }}
                </li>
                <li>
                    {{ form_row(edit_form.loc2City) }}
                </li>
                <li>
                    {{ form_row(edit_form.loc2Prov) }}
                </li>
                <li>
                    {{ form_row(edit_form.loc2Postal) }}
                </li>
                <li>
                    {{ form_row(edit_form.loc2Contact) }}
                </li>
            </ul>
        </div>
        <div class="col-md-3 loc-block">
            <ul class="list-unstyled">
                <li>
                    {{ form_row(edit_form.loc3Address1) }}
                </li>
                <li>
                    {{ form_row(edit_form.loc3Address2) }}
                </li>
                <li>
                    {{ form_row(edit_form.loc3City) }}
                </li>
                <li>
                    {{ form_row(edit_form.loc3Prov) }}
                </li>
                <li>
                    {{ form_row(edit_form.loc3Postal) }}
                </li>
                <li>
                    {{ form_row(edit_form.loc3Contact) }}
                </li>

            </ul>
        </div>
        <div class="col-md-3 loc-block">
            <ul class="list-unstyled">
                <li>
                    {{ form_row(edit_form.loc4Address1) }}
                </li>
                <li>
                    {{ form_row(edit_form.loc4Address2) }}
                </li>
                <li>
                    {{ form_row(edit_form.loc4City) }}
                </li>
                <li>
                    {{ form_row(edit_form.loc4Prov) }}
                </li>
                <li>
                    {{ form_row(edit_form.loc4Postal) }}
                </li>
                <li>
                    {{ form_row(edit_form.loc4Contact) }}
                </li>
            </ul>
        </div>
        <div class="row location-radio">
            {{ form_widget(edit_form.loc) }}
        </div>

        <button id="save-locations" class="btn btn-success">Save Locations</button>
        <a id="print-preprint" class="btn btn-primary" href="{{ path("preprint_print",{'id':1}) }}">Print</a>

    </div>
    {{ form_row(edit_form._token) }}
    {{ form_end(edit_form,{"render_rest":false}) }}

{% endblock %}