{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/bundles/whiteoctoberpagerfanta/css/pagerfantaDefault.css') }}"
          type="text/css" media="all"/>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12 widget-box">
            <div class="widget-header widget-header-large">
                <h1 class="widget-title">Customer Create</h1>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    {{ form(form) }}
                    <ul class="record_actions">
                        <li>
                            <a class="btn" href="{{ path('customers') }}">
                                Back to the list
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
