#sidebar .nav-list > li > a {
	height: auto;
}

.form-group label.customer_code {
	text-align: left;
}

a.remove-button {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 20px;
	width: 20px;
}

.remove-origin {
	margin-left: 20px;
}
#locations{
	margin-bottom: 20px;
}
.loc-block {
	border: 1px solid #000;
	padding: 5px;
}
.location-radio{
	padding-left: 50px;
	margin-bottom: 40px;
}
.radio {
	width: 25%;
	float: left;
}

input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], textarea{
	color: #000;
}

select option ,select{
	color: #000;
}

select option:active, select option:focus, select option:hover, select.form-control option:active, select.form-control option:focus, select.form-control option:hover {
	background-color: #EEE;
	color: #000;
}
.form-control:focus, select:focus, select.form-control option, .form-control{
	color: #000;
}

.modal-content, .modal-dialog {
	width: 100%
}

.delays div.table {
	display: table;
}

.delays div.header {
	display: table-header-group;
	border-bottom: 1px solid black;
}
.delays div.header-item {
	display: table-cell;
	border-bottom: 1px solid black;
	padding: 5px;
}
.delays form , .delays .table-row{
	display: table-row-group;

}

.delays form div.form-widget, .delays .table-row div.form-widget {
	display: table-cell;
	border-bottom: 1px solid black;
	padding: 5px;
}