{% block form_widget_simple %}
    {% set type = type|default('text') %}aaaaa
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{% endblock form_widget_simple %}
