{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}
{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-lg-12 widget-box">
            <div class="widget-header widget-header-large">
                <h4 class="widget-title">User edit</h4>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    {{ form_start(edit_form) }}
                    {{ form_widget(edit_form) }}
                    <ul class="list-inline">
                        <li>
                            <input type="submit" value="Update" class="btn btn-success"/>
                        </li>
                        <li>
                            <a href="{{ path('user_index') }}" class="btn btn-primary">Back to the list</a>
                        </li>
                    </ul>
                    {{ form_end(edit_form) }}
                </div>
            </div>
        </div>
    </div>

    <script>
        $("#user_UserGroup").change(function(){
                val = $(this).val();

            //if dispatch user
            $("#user_chanel").hide();
            $("#user_chanel").parent().find("label").hide();
            if(val==8){
                $("#user_chanel").removeClass('hidden');
                $("#user_chanel").show();
                console.log(val);
                $("#user_chanel").parent().find("label").removeClass('hidden');
                $("#user_chanel").parent().find("label").show();
            }
        })
    </script>
{% endblock %}
