<table>
    <thead>
    <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Signature</th>
        <th>User group</th>
        <th>Active</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.signature }}</td>
            <td>{% if user.usergroup is not empty %}{{ user.usergroup.name }}{% endif %}</td>
            <td>{{ user.activate }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
