{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-lg-12 widget-box">
            <div class="widget-header widget-header-large">
                <h4 class="widget-title">User creation</h4>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <ul class="list-inline">
                        <li>
                            <input type="submit" value="Create" class="btn btn-primary"/>
                        </li>
                        <li>
                            <a href="{{ path('user_index') }}" class="btn btn-primary">Back to the list</a>
                        </li>
                    </ul>
                    {{ form_end(form) }}


                </div>
            </div>
        </div>
    </div>
{% endblock %}
