<table class="center">
    <tr>
        <td colspan="3">Executive Summary Analysis</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td  colspan="3">Charges</td>
        <td>Total</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="3">Basic Rate Amount</td>
        <td>{{ "$%.2f"|format( total.rateAmt) }}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="3">Extra Pce. Amts.</td>
        <td>{{ "$%.2f"|format( total.extraAmt) }}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="3">Direct or Rush Chrgs.</td>
        <td>{{ "$%.2f"|format( total.rushAmt) }}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="3">Waiting Time </td>
        <td>{{ total.waitchrg }}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="3">Trailer Chgs.</td>
        <td>{{ "$%.2f"|format( total.trailerchg) }}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="3">Misc Amounts</td>
        <td>{{ "$%.2f"|format( total.miscAmt) }}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="3">Fuel Charge</td>
        <td>{{ "$%.2f"|format( total.custsurchargeamt) }}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="3">Total PCE</td>
        <td>{{total.pce }}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="3">Total Weight</td>
        <td>{{  total.wgt }}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td colspan="3">Total charges of City work with FS (no tax)</td>
        <td>{{ "$%.2f"|format( total.ctytotal) }}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="3">Total charges of Hiway work with FS (no tax)</td>
        <td>{{ "$%.2f"|format( total.hwytotal) }}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="3">Total of all charges (hiway + city) - before FS ( no taxes)</td>
        <td>{{ "$%.2f"|format( total.total) }}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="3">Total of all charges (hiway + city) - with FS ( no taxes)</td>
        <td>{{ "$%.2f"|format( total.subtotal) }}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

</table>