<html>
<head>
    <style>
        {% include "NumaCCCAdminBundle:report:customerSummary/styles.css.twig" %}

    </style>
</head>
<body>


{% include "NumaCCCAdminBundle:report:header.pdf.twig" %}
<table width="100%" class="customers">
    <tr>
        <td>

            {% for vehicle in vehicles %}

                {% include "NumaCCCAdminBundle:report:vehiclesSummary/vehicles.html.twig" %}
            {% endfor %}
        </td>
    </tr>
</table>
{% include "NumaCCCAdminBundle:report:header.pdf.twig" %}
<table width="100%">
    <tr>
        <td>
            {% include "NumaCCCAdminBundle:report:vehiclesSummary/officeOnly.html.twig" %}
        </td>
    </tr>
    <tr>
        <td>
            {% include "NumaCCCAdminBundle:report:vehiclesSummary/executive.html.twig" %}
        </td>
    </tr>
</table>
</body>
</html>