<table width="100%">
    <tr>
        <td>OFFICE USE ONLY</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>REPORT DRIVERS SUMMARY</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Totals for all Drivers Reported</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
<table width="100%">

    <tr>

        <td>Pieces</td>
        <td>Weight</td>
        <td>Cust. Surcharge Total</td>
        <td>Customer Total</td>
        <td>Driver Fuel Surcharge</td>
        <td>Driver Amount</td>

    </tr>
    <tr class="bold">

        <td>{{ total.pce }}</td>
        <td>{{ total.wgt }}</td>
        <td>{{ "$%.2f"|format( total.total) }}</td>
        <td>{{ "$%.2f"|format( total.custsurchargeamt) }}</td>
        <td>{{ "$%.2f"|format( total.subtotal) }}</td>
        <td>{{ "$%.2f"|format( total.custsurchargeamt) }}</td>
    </tr>
</table>