<table width="100%"  class="customer_item">
    <tr>
        <td class="column1">{{ vehicle.vehicles.id }} - {{ vehicle.vehicles.vehdesc }}</td>
        <td></td>
        <td>Surcharge Rate:</td>
        <td></td>
        <td>Tsx Code:</td>
        <td></td>
        <td>Total Due:</td>
    </tr>
    <tr>
        <td>Customer Totals</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Probills Total without voids</td>
        <td></td>
        <td>Amount</td>
        <td>Fuel Chrg</td>
        <td>Subtotal</td>
        <td>GST</td>
        <td>Total Due</td>
    </tr>
    <tr>
        <td>Count: <b>{{ vehicle.count_probills }}</b></td>
        <td></td>
        <td><b>{{ "$%.2f"|format(vehicle.total)  }}</b></td>
        <td><b>{{ "$%.2f"|format(vehicle.custsurchargeamt) }}</b></td>
        <td><b>{{ "$%.2f"|format(vehicle.subtotal) }}</b></td>
        <td><b>{{ "$%.2f"|format(vehicle.custsurchargeamt) }}</b></td>
        <td><b>{{ "$%.2f"|format(vehicle.grandtotal) }}</b></td>
    </tr>
</table>