{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}
{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
{% block content %}
    <h1>Email edit</h1>

    {{ form_start(edit_form) }}

    {{ form_widget(edit_form.Attachment) }}
    <ul class="list-inline">
        <li>
            <input type="submit" value="Update" class="btn btn-success"/>
        </li>
        <li>
            {#<a href="{{ path('batchx_preview_emails',{billingPeriod}) }}" class="btn btn-default">Back to the list</a>#}
        </li>
    </ul>
    {{ form_end(edit_form) }}
{% endblock %}
