{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}
{% block content %}
    {% set body="" %}
    {% set subject="" %}
    <h1>Preview of the emails which will be sent in billing period {{ billingPeriod.name }}</h1>
    {#<p>Total Emails {{ report.CustomerReportEmail|length }}</p>#}
    <a href="{{ path('billing_period_email_send', { 'billingPeriod': billingPeriod.id }) }}"
    class="btn btn-danger"
    title="Send all Emails for this batch"
    data-confirm="Send all emails from the batch {{ billingPeriod.name }} ?<br>Are you sure you want to send these emails?"
    >Send emails</a>
    <table class="table table-bordered table-hover">
        <tr>
            <th>N#:</th>
            <th>Status:</th>
            <th>CustCode:</th>
            <th>To:</th>
            <th>From:</th>
            <th>Attachments:</th>
            <th>body:</th>
        </tr>
        {% set i=0 %}
        {% for report in customerReports %}
            {#{{ dump(report.CustomerReportEmail) }}#}
            {% for email in report.CustomerReportEmail %}
                {% set email=email.email %}

                {#{{ dump(email) }}#}
                {% set body=email.body %}
                {% set subject=email.subject %}
                {% set i=i+1 %}
                <tr class="sent{{ email.status }}">
                    <td>{{ i }}</td>
                    <td>{% if email.status==0 %}Not Sent{% else %}Sent{% endif %}</td>
                    <td>{{ report.Customers.Custcode }}</td>
                    <td>{{ email.getEmailTo() }}</td>
                    <td>{{ email.emailFrom }}</td>
                    <td>
                        <ul class="list-unstyled attachment">

                            {% for att in email.getAttachment() %}
                                {#{{ dump(att) }}#}
                                {% if att.Media is not empty %}
                                    <li>
                                        <a href="{{ path("media_show",{'id':att.Media.id}) }}" class="btn btn-primary"><i
                                                    class="icon pull-left {{ att.Media.mimetype }}"></i>{{ att.Media.name }}
                                        </a>
                                        <a href="{{ path('billing_period_email_delete_att', { 'attachment': att.id,'billingPeriod':billingPeriod.id }) }}"
                                        class="btn btn-danger">Delete</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            <li>
                                <a href="{{ path('email_edit',{'id':email.id,'billingPeriod':billingPeriod.id}) }}"
                                   class="btn btn-success">Attach Newsletter</a>
                            </li>
                        </ul>
                    </td>
                    <td><a href="#" data-toggle="modal" data-target="#myModal">Show the Body of email</a></td>
                </tr>
                {#{% endfor %}#}
            {% endfor %}
        {% endfor %}
    </table>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Email Body</h4>
                </div>
                <div class="modal-body">
                    <p>Email Subject:</p>
                    <p>{{ subject|nl2br }}</p>
                    <p>Email Template:</p>
                    <p>{{ body|nl2br }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    {% include 'NumaCCCAdminBundle::deleteConfirm.js.twig' %}
{% endblock %}