{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        textarea {
            width: 100%;
            height: 300px;
        }
        input {
            width: 100%;

        }
        .setting-form {
            margin: 0 0 20px 0;
        }
    </style>

{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 widget-box">
            <div class="widget-header widget-header-large">
                <h4 class="widget-title">Set the email Template</h4>
            </div>
            <div class="widget-body">
                <div class="widget-main">

                    {% for form in forms %}
                        <div class="setting-form">
                        {{ form(form) }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
