{% set apicall=app.request.getSchemeAndHttpHost()~"/api/probill/all" %}
{% set postApiCall=app.request.getSchemeAndHttpHost()~"/api/probill/update" %}

var app = angular.module('correctionApp', ['ngTouch', 'ngAnimate']);


app.config(function ($interpolateProvider) {
    $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
});

app.controller('correctionCtrl', ['$scope', '$http', '$log', '$timeout', '$q', function ($scope, $http, $log, $timeout, $q) {

    $scope.baseImageUrl = '{{ scan_folder }}';
    $scope.noimage = "/images/nopicture.gif";
    $scope.probills = [];
    $scope.current=0;
    var canceler = $q.defer();
    var apicall = function () {
        $http.get('{{ apicall }}', {timeout: canceler.promise})
                .success(function (data) {
                    $scope.probills = data;
                    $scope.total = data.length;
                    $scope.first();
                })

    };
    $scope.first = function () {
        setProbill($scope.probills[0]);
        $scope.current=1;
    };
    $scope.prev = function () {
        setProbill($scope.probills[$scope.current-1]);
        $scope.current--;
        console.log($scope.current)
    };
    $scope.next = function () {
        setProbill($scope.probills[$scope.current+1]);
        $scope.current++;
        console.log($scope.current)
    };
    $scope.last = function () {
        setProbill($scope.probills[$scope.total-1]);
        $scope.current=$scope.total;
        console.log($scope.current)
    };
    $scope.setCurrent = function () {
        if($scope.current>0 && $scope.current<$scope.total){
            setProbill($scope.probills[$scope.current]);
        }

        console.log($scope.current)
    };

    $scope.finalize = function () {
        console.log($scope.current)
        $http({
            method: 'POST',
            url: '{{ postApiCall }}',
            headers: {'Content-Type': 'application/x-www-form-urlencoded'},
            data: $.param($scope.probill)
        }).then(function (response) {
            console.log(response)
        });

    };

    var setProbill = function (probill) {
        console.log(probill);
        dateo = new Date(probill.p_date);
        probill.pdate_year  = dateo.getFullYear()+"";
        probill.pdate_month = dateo.getMonth()+"";
        probill.pdate_day   = dateo.getDay()+"";

        $("#probills_drivers").val(probill.driver_pid);
        $("#probills_customers").val(probill.customer_pid);
        $("#probills_rates").val(probill.rates_pid);
        $("#probills_vehtypes").val(probill.vehtype_id);
        //probill.drivers = {'id':24,'name':'x'};
        //probill.drivers.id = probill.driver_pid;
        console.log(probill.vehtype_pid);

        //probill.customers = probill.customers;

        $scope.probill = probill
        console.log("set scan image setprobill");
        setScanImage(probill);
    };

    var setScanImage = function(probill){

        url = $scope.baseImageUrl+"/scans";
        image =  $scope.baseUrl+$scope.noimage;
        console.log("set scan image");
        console.log(image);
        console.log(probill);

        if(probill.scan_image.length>1 && imageExists(url + probill.scan_image)) {
            image = url + probill.scan_image;
        }
        $scope.scanImage = image;
        console.log($scope.scanImage);


    };
    function imageExists(image_url){
        var http = new XMLHttpRequest();
        http.open('HEAD', image_url, false);
        http.send();
        return http.status == 200;
    }

    apicall();

    $scope.$on('$destroy', function () {
        canceler.resolve();  // Aborts the $http request if it isn't finished.
    });

}]);
