{% if(entity=='billing_period') %}
    {% set apicall=app.request.getSchemeAndHttpHost()~"/api/probill/billing_period/"~id %}
{% elseif(entity=='batch') %}
    {% set apicall=app.request.getSchemeAndHttpHost()~"/api/probill/batch/"~id %}
{% elseif(entity=='all') %}
    {% set apicall=app.request.getSchemeAndHttpHost()~"/api/probill/all" %}
{% endif %}
var app = angular.module('probillApp', [ 'ngTouch', 'ngAnimate', 'ui.grid', 'ui.grid.moveColumns', 'ui.grid.resizeColumns', 'ui.grid.selection', 'ui.grid.expandable', 'ui.bootstrap', 'ui.grid.pinning']);


app.config(function ($interpolateProvider) {
    $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
});

app.controller('probillCtrl', ['$scope', '$http', '$log', '$timeout', 'uiGridConstants', '$q',  function ($scope, $http, $log, $timeout, uiGridConstants, $q) {
    $scope.driversGrid = {
        enableSorting: true,
        showGridFooter: true,
        showGridHeader: true,
        enableFiltering: true,
        enableRowSelection: true,
        enableSelectAll: true,
        selectionRowHeaderWidth: 35,
        enableColumnResizing: true,
    };
    $scope.driversGrid.multiSelect = true;
    $scope.driversGrid.columnDefs = [
        {
            name: 'p_date',
            type: 'date',
            cellFilter: 'date:\'yyyy-MM-dd\'',
            width: 80,
            pinnedLeft: true,
            cellClass:'pinned'
        },
        {
            name: 'waybill',
            width: 80,
            pinnedLeft: true,
            cellClass:'pinned',
            cellTemplate: '<a href="{{ app.request.getSchemeAndHttpHost() }}/admin/probill/{[{row.entity.id}]}/edit"  data-toggle="tooltip" title="Edit">{[{row.entity.waybill}]}</a>'

        },
        {
            name: 'driver_name',
            width: 200,
            pinnedLeft: true,
            cellClass:'pinned'
        },
        {
            name: 'customer_name',
            width: 200,
            pinnedLeft: true,
            cellClass:'pinned'
        },
        {
            name: 'ref',
            displayName: "Ref",
            width: 60
        },
        {
            name: 'dept',
            displayName: "Dept",
            width: 60
        },
        {
            name: 'shipper',
            displayName: "Shipper",
            width: 150
        },
        {
            name: 'receiver',
            displayName: "Receiver",
            width: 150
        },
        {
            name: 'custsurchargeamt',
            displayName: "Cust surcharge AMT",
            width: 100
        },
        {
            name: 'ratelevel',
            displayName: "Rate Level",
            width: 100
        },
        {
            name: 'serv_type',
            displayName: "Service Type",
            width: 100
        },
        {
            name: 'user_name',
            displayName: "Creator Name",
            width: 200
        },
        {
            name: 'pickup_time',
            displayName: "P time",
            width: 60
        },
        {
            name: 'd_time',
            displayName: "D time",
            width: 60
        },
        {
            name: 'total_time',
            displayName: "T time",
            width: 60
        },
        {
            name: 'pce',
            displayName: "PCE",
            width: 60
        },
        {
            name: 'wgt',
            displayName: "WGT",
            width: 60
        },
        {
            name: 'rate_code',
            width: 200
        },
        {
            name: 'paygst',
            width: 80
        },
        {
            name: 'rate_amt',
            width: 80
        },
        {
            name: 'extra_piece',
            width: 100
        },
        {
            name: 'extra_pce_rate',
            width: 100
        },
        {
            name: 'extra_amt',
            width: 80
        },
        {
            name: 'misc_amt',
            width: 80
        },
        {
            name: 'miscdesc',
            width: 80
        },
        {
            name: 'gst_amt',
            width: 80
        }
        ,
        {
            name: 'grandtotal',
            width: 80
        },
        {
            name: 'paid',
            width: 80
        },
        {
            name: 'balance',
            width: 80
        },
        {
            name: 'drv_rate',
            width: 80
        },
        {
            name: 'drv_total',
            width: 80
        },
        {
            name: 'gross',
            width: 80
        },
        {
            name: 'comments',
            width: 80
        },
        {
            name: 'signature',
            width: 150
        },
        {
            name: 'invoice',
            width: 80
        },
        {
            name: 'waitime',
            width: 80
        },
        {
            name: 'waitchg',
            width: 80
        },
        {
            name: 'vehtype_name',
            width: 120
        },
        {
            name: 'trailer_id',
            width: 80
        },
        {
            name: 'batch',
            width: 80
        },
        {
            name: 'rush_amt',
            width: 80
        },
        {
            name: 'called',
            width: 80
        },
        {
            name: 'delivered',
            width: 80
        },
        {
            name: 'deliverytime',
            width: 80
        },
        {
            name: 'status',
            width: 80
        },
        {
            name: 'drvsurrate',
            width: 80
        },
        {
            name: 'total',
            width: 80
        },
        {
            name: 'taxcode',
            width: 80
        },
        {
            name: 'drvgross',
            width: 80
        },
        {
            name: 'trailerchg',
            width: 80
        },
        {
            name: 'miles',
            width: 80
        },
        {
            name: 'pickup_shipper',
            width: 120
        },
        {
            name: 'pickup_addr1',
            width: 120
        },
        {
            name: 'pickup_city',
            width: 120
        },
        {
            name: 'pickup_prov',
            width: 120
        },
        {
            name: 'pickup_postal',
            width: 120
        },
        {
            name: 'pickup_phone',
            width: 120
        },
        {
            name: 'pickup_contact',
            width: 120
        },
        {
            name: 'pickup_details',
            width: 120
        },
        {
            name: 'pickup_ref',
            width: 120
        },
        {
            name: 'shipto_receiver',
            width: 120
        },
        {
            name: 'shipto_addr1',
            width: 120
        },
        {
            name: 'shipto_addr2',
            width: 120
        },
        {
            name: 'shipto_city',
            width: 120
        },
        {
            name: 'shipto_prov',
            width: 120
        },
        {
            name: 'shipto_postal',
            width: 120
        },
        {
            name: 'shipto_phone',
            width: 120
        },
        {
            name: 'shipto_contact',
            width: 120
        },
        {
            name: 'shipto_detail',
            width: 120
        },
        {
            name: 'shipto_ref',
            width: 120
        },
        {
            name: 'posted',
            width: 80
        },
        {
            name: 'printed',
            width: 80
        },
        {
            name: 'commody',
            width: 80
        },
        {
            name: 'routecode',
            width: 80
        },
        {
            name: 'tracking',

            width: 80
        },
        {
            name: 'barcode',
            width: 80
        },
        {
            name: 'details',

            width: 120
        },
        {
            name: 'glaccount',
            width: 80
        },
        {
            name: 'paymenttype',
            width: 80
        },
        {
            name: 'payref',
            width: 80
        },
        {
            name: 'cod_amt',
            width: 80
        },
        {
            name: 'cod_amt',
            width: 80
        },
        {
            name: 'subitem',
            width: 80
        },
        {
            name: 'date_created',
            cellFilter: 'date:\'yyyy-MM-dd h:m\'',
            width: 80
        },
        {
            name: 'shipmentid',
            width: 80
        },
        {
            name: 'subtotal',
            width: 80
        },
        {
            name: 'billtype',
            width: 80
        },
        {
            name: 'fuelsurchargedifferential',
            width: 80
        },
        {
            name: 'diffsurchargeamt',
            width: 80
        },
        {
            name: 'commody_id',
            width: 80
        },
        {
            name: 'initials',
            width: 80
        }

    ];
    $scope.selected = {};
    $scope.animationsEnabled = true;

    var canceler = $q.defer();

    {#var apicalld = function () {#}
        {#$http.get('{{ apicall }}', {timeout: canceler.promise})#}
                {#.success(function (data) {#}
                    {#$scope.selected = [];#}
                    {#angular.forEach(data, function (row, index) {#}
                        {#row.index = index + 1;#}
                    {#})#}
                    {#$scope.driversGrid.data = data;#}
                    {#console.log(data)#}
                {#});#}
    {#};#}
    {#apicalld();#}

    $scope.$on('$destroy', function () {
        canceler.resolve();  // Aborts the $http request if it isn't finished.
    });

}]);
