<!--Pickup Modal -->
<div id="dropsModal" class="modal fade popupform" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Drops</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">Date:</div>
                    <div class="col-md-3">Bill #:</div>
                    <div class="col-md-3">Drv #:</div>
                    <div class="col-md-3">Customer #:</div>
                </div>
                <div class="row">
                    <br>
                </div>
                <div class="row">
                    <div class="col-md-4">Drops Address / Items / Remarks</div>
                    <div class="col-md-2">Pieces</div>
                    <div class="col-md-2">Weight</div>
                    <div class="col-md-4">Signature or Receiver</div>

                </div>
                {{ form_start(dropsForm) }}
                {% for i in 1..15 %}
                    <div class="row">
                        <div class="col-md-4">{{ form_widget(dropsForm["address_"~i]) }}</div>
                        <div class="col-md-2">{{ form_widget(dropsForm["pieces_"~i]) }}</div>
                        <div class="col-md-2">{{ form_widget(dropsForm["weight_"~i]) }}</div>
                        <div class="col-md-4">{{ form_widget(dropsForm["signature_"~i]) }}</div>

                    </div>
                    {% if i%5==0 and i<15 %}
                <div class="row">
                    <div class="col-md-8">Drops Only</div>
                    <div class="col-md-4">Signature Receiver</div>
                </div>
                    {% endif %}
                {% endfor %}
                {{ form_end(dropsForm) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>