{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}
{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-lg-12 widget-box">
            <div class="widget-header widget-header-large">
                <h4 class="widget-title">Probill {{ probill.waybill }} edit</h4>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <div id="flashmsg"></div>
                    {{ form_start(edit_form) }}
                    {{ form_widget(edit_form) }}
                    <input class="btn btn-warning" type="submit" value="Edit"/>
                    {{ form_end(edit_form) }}
                    <ul class="list-inline">
                        <li>
                            <a class="btn btn-success" href="{{ path('batch_index') }}">Back to the list</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
