{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-lg-12 widget-box">
            <div class="widget-header widget-header-large">
                <h4 class="widget-title">
                    Probills
                    {% if batch is defined and batch is not empty %}
                        for the batch <b>{{ batch.name }}</b> for <b>{{ batch.batchDate|date("Y-m-d") }} day</b>
                    {% endif %}
                </h4>
                <h5>
                    {% if batch is defined and batch is not empty %}
                        Blling period from {{ batch.billingPeriod.started|date("Y-m-d")}} to {{ batch.billingPeriod.closed|date("Y-m-d")}}
                    {% endif %}
                </h5>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <div id="flashmsg"></div>
                    <table class="records_list table  table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Waybill</th>
                            {#<th>Batch_date</th>#}
                            {#<th>Billing period</th>#}
                            {#<th>User</th>#}
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for probill in probills %}
                            <tr>
                                <td><a href="{{ path('probill_show', { 'id': probill.id }) }}">{{ probill.id }}</a></td>
                                <td>{{ probill.waybill }}</td>
                                {#<td>{% if batch.batchdate %}{{ batch.batchdate|date('Y-m-d H:i:s') }}{% endif %}</td>#}

                                {#<td>{{ batch.billingPeriod.name }}</td>#}
                                {#<td>{{ batch.user }}</td>#}
                                <td>
                                    <ul class="list-inline">
                                        <li>
                                            <a class="btn btn-primary" href="{{ path('probill_show', { 'id': probill.id }) }}">show</a>
                                        </li>
                                        <li>
                                            <a class="btn btn-success" href="{{ path('probill_edit', { 'id': probill.id }) }}">edit</a>
                                        </li>

                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <ul class="list-inline">
                        <li>
                            <a class="btn btn-success" href="{{ path('probill_new',{'batch_id':batch.id}) }}">Create a new Probill</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
