{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.css" type="text/css"
          rel="stylesheet"/>
    <link rel="stylesheet" href="angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.css">
    {% stylesheets
    'css/angular/autocomplete-alt.css'
    'bundles/numacccadmin/probill_form.css'
    'bundles/numacccadmin/css/loading-bar.min.css'
    'bundles/numacccadmin/css/lightbox.css'
    filter='cssrewrite' output='css/*.css' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
    {% endstylesheets %}
    <style>
        .grid {
            height: 80vh;
            z-index: 100;
        }

        .ui-grid-viewport {
            overflow-anchor: none;
        }

        .ui-grid-row .ui-grid-cell.pinned {
            background: #fcffd8;
        !important;
        }

        .highlight {
            background-color: #b3c4c7 !important;
        }

        .underline {
            text-decoration: underline;

        }

        input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, textarea:focus {
            border: 3px solid red;
        }

        .form-control:focus, select:focus {
            border: 3px solid red;
        }

        form i.fa {
            position: absolute;
            top: 30px;
            right: 0;
        }

        .imageplaceholde {
            width: 100%;
            height: 100%;
        }

        .imageplaceholde img {
            width: 100%;
            height: 100%;
        }

        .page-content, .screen, .widget-screen, .tab-content {
            padding: 0;
            margin: 0;
        }

        .widget-main {
            padding-left: 0;
            padding-right: 0;
            margin-top: 40px;
        }

        #batchDateSpan {
            display: none;
        }

        ul#dispatchList li {
            cursor: pointer;
            height: 30px;
        }

        ul#dispatchList li:hover {
            background-color: #f9f9f9;
        }

        ul#dispatchList {
            position: absolute;
            width: 200px;
            z-index: 100;
        }
    </style>
{% endblock stylesheets %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'js/angular/angular143.min.js'
    'js/angular/angular-touch143.min.js'
    'js/angular/angular-animate143.min.js'
    'js/angular/ui-bootstrap-tpls-1.2.2.min.js'
    'js/angular/autocomplete-alt.js'
    'js/angular/ui-grid4.js'
    'bundles/numacccadmin/js/probill_form.js'
    'bundles/numacccadmin/js/loading-bar.min.js'
    'bundles/numacccadmin/js/lightbox.js' %}

    <script src="{{ asset(asset_url) }}"></script>
    {% endjavascripts %}
    <script>
        {% include 'NumaCCCAdminBundle:probill:probillDatagrid.js.twig' %}

    </script>
{% endblock javascripts %}
{% block content %}
    <div class="box billing-form" ng-app="probillApp">
        <div ng-controller="probillCtrl" ng-cloak>
            <div class="widget-box {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CORRECTION') or is_granted('ROLE_ALLCORRECTION') %}widget-screen col-md-7"{% endif %}>
                {% include "NumaCCCAdminBundle:BindingNavigator:probills.html.twig" %}
                <div class="widget-body">

                    <div class="widget-main">
                        <div id="flashmsg"></div>
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#order" aria-controls="home" role="tab"
                                                                      data-toggle="tab">Order Entry</a></li>
                            <li role="presentation"><a href="#table" aria-controls="profile" role="tab"
                                                       data-toggle="tab" ng-click="pointCurrent(1)">Order Table</a></li>
                            <li role="presentation"><a href="#customers" aria-controls="profile" role="tab"
                                                       data-toggle="tab">Customers</a></li>
                            <li role="presentation"><a href="#drivers" aria-controls="profile" role="tab"
                                                       data-toggle="tab">Drivers</a></li>
                            <li role="presentation"><a href="#rates" aria-controls="profile" role="tab"
                                                       data-toggle="tab">Rates</a></li>
                            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CORRECTION') or is_granted('ROLE_ALLCORRECTION') %}


                                <a class="btn btn-inverse btn-sm" href="{{ path("batch_finalize",{'id':id}) }}"
                                   id="finalizator"><i
                                            class="fa fa-check-square-o "></i> Finalize Whole Batch</a>
                                <a class="btn btn-yellow" href="#" ng-click="batchDate()"
                                   id="finalizator"><i
                                            class="fa fa-calendar "></i>Batch Date update</a>
                                <span id="batchDateSpan">
                                    <input type="text" ng-model="batchDateValue" class="batchDate" id="batchDate" placeholder="YYYY-MM-DD"/>
                                    <button class="btn btn-success" ng-click="batchDateUpdate()">Update</button>
                                </span>
                            {% endif %}
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="order" ng-keypress="altkey($event)">
                                {% include "NumaCCCAdminBundle:probill:probilForm.html.twig" %}

                            </div>
                            <script>
                                var vehtypeText = "";
                                $(document).keydown(function (e) {

                                    if (e.altKey && e.key.toLowerCase() == "d") {
                                        e.preventDefault();
                                        //$("#probills_pDate_month").focus();
                                        $("#probills_pDate_month").select();
                                    }
                                    if (e.altKey && e.key.toLowerCase() == "o") {
                                        e.preventDefault();
                                        $("#probills_ref").focus();
                                    }
                                    if (e.altKey && e.key.toLowerCase() == "p") {
                                        e.preventDefault();
                                        $("#probills_waybill").focus();
                                    }
                                    if (e.altKey && e.key.toLowerCase() == "t") {
                                        e.preventDefault();
                                        $("#probills_servType").focus();
                                    }
                                    if (e.altKey && e.key.toLowerCase() == "v") {
                                        e.preventDefault();
                                        $("#probills_vehtypes").focus();
                                    }
                                    if (e.altKey && e.key.toLowerCase() == "r") {
                                        e.preventDefault();
                                        $("#probills_rates").focus();
                                    }
                                    if (e.altKey && e.key.toLowerCase() == "b") {
                                        e.preventDefault();
//                                      TODO
                                        $("#probills_basicRateAmt").focus();
                                    }
                                    if (e.altKey && e.key.toLowerCase() == "m") {
                                        e.preventDefault();
                                        $("#probills_miscdesc").focus();
                                    }
                                    if (e.altKey && e.key.toLowerCase() == "s") {
                                        e.preventDefault();
                                        $("#probills_signature").focus();
                                    }
                                    if (e.altKey && e.key.toLowerCase() == "c") {
                                        e.preventDefault();
                                        $("#probills_details").focus();
                                    }
                                    if (e.altKey && e.key.toLowerCase() == "h") {
                                        e.preventDefault();
                                        $("#probills_trailerchg").focus();
                                    }
                                    if (e.altKey && e.key.toLowerCase() == "i") {
                                        e.preventDefault();
                                        $("#dispatchcard").focus();
                                    }
                                });

                            </script>
                            <div role="tabpanel" class="tab-pane " id="table" path="sdsdsdsd">
                                <div id="probillGrid" ui-grid="gridOptions" ui-grid-selection ui-grid-pinning
                                     ui-grid-edit
                                     ui-grid-cellNav class="grid"></div>
                            </div>
                            <div role="tabpanel" class="tab-pane " id="customers">
                                <div id="customersGrid" ui-grid="customersGrid" ui-grid-selection ui-grid-pinning
                                     ui-grid-cellNav
                                     class="grid"></div>
                            </div>
                            <div role="tabpanel" class="tab-pane " id="drivers">
                                <div id="driversGrid" ui-grid="driversGrid" ui-grid-selection ui-grid-pinning
                                     ui-grid-cellNav
                                     class="grid"></div>
                            </div>
                            <div role="tabpanel" class="tab-pane " id="rates">
                                <div id="ratesGrid" ui-grid="ratesGrid" ui-grid-selection ui-grid-pinning
                                     ui-grid-cellNav
                                     class="grid"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CORRECTION')  or is_granted('ROLE_ALLCORRECTION') %}
                <div class="col-md-5 widget-screen">
                    <div class="imageplaceholde">
                        <img src="{[{ scanImage }]}" alt="scan" id="probillScan" ng-cloak ng-click="toggleImage()"/>
                    </div>
                </div>
            {% endif %}
        </div>

    </div>
{% endblock %}
