{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'bundles/numacccadmin/probill_form.css'
    filter='cssrewrite' output='css/*.css' %}
    <link href="{{ asset(asset_url) }}" type="text/css" rel="stylesheet"/>
    {% endstylesheets %}
{% endblock stylesheets %}
{% block content %}
    <div class="col-lg-12 widget-box">
        <div class="widget-header widget-header-large">
            {% if action=="edit" %}
                <h4 class="widget-title">Edit Probill</h4>
            {% else %}
                <h4 class="widget-title">Create a new Probill</h4>
            {% endif %}
        </div>
        <div class="widget-body probill_form">
            <div class="widget-main">
                <div id="flashmsg"></div>
                {% include "NumaCCCAdminBundle:probill:probilForm.html.twig" %}
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $(".time").ForceNumericOnly();
            $(".timeH").change(function () {
                if ($(this).val() > 24) {
                    $(this).val(0);
                }
                calculateTime();
            })
            $(".timeM").change(function () {
                if ($(this).val() > 60) {
                    $(this).val(0);
                }
                calculateTime();
            })
        });

        $("#probills_servType").keydown(function (event) {
            event.preventDefault();

            var inputs = $(this).val("REG")
            if (event.key == "D" || event.key == "d") {
                $(this).val("DIR")
            }
            console.log($('#probills_dept').val());
            $('#probills_dept').focus();
        });

//remove basicrateamt
//        $("#probills_rateAmt").change(function (ev) {
//            $("#probills_basicRateAmt").val($(this).val())
//        });
        $("#probills_deliveryMn").blur(function (ev) {
            $("#probills_vehtypes").focus();
        });

        function calculateTime() {
            phr = parseInt($("#probills_pickupHr").val()) || 0;
            pmin = parseInt($("#probills_pickupMn").val()) || 0;
            dhr = parseInt($("#probills_deliveryHr").val()) || 0;
            dmin = parseInt($("#probills_deliveryMn").val()) || 0;

            thr = $("#probills_ttimeH");
            tmin = $("#probills_ttimeM");
            thr.attr("readonly", false);
            tmin.attr("readonly", false);
            if (phr > 0 && pmin > 0 && dhr > 0 && dmin > 0) {
                if (phr > dhr) {
                    if (pmin > dmin) {
                        thr.val(24 - phr + dhr - 1);
                        tmin.val(60 - pmin + dmin);
                    }
                    else if (pmin == dmin) {
                        thr.val(24 - phr + dhr);
                        tmin.val(dmin - pmin);
                    }
                    else {
                        thr.val(24 - phr + dhr);
                        tmin.val(dmin - pmin);
                    }

                }
                else if (phr == dhr) {
                    if (pmin > dmin) {
                        thr.val(24 - phr + dhr - 1);
                        tmin.val(60 - pmin + dmin);
                    }
                    else if (pmin == dmin) {
                        thr.val(dhr - phr);
                        tmin.val(dmin - pmin);
                    }
                    else {
                        thr.val(dhr - phr);
                        tmin.val(dmin - pmin);
                    }
                }
                else {
                    if (pmin > dmin) {
                        thr.val(dhr - phr - 1);
                        tmin.val(60 - pmin + dmin);
                    }
                    else if (pmin == dmin) {
                        thr.val(dhr - phr);
                        tmin.val(dmin - pmin);
                    }
                    else {
                        thr.val(dhr - phr);
                        tmin.val(dmin - pmin);
                    }
                }
            }
            thr.attr("readonly", true);
            tmin.attr("readonly", true);
        }

        $("#probills_drivers").change(function (ev) {
            ev.preventDefault();
            id = $(this).val();
            console.log(id);
            $.ajax(
                    {
                        url: '{{ app.request.getBaseURL() }}/api/driver/' + id,
                        type: "GET",
                        success: function (data, textStatus, jqXHR) {
                            console.log(data);
                            $("div.driver-rate").html(data.driv_rate);
                            $("input.driver-rate").val(data.driv_rate);
                            $("#probills_drvsurrate").val(data.drvsurrate);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert("Error");
                        }
                    });
        });

        $("#probills_customers").change(function (ev) {
            ev.preventDefault();
            id = $(this).val();
            console.log(id);
            $.ajax(
                    {
                        url: '{{ app.request.getBaseURL() }}/api/customer/' + id,
                        type: "GET",
                        success: function (data, textStatus, jqXHR) {
                            console.log(data);
                            $("#probills_customer_name").html(data.name);
                            $(".rate_level").html(data.ratelevel);
                            $("#probills_cussurchargerate").val(data.custsurchargerate);
                            calculateFuelRate();
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert("Error");
                        }
                    });
        });

        $("#probills_rates").change(function (ev) {
            ev.preventDefault();
            id = $(this).val();
            $.ajax(
                    {
                        url: '{{ app.request.getBaseURL() }}/api/rate/' + id,
                        type: "GET",
                        success: function (data, textStatus, jqXHR) {
                            console.log('{{ app.request.getBaseURL() }}/api/rate/' + id);
                            $(".rate_description").html(data.rate_description);
                            $("#probills_rateAmt").val(data.rate_amt);
                            //$("#probills_basicRateAmt").val(data.rate_amt);
                            calculatePreTax();
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert("Error");
                        }
                    });
        });

        $("#probills_extraPiece").change(function (ev) {
            calculateExtra();
        });
        $("#probills_extraPceRate").change(function (ev) {
            calculateExtra();
        });
        $("#probills_extra").change(function (ev) {
            calculatePreTax();
        });
        $("#probills_waitchrg").change(function (ev) {
            calculatePreTax();
        });
        $("#probills_miscAmt").change(function (ev) {
            calculatePreTax();
        });
        $("#probills_miscAmt").change(function (ev) {
            calculatePreTax();
        });

        $("#probills_drvRate").change(function (ev) {
            $("#ca-driver-rate").val($(this).val())
        })

        $("#probills_drvRate").change(function (ev) {
            $("#ca-driver-rate").val($(this).val())
        })
////TODO
        $("#probills_basicRateAmt").on("input propertychange", function () {
            calculatePreTax();
        });

        $("#direct").on("click", function () {
            calculateDirect();
        });


        function calculatePreTax() {
            ////TO DO
            basicRateAmt = $("#probills_basicRateAmt").val() || 0;
            extra = $("#probills_extra").val() || 0;
            rushAmt = $("#probills_rushAmt").val() || 0;
            waitchrg = $("#probills_waitchrg").val() || 0;
            trailerchg = $("#probills_trailerchg").val() || 0;
            misc = $("#probills_miscAmt").val() || 0;
            totalPreTax = parseFloat(basicRateAmt) + parseFloat(extra) + parseFloat(rushAmt) + parseFloat(waitchrg) + parseFloat(trailerchg) + parseFloat(misc);
            $("#probills_total").val(totalPreTax.toFixed(2));
            calculateFuelRate();
            calculateSubTotal();
            calculateDriverTotals();
        }

        function calculateExtra() {
            extraPiece = $("#probills_extraPiece").val() || 0;
            extraPceRate = $("#probills_extraPceRate").val() || 0;
            totalExtra = parseFloat(extraPiece) * parseFloat(extraPceRate);
            $("#probills_extra").val(totalExtra.toFixed(2));
            calculatePreTax();
        }

        function calculateFuelRate() {
            cussurchargerate = $("#probills_cussurchargerate").val() || 0;
            total = $("#probills_total").val() || 0;
            totalcustsurchargeamt = parseFloat(cussurchargerate) * parseFloat(total);
            $("#probills_custsurchargeamt").val(totalcustsurchargeamt.toFixed(2));

        }

        function calculateSubTotal() {
            total = $("#probills_total").val() || 0;
            custsurchargeamt = $("#probills_custsurchargeamt").val() || 0;
            subtotal = parseFloat(total) + parseFloat(custsurchargeamt);
            $("#probills_subtotal").val(subtotal.toFixed(2));
            calculateGrandTotal()
        }

        function calculateDirect() {
            ////TODO
            basicRateAmt = $("#probills_basicRateAmt").val() || 0;
            extra = $("#probills_extra").val() || 0;
            direct = (parseFloat(basicRateAmt) + parseFloat(extra)) / 2;
            $("#probills_rushAmt").val(direct.toFixed(2));
            calculateSubTotal();
        }

        function calculateGrandTotal() {
            subtotal = $("#probills_subtotal").val() || 0;
            taxcode = $("#probills_taxcode").val() || "";

            v = 0;
            if (taxcode.length > 0) {
                if (taxcode.substr(0, 1).toLowerCase() == 'g') {
                    v = 0.05;
                }
            }
            grandTotal = (parseFloat(subtotal) * v) + parseFloat(subtotal);

            $("#probills_gstAmt").val((parseFloat(subtotal) * v).toFixed(2));
            $("#probills_grandtotal").val(grandTotal.toFixed(2));

        }

        function calculateDriverTotals() {
            total = $("#probills_total").val() || 0;
            driverRate = $("#ca-driver-rate").val() || 0;
            drvSurchargeReturnRate = $("#probills_drvsurrate").val() || 0;
            fuelSurcharge = $("#probills_cussurchargerate").val() || 0;


            driverSurchargeAmount = (parseFloat(total) * parseFloat(fuelSurcharge) * (parseFloat(drvSurchargeReturnRate) / 100));
            temp = total * driverRate;
            driverTotalFS = temp + driverSurchargeAmount;
            gross = subtotal - driverTotalFS;
            $("#probills_driversurcharge").val(driverSurchargeAmount.toFixed(2));
            $("#probills_drvTotal").val(driverTotalFS.toFixed(2));
            $("#probills_drvgross").val(driverTotalFS.toFixed(2));
            $("#probills_gross").val(gross.toFixed(2));

        }


        jQuery.fn.ForceNumericOnly =
                function () {
                    return this.each(function () {
                        $(this).keydown(function (e) {
                            var key = e.charCode || e.keyCode || 0;
                            // allow backspace, tab, delete, enter, arrows, numbers and keypad numbers ONLY
                            // home, end, period, and numpad decimal
                            return (
                            key == 8 ||
                            key == 9 ||
                            key == 13 ||
                            key == 46 ||
                            key == 110 ||
                            key == 190 ||
                            (key >= 35 && key <= 40) ||
                            (key >= 48 && key <= 57) ||
                            (key >= 96 && key <= 105));
                        });
                    });
                };
    </script>
{% endblock %}
