<!--Pickup Modal -->
<div id="pickupModal" class="modal fade popupform" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Pickups</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">Date:</div>
                    <div class="col-md-3">Bill #:</div>
                    <div class="col-md-3">Drv #:</div>
                    <div class="col-md-3">Customer #:</div>
                </div>
                <div class="row">
                    <br>
                </div>
                <div class="row">
                    <div class="col-md-6">Pickup Address / Items / Remarks</div>
                    <div class="col-md-3">Pieces</div>
                    <div class="col-md-3">Weight</div>

                </div>
                {{ form_start(pickupForm) }}
                {% for i in 1..15 %}
                    <div class="row">
                        <div class="col-md-6">{{ form_widget(pickupForm["address_"~i]) }}</div>
                        <div class="col-md-3">{{ form_widget(pickupForm["pieces_"~i]) }}</div>
                        <div class="col-md-3">{{ form_widget(pickupForm["weight_"~i]) }}</div>

                    </div>
                    {% if i%5==0 and i<15 %}
                        </br>
                    {% endif %}
                {% endfor %}
                {{ form_end(pickupForm) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">Transfer PCE WGT</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>