{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% form_theme pickupForm 'bootstrap_3_layout.html.twig' %}
{% form_theme dropsForm 'bootstrap_3_layout.html.twig' %}
{{ form_start(form) }}
            {{ form_errors(form) }}
<div class="probill-section">
    <div class="row probill-row">
        <div class="col-md-2">
            <label>D<span class="underline">I</span>spatchcard</label>
        </div>
        <div class="col-md-2">
            {#{{ form_widget(form.Dispatchcard,{'attr':{'ng-change':'populateDispatchcard()'}}) }}#}

            <input type="text" name="dispatchcard" id="dispatchcard" ng-model="probill.dispatchcard" ng-keyup="complete(probill.dispatchcard)" class="form-control" ng-blur="dispatchcardOut()" />
            <ul class="list-group" ng-model="hidethis" ng-hide="hidethis" id="dispatchList">
                <li class="list-group-item" ng-repeat="dispatchcarData in filterDispatchcard" ng-click="fillTextbox(dispatchcarData)" >{[{dispatchcarData}]}</li>
            </ul>
        </div>
        <div class="col-md-2">
            Initials: <strgong>{[{ probill.users_initials }]}</strgong>
        </div>
    </div>
    <div class="row probill-row">
        <div class="col-md-2">
            <div class=""><span class="underline">D</span>ate</div>
            {{ form_errors(form.pDate) }}

            <div class="col-md-4 date-element">
                {{ form_widget(form.pDate.month,{'attr':{'select-on-click':'','ng-blur':'monthFocusout($event)','ng-keydown':'monthKeydown($event)','ng-model':'probill.pdate_month','class':'date-element','tabindex':1,'class':''}}) }}
            </div>
            <div class="col-md-4 date-element">
                {{ form_widget(form.pDate.day,{'attr':{'ng-blur':'dayFocusout($event)','ng-keydown':'dayKeydown($event)','ng-model':'probill.pdate_day','class':'date-element','tabindex':-1}}) }}
            </div>
            <div class="col-md-4 date-element">
                {{ form_widget(form.pDate.year,{'attr':{'ng-blur':'yearFocusout($event)','ng-keydown':'yearKeydown($event)','ng-model':'probill.pdate_year','class':'date-element','tabindex':-1}}) }}
            </div>
        </div>
        <div class="col-md-2">
            <div class="">Drv#</div>
            {{ form_errors(form.drivers) }}
            {{ form_widget(form.drivers,{'attr':{'ng-keydown':'driverKeydown($event)','ng-focus':'driverFocus()'}}) }}
        </div>
        <div class="col-md-1">
            <div class="">Set Rate</div>
            <div id="driver-rate" class="driver-rate big" >{[{ driverRate }]}</div>
        </div>
        <div class="col-md-1">
            <div class="">Rate:</div>
            {{ form_widget(form.drvRate,{'attr':{"ng-blur":"betweenZeroOne()",'class':'driver-rate'}}) }}
        </div>
        <div class="col-md-1">
            {{ form_widget(form.drv_rate_override) }}
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-1">
            <div class="">PO #</div>
            {{ form_widget(form.po) }}
        </div>
        <div class="col-md-1">
            <div class=""><span class="underline">O</span>rder/ref #</div>
            {{ form_widget(form.ref) }}
        </div>
    </div>

    <div class="row probill-row">
        <div class="col-md-2">
            <div class="">Cust. Code / Charge to:</div>
            {{ form_widget(form.customers,{'attr':{'ng-keydown':'customerKeydown($event)','ng-focus':'customerFocus()'}}) }}
            <div ng-if="customer_data_entry_notes">
                <a><i class="fa fa-info-circle " title="{[{ customer_data_entry_notes }]}" style="font-size: 30px;position: absolute;bottom:0px;right:-20px;height: 20px;width: 20px;" ng-click="dataEntryComment()"></i></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="">CUSTOMER NAME</div>
            <div id="probills_customer_name" class="bold">{[{customerName}]}</div>

        </div>
        <div class="col-md-1">
            <div class="">Rate Level</div>
            <div class="big rate_level" id="">{[{customerRateLevel}]}</div>
        </div>
        <div class="col-md-2">
            <div class=""><span class="underline">P</span>robill # </div>
            {{ form_widget(form.waybill,{'attr':{'ng-blur':'waybillOut()'}})  }}
        </div>
        <div class="col-md-1">
            <div class="">Sub Item</div>
            <div class="">{{ form_widget(form.subitem) }}</div>
        </div>
        <div class="col-md-1">
            <div class=""><span class="underline">T</span>ype of Service</div>
            <div class="">{{ form_widget(form.servType,{'attr':{'ng-keyup':'servtypeKeyup($event)'}}) }}</div>
        </div>
    </div>
</div>
<div class="probill-section">
    <div class="row probill-row">
        <div class="col-md-1">
            <div class="">Department</div>
            {{ form_widget(form.dept) }}
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <div class="">Pickup Time</div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_widget(form.pickupHr,{"attr": {'class':'time timeH','maxlength':2}}) }}
                </div>
                <div class="col-md-6">
                    {{ form_widget(form.pickupMn,{"attr": {'class':'time timeM','maxlength':2}}) }}
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="">Delivery Time</div>
            <div class="row">
                <div class="col-md-6">{{ form_widget(form.deliveryHr,{"attr": {'class':'time timeH','maxlength':2}}) }}</div>
                <div class="col-md-6">{{ form_widget(form.deliveryMn,{"attr": {'class':'time timeM','maxlength':2}}) }}</div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="">Total Time</div>
            <div class="row">
                <div class="col-md-6">{{ form_widget(form.ttimeH) }}</div>
                <div class="col-md-6">{{ form_widget(form.ttimeM) }}</div>
            </div>
        </div>
        <div class="col-md-2">
            <div class=""><span class="underline">V</span>ehicle Code</div>
            <div class="">{{ form_widget(form.vehtypes,{'attr':{'ng-keydown':'vehtypeKeydown($event)','ng-focus':'vehtypeFocus()','ng-blur':'vehtypeFocusOut()'}}) }}</div>

        </div>
        <div class="col-md-1">
            <div class="">Trailer #</div>
            <div class="">{{ form_widget(form.trailerId) }}</div>
        </div>
    </div>

    <div class="row probill-row">
        <div class="col-md-4">
            <div class="">Pickup At</div>
            {{ form_widget(form.shipper) }}
        </div>
        <div class="col-md-1">
            <div>&nbsp;</div>
            <a class="btn btn-default" data-toggle="modal" data-target="#pickupModal">Pickups</a>
        </div>
        <div class="col-md-4">
            <div class="">Ship To</div>
            {{ form_widget(form.receiver) }}
        </div>
        <div class="col-md-1">
            <div>&nbsp;</div>
            <a class="btn btn-default" data-toggle="modal" data-target="#dropsModal">Drops</a>
        </div>
        <div class="col-md-2">
            <div class="">Bill Type</div>
            <div class="">{[{ probill.billtype }]}</div>
        </div>
    </div>

    <div class="row probill-row">
        <div class="col-md-1">
            <div class="">PCES</div>
            {{ form_widget(form.pce) }}
        </div>
        <div class="col-md-1">
            <div class="">WGT</div>
            {{ form_widget(form.wgt) }}
        </div>
        <div class="col-md-1">
            <div class="">Rate Level</div>
            <div class="rate_level">{[{customerRateLevel}]}</div>
        </div>
        <div class="col-md-1">
            <div class=""><span class="underline">R</span>ate Code</div>
            {{ form_widget(form.rates,{'attr':{'ng-keydown':'rateKeydown($event)','ng-focus':'rateFocus()','ng-blur':'rateFocusOut()'}})  }}
        </div>
        <div class="col-md-4">
            <div class="">Description:</div>
            <div class="rate_description"><b>{[{rateDescription}]}</b></div>
        </div>

        <div class="col-md-4">
            <div class="col-md-6">
                <div><span class="underline">B</span>asic Rate Amount</div>
            </div>
            <div class="col-md-6">
                {{ form_widget(form.rateAmt) }}
            </div>
        </div>
    </div>
</div>
<div class="probill-section">
    <div class="row probill-row">
        <div class="col-md-4">
            <div><span class="underline">C</span>omments for customer report</div>
            {{ form_widget(form.details) }}
            <div>Internal Note / Reason for Driver Rate Override</div>
            {{ form_widget(form.comments) }}
            <div>Dimensions</div>
            {{ form_widget(form.dimensions) }}

        </div>
        <div class="col-md-2">
            <div class="row probill-row">
                <div class="col-md-8">
                    <div>Extra Piece / Wgt</div>
                </div>
                <div class="col-md-4">
                    {{ form_widget(form.extraPiece) }}
                </div>
            </div>
            <div class="row  probill-row">
                <div class="col-md-8">
                    <div>Wait Time</div>
                </div>
                <div class="col-md-4">
                    {{ form_widget(form.waitime) }}
                </div>
            </div>
            <div class="row  probill-row">
                <div class="col-md-12">
                    <div><span class="underline">M</span>isc Charge Desc</div>
                    {{ form_widget(form.miscdesc) }}
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="col-md-8">
                <div>Extra PC/WT Rate</div>
            </div>
            <div class="col-md-4">
                {{ form_widget(form.extraPceRate) }}
            </div>
        </div>

        <div class="col-md-4">
            <div class="row probill-row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div>= Extra *</div>
                </div>
                <div class="col-md-4">
                    <input id="probills_extra" class="form-control blueinput" type="text" ng-model="probill.extra" readonly>
                </div>
            </div>
            <div class="row probill-row">
                <div class="col-md-2"></div>
                <div class="col-md-2"><a class="btn btn-primary" id="direct" ng-click="calculateDirect()">Direct</a></div>
                <div class="col-md-4">
                    <div>Direct *</div>
                </div>
                <div class="col-md-4">
                    {{ form_widget(form.rushAmt,{'attr':{'readonly':'readonly'}}) }}
                </div>
            </div>
            <div class="row probill-row">
                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <div>Wait, Load or Unload chrg *</div>
                </div>
                <div class="col-md-4">
                    {{ form_widget(form.waitchrg) }}
                </div>
            </div>
            <div class="row probill-row">
                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <div><span class="underline">H</span>eating or Trailer Charge</div>
                </div>
                <div class="col-md-4">
                    {{ form_widget(form.trailerchg,{'attr':{'ng-keydown':'moveToSignature($event)'}}) }}
                </div>
            </div>
            <div class="row probill-row">
                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <div>Miscellaneous Amt.</div>
                </div>
                <div class="col-md-4">
                    {{ form_widget(form.miscAmt,{'attr':{'ng-keydown':'moveToSignature($event)'}}) }}
                </div>
            </div>
            <div class="row probill-row">
                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <div class="red">Total Charge (pre-tax)</div>
                </div>
                <div class="col-md-4">
                    {{ form_widget(form.total,{'attr':{'class':'blueinput'}}) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row probill-row">
        <div class="col-md-4">
            <div>Misc Info</div>
            {{ form_widget(form.miscinfo) }}
        </div>
        <div class="col-md-4">
            <div class="col-md-6">
                Fuel Surcharge Differential Rate
            </div>
            <div class="col-md-3">
                <div class="">Diff.
                </div>
                {{ form_widget(form.fuelsurchargedifferential) }}
            </div>
            <div class="col-md-3">
                <div class="">Amt.</div>
                <input id="probills_fuel_amt" class="form-control" type="text">
            </div>
        </div>
        <div class="col-md-4">
            <div class="row probill-row">
                <div class="col-md-2"></div>
                <div class="col-md-4">Fuel Surcharge Rate</div>
                <div class="col-md-3">{{ form_widget(form.cussurchargerate) }}{{ form_widget(form.cussurchargerate_override) }}</div>
                <div class="col-md-3">{{ form_widget(form.custsurchargeamt) }}</div>
            </div>
        </div>
    </div>
    <div class="row probill-row">
        <div class="col-md-10"></div>
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-6">Subtotal</div>
                <div class="col-md-6">{{ form_widget(form.subtotal) }}</div>
            </div>
        </div>
    </div>

    <div class="row probill-row">
        <div class="col-md-5 background-blue">
            <div>* Commisionible Amount</div>
            <div class="row probill-row">
                <div class="col-md-6">
                    <div class="col-md-6">Drv Rate:</div>
                    <div class="col-md-6">
                        <input type="text" class="driver-rate form-control" ng-model="driverRate"
                                                 id="ca-driver-rate"></div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-6">Drv Surcharge Return Rate:</div>
                    <div class="col-md-6">{{ form_widget(form.drvsurrate) }}</div>
                </div>
            </div>
            <div class="row probill-row">
                <div class="col-md-6">
                    <div class="col-md-6">Driver Surcharge Amount</div>
                    <div class="col-md-6">{{ form_widget(form.driversurcharge) }}</div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-6">* Drv Ttl with FS</div>
                    <div class="col-md-6">{{ form_widget(form.drvTotal) }}</div>
                </div>
            </div>
            <div class="row probill-row">
                <div class="col-md-6">
                    <div class="col-md-6">Driver Rate Amount</div>
                    <div class="col-md-6">{{ form_widget(form.drvgross) }}</div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-6">Company Gross</div>
                    <div class="col-md-6">{{ form_widget(form.gross) }}</div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div>&nbsp;</div>
            <div><span class="underline">S</span>ignature</div>
            <div>{{ form_widget(form.signature,{'attr':{'ng-blur':'newProbill()'}}) }}</div>
        </div>
        <div class="col-md-1">
            <div>&nbsp;</div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div>&nbsp;</div>
                <div class="col-md-4">Tax Code</div>
                <div class="col-md-2">{{ form_widget(form.taxcode) }}</div>
                <div class="col-md-1">GST</div>
                <div class="col-md-5">{{ form_widget(form.gstAmt) }}</div>
            </div>
            <div class="row">
                <div>&nbsp;</div>
                <div class="col-md-4"></div>
                <div class="col-md-3 redbold">Grand Total</div>
                <div class="col-md-5">{{ form_widget(form.grandtotal) }}</div>
            </div>
        </div>
    </div>
</div>

{% include "NumaCCCAdminBundle:probill:pickupPopup.html.twig" %}
{% include "NumaCCCAdminBundle:probill:dropsPopup.html.twig" %}

{{ form_row(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}