/**
 * Created by genjerator on 31.10.17..
 */
//var app = angular.module('myApp', ['angular-loading-bar']);
var app = angular.module('probill', []);

app.controller('probillCntrl', function ($scope, $http, $element) {

    $http.get("/api/probill/{{ id }}")
        .then(function (response) {
            console.log(response.data);
        });

    $scope.calculateASPrice = function () {
        console.log("ANGUAR CALCULATE calculateASPrice");
        //ASP=IF(ACV>=LESS TRADE IN,SALE PRICE)+IF(ACV<LESS TRADE IN,SALE PRICE-(LESS TRADE
        if (parseFloatx($scope.ac_value) >= parseFloatx($scope.less_trade_in)) {
            as_price = parseFloatx($scope.sale_price);
        } else {
            as_price = parseFloatx($scope.sale_price) - (parseFloatx($scope.less_trade_in) - parseFloatx($scope.ac_value));
        }
        //as_price = parseFloatx($scope.sale_price) - (parseFloatx($scope.less_trade_in) - parseFloatx($scope.ac_value)) ;
        $scope.as_price = as_price.toFixed(2);
        console.log("total_balance_due=payable_on_delivery-balance_to_finance+life_insurance+disability_insurance=" + parseFloatx($scope.payable_on_delivery) + "-" + parseFloatx($scope.balance_to_finance) + "+" + parseFloatx($scope.life_insurance) + "+" + parseFloatx($scope.disability_insurance) + "=" + $scope.total_balance_due);

    }

    {#$scope.$watcalue[], function (newValue, oldValue) {#}
        {#console.log("ANGUAR $watch");#}
        {#if (angular.isDefined($scope.sale_price) && $scope.sale_price.length > 0) {#}
            {#console.log("ANGUAR $watchinside");#}
            {#$scope.calculateASPrice();#}
        {#}#}
    {#});#}


});

app.config(function ($interpolateProvider) {
    $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
});




