{% if(entity=='billing_period') %}
{% set apicall="/api/probill/billing_period/"~id %}
{% elseif(entity=='batch') %}
{% set f="" %}
{% if finalized is defined %}
{% if finalized %}
{% set f="f-" %}
{% else %}
{% set f="p-" %}
{% endif %}
{% endif %}
{% if billType=="ALL" and finalized is defined and finalized %}
{% set apicall="/api/probill/batch/f-0" %}
{% elseif(billType=="ALL") %}
{% set apicall="/api/probill/batch/p-"~id %}
{% elseif(billType=="CTY") %}
{% set apicall="/api/probill/batch/cty/"~id %}
{% elseif(billType=="HWY") %}
{% set apicall="/api/probill/batch/hwy/"~id %}
{% endif %}
{% elseif(entity=='all') %}
{% set apicall="/api/probill/all" %}
{% endif %}

{% set apiCallDrivers = "/api/driver/allactive" %}
{% set apiCallCustomers = "/api/customer/all" %}
{% set apiCallRates = "/api/rate/all" %}
{% set apiCallVehtypes = "/api/vehtype/all" %}
{% set apiCallDispatchcard = "/api/dispatchcard/allde" %}
var app = angular.module('probillApp', ['angular-loading-bar', 'bootstrapLightbox', 'ngTouch', 'ngAnimate', 'ui.grid', 'ui.grid.moveColumns', 'ui.grid.resizeColumns', 'ui.grid.selection', 'ui.grid.cellNav', 'ui.grid.expandable', 'ui.bootstrap', 'ui.grid.pinning', 'ui.grid.edit']);


app.config(function ($interpolateProvider) {
    $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
});

app.service('drivers', function ($http, $q) {

});

app.directive('integersOnly', function () {
    return {
        require: 'ngModel',
        link: function (scope, element, attrs, modelCtrl) {
            modelCtrl.$parsers.push(function (inputValue) {
                if (inputValue == undefined) return ''

                var transformedInput = inputValue.replace(/[^0-9]/g, '');

                if (transformedInput != inputValue) {
                    modelCtrl.$setViewValue(transformedInput);
                    modelCtrl.$render();
                }

                return transformedInput;
            });
        }
    };
});


app.controller('probillCtrl', ['$scope', '$http', '$log', '$timeout', '$window', 'uiGridConstants', '$q', '$interval', 'drivers', 'Lightbox', function ($scope, $http, $log, $timeout, $window, uiGridConstants, $q, $interval, drivers, Lightbox) {


    $scope.openLightboxModal = function (index) {
        $scope.setScanImage($scope.probill);
        $scope.images = [
            {
                'url': $scope.scanImage,
                //'url': 'http://images.customcourierco.com/scans/JUN15-18/3159913.jpg',
                'caption': 'Optional caption',
                'thumbUrl': 'thumb1.jpg' // used only for this example
            }
        ];

        Lightbox.openModal($scope.images, 0);
    };

    $scope.gridOptions = {
        useExternalSorting: true,
        {#enableSorting: false,#}
        cellClass: getCellClass,
        showGridFooter: true,
        showGridHeader: true,
        enableFiltering: true,
        enableRowSelection: true,
        enableFullRowSelection: true,
        enableRowHeaderSelection: true,
        modifierKeysToMultiSelectCells: true,
        keyDownOverrides: [{keyCode: 39, ctrlKey: true}],
        customScroller: function myScrolling(uiGridViewport, scrollHandler) {
            uiGridViewport.on('scroll', function myScrollingOverride(event) {
                $scope.scroll.top = uiGridViewport[0].scrollTop;
                $scope.scroll.left = uiGridViewport[0].scrollLeft;

                // You should always pass the event to the callback since ui-grid needs it
                scrollHandler(event);
            });
        }
    };
    {% if correction is defined and correction %}
    $scope.correction = true;
    {% else %}
    $scope.correction = false;
    {% endif %}
    {% if finalized is defined and finalized %}
    $scope.finalized = true;
    {% else %}
    $scope.finalized = false;
    {% endif %}
    $scope.readonly=false;
    {% if readonly is defined and readonly %}
    $scope.readonly=true;
    {% endif %}
    $scope.baseImageUrl = '{{ scan_url }}';
    $scope.vehtypeText = "";
    $scope.rateText = "";
    $scope.driverText = "";
    $scope.customerText = "";
    $scope.customer = {};
    $scope.gridOptions.multiSelect = true;
    $scope.gridOptions.modifierKeysToMultiSelect = false;
    $scope.gridOptions.noUnselect = false;

    $scope.scroll = {
        top: 0,
        left: 0
    };
    $scope.zindex=1;

    $scope.complete = function (string) {
        if (string.length > 2) {
            $scope.hidethis = false;
            {#//console.log("complete");#}
            {#//console.log($scope.dispatchcardList);#}
            var output = [];
            angular.forEach($scope.dispatchcardList, function (dispatchcard) {


                did = dispatchcard.id + "";

                {#if(dispatchcard.id.indexOf(string.toLowerCase()) >= 0)#}
                {#{#}
                {#output.push(dispatchcard);#}
                {#}#}
                if (did.toLowerCase().indexOf(string.toLowerCase()) >= 0) {
                    console.log(did);
                    output.push(did);
                }
            });
            console.log("output"+output[0]);
            console.log(output);

            $scope.filterDispatchcard = output;
        }
    }
    $scope.dispatchcardOut = function () {
        $scope.hidethis = true;
        $scope.fillTextbox($scope.filterDispatchcard[0]);
        $('#probills_drivers').focus();
    }
    $scope.fillTextbox = function (string) {
        //console.log("fillTextbox:  "+ string);
        $scope.probill.dispatchcard_pid = string;
        $scope.hidethis = true;
        $scope.populateDispatchcard(string);
    }
    $scope.dataEntryComment = "";
    $scope.rotate = 0;
    $scope.currentId = 0;
    $scope.currentIndex = 0;
    $scope.init = true;
    $scope.initDate = "";
    $scope.total = 0;
    $scope.drivers = [];
    $scope.apiLoaded = false;
    $scope.apiLoadedProbills = false;
    $scope.apiLoadedCustomers = false;
    $scope.apiLoadedDrivers = false;
    $scope.apiLoadedVehtypes = false;
    $scope.apiLoadedRates = false;
    $scope.getCurrentSelection = function () {
        var values = [];
        var currentSelection = $scope.gridApi.cellNav.getCurrentSelection();
        for (var i = 0; i < currentSelection.length; i++) {
            values.push(currentSelection[i].row)
        }
        $scope.printSelection = values.toString();
    };
    var selectedRow = null;


    $scope.gridOptions.onRegisterApi = function (gridApi) {
        $scope.customers = [];
        $scope.selectedDate = "";
        $scope.drivers = [];
        $scope.rates = [];
        $scope.vehtypes = [];
        $scope.gridApi = gridApi;

        gridApi.cellNav.on.navigate($scope, function (newRowCol, oldRowCol) {
            $scope.current = newRowCol.row.entity.index;
            if ('.ui-grid-cell-focus ') {
                selectedRow = newRowCol.row.uid;
                gridApi.core.notifyDataChange(uiGridConstants.dataChange.COLUMN);
            }
            setProbill(newRowCol.row.entity);
        });

        gridApi.selection.on.rowSelectionChanged($scope, function (row) {
            $scope.selected[row.entity.index-1] = undefined;
            if(row.isSelected){
                $scope.selected[row.entity.index-1] = row.entity.id;
            }
        });

        gridApi.selection.on.rowSelectionChangedBatch($scope, function (rows) {
            angular.forEach(rows, function (value, key) {
                $scope.selected[value.entity.index-1] =undefined;
                if(value.isSelected) {
                    $scope.selected[value.entity.index-1] = value.entity.id;
                }
            });
        });

        gridApi.cellNav.on.viewPortKeyDown($scope, function (event, newRowCol) {
            var row = newRowCol.row;
            var col = newRowCol.col
            if (event.keyCode === 39) {
                $scope.gridApi.cellNav.scrollToFocus(row.entity, $scope.gridApi.grid.columns[$scope.gridApi.grid.columns.length - 1]);
            }
        });

        gridApi.edit.on.afterCellEdit($scope, function (rowEntity, colDef, newValue, oldValue) {
            test = 'XXXXXXXXXXXXXXedited row id:' + rowEntity.id + ' Column:' + colDef.name + ' newValue:' + newValue + ' oldValue:' + oldValue;
            console.log(test);
            if(colDef.name=='vehtype_name'){
                console.log("vehtypeupdate");
                $scope.setVehtype(newValue);
            }else if(colDef.name=='p_date'){
                console.log("p_date");
                date = new Date(newValue);
                day = date.getDay();
                month = date.getMonth();
                year = date.getFullYear();
                dateString = year+"-"+month+"-"+day;
                console.log(date);
                console.log(dateString);

            }
            $scope.updateProbill()
            //$scope.$apply();
        });

        gridApi.core.on.sortChanged($scope, $scope.sortChanged);
        //$scope.sortChanged($scope.gridApi.grid, [ $scope.gridOptions.columnDefs[1] ] );


        $scope.probill = {};

        apicall('{{ apicall }}');

        $scope.probill.entityDataGrid = "{{ entity }}";
        $scope.probill.entityDataGridId = {{ id }};
        $scope.probill.billtype = "{{ billType }}";

    };

    $scope.$watch("[apiLoaded]", function (newValue, oldValue) {
        //console.log("API LOADED XXXXXX" + newValue)
        if (newValue) {
            watchers();
            $scope.first();
        }
    });

    $scope.rotateScan = function (angle) {
        $scope.rotate = $scope.rotate + angle
        if ($scope.rotate == 360) {
            $scope.rotate = 0;
        }
        image = angular.element('#probillScan');
        var r = 'rotate(' + $scope.rotate + 'deg)';
        image.css({
            '-moz-transform': r,
            '-webkit-transform': r,
            '-o-transform': r,
            '-ms-transform': r
        });
    };

    $scope.sortChanged = function (grid, sortColumns) {

        if (sortColumns.length > 0) {
            //console.log(sortColumns[0].name);
            //console.log(sortColumns[0].sort.direction);
            if (sortColumns[0].name == 'customer_name') {
                apicall('{{ apicall }}?sort=customer&order=' + sortColumns[0].sort.direction);
            }
            if (sortColumns[0].name == 'p_date') {
                apicall('{{ apicall }}?sort=date&order=' + sortColumns[0].sort.direction);
            }
            if (sortColumns[0].name == 'waybill') {
                apicall('{{ apicall }}?sort=waybill&order=' + sortColumns[0].sort.direction);
            }
            if (sortColumns[0].name == 'driver_name') {
                apicall('{{ apicall }}?sort=driver&order=' + sortColumns[0].sort.direction);
            }
            if (sortColumns[0].name == 'shipper') {
                apicall('{{ apicall }}?sort=shipper&order=' + sortColumns[0].sort.direction);
            }
            if (sortColumns[0].name == 'receiver') {
                apicall('{{ apicall }}?sort=receiver&order=' + sortColumns[0].sort.direction);
            }
            if (sortColumns[0].name == 'status') {
                apicall('{{ apicall }}?sort=status&order=' + sortColumns[0].sort.direction);
            }
            if (sortColumns[0].name == 'billtype') {
                apicall('{{ apicall }}?sort=billtype&order=' + sortColumns[0].sort.direction);
            }
            if (sortColumns[0].name == 'ratelevel') {
                apicall('{{ apicall }}?sort=ratelevel&order=' + sortColumns[0].sort.direction);
            }
            if (sortColumns[0].name == 'vehtype_name') {
                apicall('{{ apicall }}?sort=vehicle&order=' + sortColumns[0].sort.direction);
            }
        } else {
            apicall('{{ apicall }}')
        }
    };

    $scope.dataEntryComment = function () {
        //console.log($scope.dataEntryNote);
        //console.log($scope.customer_data_entry_notes);
        //if (angular.isDefined($scope.dataEntryNote) && $scope.dataEntryNote.length == 0) {
        $scope.dataEntryNote = $scope.customer_data_entry_notes;
        alert($scope.customer_data_entry_notes);
        //}
    }

    $scope.setCurrent = function (probill) {
        $scope.currentId = probill.id;
        $scope.current = probill.index;
        //console.log("current id:" + $scope.currentId);
        //console.log("current index:" + $scope.current);
        //console.log(probill);
        $scope.setPDate(probill.p_date);
        //$scope.probill.rate_amt = probill.rate_amt;
        //$scope.probill.basicRateAmt = probill.rate_amt;
        $('#probills_pDate_month').focus();
    }

    $scope.pointCurrent = function (ev) {
        //console.log(ev);
        if (ev.key == "Enter" || ev == 1) {
            $scope.scrollToFocus($scope.current, 1);
        }
    }

    $scope.testScroll = function () {
        $scope.scrollToFocus($scope.current, 1);
    }

    $scope.scrollToFocus = function (rowIndex) {
        //console.log($scope.current);
        //console.log("scrollToFocus nav triggered row:" + rowIndex + "::" + $scope.current);
        if ($scope.probill.id > 0 && !$scope.init) {
            //console.log("updating probill:" + rowIndex + "::" + $scope.current);

            $scope.updateProbill(rowIndex);
        }
        if ($scope.init) {
            $scope.init = false;
        }
        //console.log(rowIndex + ":::scrollToFocus:::" + $scope.init);
        $scope.scrollToFocusNoUpdate(rowIndex);
    };
    $scope.scrollToFocusNoUpdate = function (rowIndex) {
        $scope.current = rowIndex;
        if ($scope.gridOptions.data.length > 1 && $scope.gridOptions.data[rowIndex - 1].id !== undefined) {

            $scope.currentId = $scope.gridOptions.data[rowIndex - 1].id;

            if (rowIndex > 0) {
                $scope.gridApi.selection.selectRow($scope.gridOptions.data[rowIndex - 1]);
                //$scope.driverRate = "";//////
                $scope.customerName = "";
                $scope.customerRateLevel = "";
                $scope.rateDescription = "";
                $scope.probill = $scope.gridOptions.data[rowIndex - 1];
                setProbill($scope.gridOptions.data[rowIndex - 1])


            }
            //console.log(rowIndex + ":::scrollToFocusNoUpdate:::" + $scope.currentId);
            $scope.gridApi.core.scrollTo($scope.gridOptions.data[rowIndex], $scope.gridApi.grid.columns[0]);
            $scope.gridApi.cellNav.scrollToFocus($scope.gridOptions.data[rowIndex - 1], $scope.gridApi.grid.columns[0]);
            $scope.gridApi.grid.modifyRows($scope.gridOptions.data);
        }
    }
    $scope.betweenZeroOne = function () {
        //console.log("betweenZeroOne");
        if (parseFloat($scope.probill.drv_rate) < 0 || parseFloat($scope.probill.drv_rate) > 1) {
            alert("The value has to be between 0 and 1")
            $scope.probill.drv_rate = "";
            $("#probills_drvRate").focus();
        }
    }

    $scope.populateDispatchcard = function (dc_id) {

        //console.log();
        $http({
            method: 'get',
            url: '/api/dispatchcard/' + dc_id,
            headers: {'Content-Type': 'application/json '},
        }).then(function (response) {
            //var data = JSON.parse(response.data);
            dc = response.data;
            dest = dc._destination[0];
            origin = dc._origin[0];
            $scope.setDispatchcard(dc.id)
            $scope.probill.serv_type = dc.serv_type;
            $scope.probill.pce = dest.pieces;
            $scope.probill.po = dest.po;
            $scope.probill.wgt = dest.weight;
            $scope.probill.dimensions = dest.dimensions;
            $scope.probill.miscinfo = dest.miscinfo;
            $scope.probill.shipper = origin.building_business;
            $scope.probill.receiver = dest.building_business;
            $scope.setPDate(dc.dateorder);

            $("#probills_vehtypes").val(dest.vehicletype_id);
            $scope.probill.customer_pid = dc.customer_id
            $scope.setCustomer(dc.customer_id);

        });
    }

    $scope.deleteProbill = function () {
        //console.log("DELETE PROBILL");
        //console.log("CURENTID" + $scope.currentId);
        //console.log("CURRENT" + $scope.current);
        var txt;
        var r = confirm("Are You sure you want to delete the Probill ( " + $scope.probill.waybill + " )");
        if (r == true) {
            txt = "You pressed OK!";
        } else {
            return;
        }
        $http({
            method: 'DELETE',
            url: '{{ app.request.getSchemeAndHttpHost() }}/admin/probill/deleteAjax',
            headers: {'Content-Type': 'application/json '},
            data: {'id': $scope.currentId}
        }).then(function (response) {
            //var data = JSON.parse(response.data);
            probill = response.data.data;
            {#//console.log(probill);#}
            selectedIndex = 0;
            if (probill.id > 0) {

                angular.forEach($scope.gridOptions.data, function (row, index) {
                    if (probill.id == row.id) {
                        selectedIndex = index;
                    }
                })
                $scope.gridOptions.data.splice(selectedIndex, 1);
                //console.log("deleted index=" + selectedIndex);

                $scope.total = $scope.gridOptions.data.length;
                $scope.reindex();
                if (selectedIndex == 0) {
                    selectedIndex = 1
                }
                $scope.driverRate = "";
                $scope.customerName = "";
                $scope.customerRateLevel = "";
                $scope.rateDescription = "";
                $scope.scrollToFocus(selectedIndex, 1)
                //console.log("DELETE IND")
            }
        });
    }
    $scope.reindex = function () {
        i = 1;

        angular.forEach($scope.gridOptions.data, function (row, index) {
            $scope.gridOptions.data[index].index = i;
            i++;
        })
    }
    var setProbill = function (probill) {

        $scope.probill = [];

        //console.log("setProbill   xxxx");
        //console.log(probill);
        {#//console.log(probill);#}
        $scope.setPDate(probill.p_date);
        //console.log("setProbill   yyyyy");

        //console.log(probill.pdate_year + ":" + probill.pdate_month + ":" + probill.pdate_day);

        // set customer
        $scope.setCustomer(probill.customer_pid)
        //init set driver
        //console.log("init driver");
        $scope.setDriver(probill.driver_pid);
        //init set rates
        $scope.setRate(probill.rates_pid)
        $scope.setDispatchcard(probill.dispatchcard_id)

        //console.log("init probills_vehtypes in probills");
        $scope.setVehtype(probill.vehtype_pid)
        $scope.probill = probill
        $scope.setCurrent(probill)

        $scope.setScanImage(probill);

    };

    $scope.batchDate = function () {
        console.log("BATCH DATE");
        angular.element('#batchDateSpan').show();
        angular.element('#batchDate').focus();
    }

    $scope.batchDateUpdate = function () {
        console.log("BATCH DATE UPDATE");
        angular.element('#batchDateSpan').hide();
        console.log($scope.selected)
        console.log(JSON.stringify($scope.selected));
        $http.post('{{ path("probill_massdelete_ajax") }}', {'data': JSON.stringify($scope.selected),"date":$scope.batchDateValue})
                .success(function (response) {
                    if(response['error'] !== undefined){
                        alert(response['error'])
                    }

                    console.log(response);
                    apicall('{{ apicall }}');
                });
    }

    $scope.toggleImage = function () {
        image = angular.element('.grid');
        console.log("CLICL")

        if( $scope.zindex>1){
            $scope.zindex = 0;
        }else{
            $scope.zindex = 100;
        }
        image.css({
            'z-index':$scope.zindex
        });
        {#image.css({#}
            {#'-moz-transform': r,#}
            {#'-webkit-transform': r,#}
            {#'-o-transform': r,#}
            {#'-ms-transform': r#}
        {#});#}
    }

    $scope.setPDate = function (pdate) {
        {#console.log("pdate:=" + pdate);#}
        if (pdate) {
            dateParts = pdate.substr(0, 10).split('-');
            {#console.log("dateParts:="+dateParts);#}
            $scope.probill.pdate_year = dateParts[0];
            $scope.probill.pdate_month = parseInt(dateParts[1]) + "";
            $scope.probill.pdate_day = parseInt(dateParts[2]) + "";
            {#if($scope.probill.pdate_day.length==1){#}
            {#$scope.probill.pdate_day = "0"+$scope.probill.pdate_day;#}
            {#}#}
            {#if($scope.probill.pdate_month.length==1){#}
            {#$scope.probill.pdate_month = "0"+$scope.probill.pdate_month;#}
            {#}#}
            $scope.probill.pdate = $scope.probill.pdate_year + "-" + dateParts[1] + "-" + dateParts[2];


            if ($scope.current > 0) {
                {#console.log("$scope.probill.pdate:=" + $scope.probill.pdate);#}
                {#console.log("$scope.gridOptions.data[$scope.current - 1]['p_date']:=" + $scope.gridOptions.data[$scope.current - 1]['p_date']);#}
                $scope.gridOptions.data[$scope.current - 1]['p_date'] = $scope.probill.pdate;
            }
        }
    }
    $scope.setDispatchcard = function (dc_id) {

        $("#probills_Dispatchcard").val($("#probills_Dispatchcard option:first").val());
        if (dc_id > 0) {
            $("#probills_Dispatchcard").val(dc_id);
            $scope.gridOptions.data[$scope.current - 1]['dispatchcard_id'] = dc_id;
        }
    }
    $scope.setVehtype = function (vt_id, watcher) {
        if (vt_id > 0) {
            //console.log("init probills_vehtypes");
            vehtype = $scope.vehtypes.filter(
                    function (data) {
                        return data.id == parseInt(vt_id)
                    }
            );
            {#//console.log("setVEHTYPE");#}
            if (vehtype.length > 0) {
                if ($scope.current > 0) {
                    console.log("vehtype[0].display_name"+vehtype[0].display_name);
                    $scope.gridOptions.data[$scope.current - 1]['vehtype_name'] = vehtype[0].display_name;
                }
                {#//console.log(vehtype);#}
                {#//console.log($scope.probill.vehtype_pid);#}
                {#//console.log("$scope.Customer");#}
                {#//console.log($scope.probill.customer_pid);#}

                $scope.setCustomerSurchargeRate($scope.probill.customer_pid, vt_id)
                {#//console.log(vt_id);#}

                $("#probills_vehtypes").val(vt_id);
            }
            if (!watcher) {
                $scope.probill.vehtype_pid = vt_id;
            }
            //console.log("init probills_vehtypes end");
        }
    }
    $scope.setCustomerSurchargeRate = function (vt_id, customer_id) {

        {#//console.log("$scope.probill");#}
        {#//console.log($scope.probill);#}
        {#//console.log("$scope.probill.customer_pid   " + $scope.probill.customer_pid);#}
        {#//console.log("$scope.probill.customer_pid   " + $scope.probill['pdate_year']);#}
        {#//console.log("$scope.probill.vehtype_pid   " + $scope.probill.vehtype_pid);#}
        vehtype = $scope.vehtypes.filter(
                function (data) {
                    return data.id == parseInt($scope.probill.vehtype_pid)
                }
        );
        customer = $scope.customers.filter(
                function (data) {
                    return data.id == parseInt($scope.probill.customer_pid)
                }
        );
        //console.log("setCustomerSurchargeRate:::::::::::::::::::::::::::::::::");
        //console.log(customer);
        ////console.log(customer[0].israteoverride);
        //console.log(vehtype);
        //console.log($scope.probill);
        cussurchargerate_override = $scope.gridOptions.data[$scope.current - 1]['cussurchargerate_override'];
        if (!$scope.probill.cussurchargerate_override) {
            if (!cussurchargerate_override) {
                cussurchargerate = 0;

                if ($scope.probill.billtype == 'CTY') {
                    //console.log("CTY inside");
                    if (vehtype.length > 0) {
                        cussurchargerate = vehtype[0].ctyfsrate;
                        //console.log("no vehtype CTY cussurchargerate stays 0");
                    }
                    if (customer.length > 0 && customer[0].israteoverride) {
                        cussurchargerate = parseFloat(customer[0].custsurchargerate);
                        //console.log("customer CTY override cussurchargerate" + cussurchargerate);
                    }
                }


                if ($scope.probill.billtype == 'HWY') {
                    if (vehtype.length > 0) {
                        cussurchargerate = vehtype[0].hwyfsrate;
                        //console.log("no vehtype HWY cussurchargerate stays 0");
                    }
                    if (customer.length > 0 && customer[0].ishwyrateoverride) {
                        cussurchargerate = parseFloat(customer[0].custhwysurchargerate);
                        //console.log("customer HWY override cussurchargerate" + cussurchargerate);
                    }
                }
                $scope.probill.cussurchargerate = cussurchargerate;
            }
        }
        //console.log("cussurchargerate::::::::::::::::::::::::::::::::::::::" + $scope.probill.cussurchargerate);
        {#rateoverride = customer.#}
        ////console.log(cussurchargerate);

        //console.log("$scope.probill.cussurchargerate" + $scope.probill.cussurchargerate);
    }
    $scope.setRate = function (rate_id, watcher) {

        if (rate_id > 0) {
            rate = $scope.rates.filter(
                    function (data) {
                        return data.id == parseInt(rate_id)
                    }
            );
            $scope.rateDescription = "";
            //console.log("SETRATE1");
            //console.log($scope.probill);
            //console.log($scope.probill.rate_amt);
            //console.log($scope.gridOptions.data);
            if (rate.length > 0) {
                if ($scope.current > 0) {
                    $scope.gridOptions.data[$scope.current - 1]['rate_code'] = rate[0].rate_code;
                    //$scope.gridOptions.data[$scope.current - 1]['rate_amt'] = rate[0].rate_amt;

                    $scope.rateDescription = rate[0].rate_description;
                    {#//$scope.probill.basicRateAmt = rate[0].rate_amt;#}
                    {#//$scope.probill.rate_amt = rate[0].rate_amt;#}
                    {#//console.log("RATE");#}
                    {#//console.log(rate);#}
                    {#//console.log($scope.probill.rate_amt);#}
                    if (rate[0].rate_code != "OR") {
                        $scope.probill.rate_amt = rate[0].rate_amt;
                        $scope.gridOptions.data[$scope.current - 1]['rate_amt'] = rate[0].rate_amt;
                    }
                    //$scope.probill.rates_pid = rate_id;
                    {#//console.log("SETRATE2 rateid:" + rate_id);#}
                    {#//console.log("rate_amt" + $scope.probill.rate_amt);#}
                    {#////console.log("basicRateAmt" + $scope.probill.basicRateAmt);#}
                    angular.element('#probills_rates').val(rate_id);
                    //$("#probills_rates").val(rate_id);
                }
            }
            if (!watcher) {
                $scope.probill.rates_pid = rate_id;
            }
        }
    }

    $scope.setDriver = function (driver_id, watcher) {
        if (driver_id > 0) {
            driver = $scope.drivers.filter(
                    function (data) {
                        return data.id == parseInt(driver_id)
                    }
            );

            //console.log("setDriver" + $scope.probill.drv_rate_override);
            $scope.driverRate = "";
            drv_rateXXX = $scope.gridOptions.data[$scope.current - 1]['drv_rate'];

            $("#probills_drivers").val($("#probills_drivers option:first").val());

            //console.log("$scope.gridOptions.data[$scope.current - 1]");
            //console.log($scope.gridOptions.data[$scope.current - 1]);
            //console.log("$scope.PROBIL");
            //console.log("drv_rateXXX"+drv_rateXXX);
            //console.log($scope.probill);
            drv_rate_override = $scope.gridOptions.data[$scope.current - 1]['drv_rate_override'];
            //$scope.probill.drv_rate = $scope.gridOptions.data[$scope.current - 1]['drv_rate'];
            //console.log("drv_rate_override" + drv_rate_override);
            if (driver.length > 0) {

                $scope.probill.drvsurrate = driver[0].drvsurrate;
                //console.log(driver_id + "");
                //console.log("setDriver inside:" + driver_id);
                if ($scope.current > 0) {
                    $scope.gridOptions.data[$scope.current - 1]['driver_name'] = driver[0].drivernum + " - " + driver[0].drivernam;
                    $scope.gridOptions.data[$scope.current - 1]['drvsurrate'] = driver[0].drvsurrate;
                    if (!drv_rate_override) {
                        //console.log("NOT DRIVER RATE OVERRIDE:");

                        $scope.driverRate = driver[0].driv_rate;
                        $scope.probill.drv_rate = $scope.drivRate;
                        $scope.gridOptions.data[$scope.current - 1]['drv_rate'] = driver[0].driv_rate;
                    } else {
                        $scope.driverRate = drv_rateXXX;
                        $scope.probill.drv_rate = drv_rateXXX;
                        //console.log("DRIVER RATE OVERRIDE" + drv_rateXXX);
                    }
                }
                //
                if (!watcher) {
                    $scope.probill.driver_pid = driver_id;
                }

                $("#probills_drivers").val(driver_id);

                if (!drv_rate_override) {
                    //console.log("NOT DRIVER RATE OVERRIDE:");

                    $scope.driverRate = driver[0].driv_rate;
                    $scope.probill.drv_rate = $scope.drivRate;
                    $scope.gridOptions.data[$scope.current - 1]['drv_rate'] = driver[0].driv_rate;
                } else {
                    //console.log($scope.gridOptions.data[$scope.current - 1]);
                    {#$scope.driverRate = $scope.probill.drv_rateXXX;#}
                    {#$scope.probill.drv_rate = $scope.probill.drv_rateXXX;#}
                    //console.log("DRIVER RATE OVERRIDE" + drv_rateXXX);
                }
                $scope.markDriver(driver[0]);
            }
        }
    }

    $scope.setCustomer = function (customer_id, watcher) {
        //console.log("customer:::::"+customer_id);
        if (customer_id > 0) {
            $scope.customer_data_entry_notes = "";
            customer = $scope.customers.filter(
                    function (data) {
                        return data.id == parseInt(customer_id)
                    }
            );
            {#//console.log("$scope.setCustomer");#}
            {#//console.log(customer_id);#}
            {#//console.log(customer);#}
            customerName = "";
            customerRateLevel = "";

            taxcode = "";

            cussurchargerate_override = $scope.gridOptions.data[$scope.current - 1]['cussurchargerate_override'];
            $("#probills_customers").val($("#probills_customers option:first").val());

            {#//console.log("PROBILL INSIDE CUSTOMER ");#}
            {#//console.log($scope.probill);#}
            //console.log("customer[0]")
            //console.log(customer[0]);
            if (customer.length > 0 && customer[0] != null && customer[0] !== undefined) {

                customerName = customer[0].name;
                customerRateLevel = customer[0].ratelevel;
                $scope.gridOptions.data[$scope.current - 1]['ratelevel'] = customer[0].ratelevel;
                taxcode = customer[0].taxcode;
                if ($scope.current && $scope.current > 0) {
                    $scope.customer_data_entry_notes = customer[0].data_entry_notes;
                    $scope.gridOptions.data[$scope.current - 1]['customer_name'] = customer[0].custcode + " - " + customer[0].name;
                    $scope.gridOptions.data[$scope.current - 1]['ratelevel'] = customer[0].ratelevel;
                    {#//console.log("$scope.probill");#}
                    {#//console.log($scope.probill);#}
                    {#//console.log("$scope.probill.cussurchargerate_override" + $scope.probill.cussurchargerate_override);#}
                    if (!$scope.probill.cussurchargerate_override) {
                        if (!cussurchargerate_override) {
                            if ($scope.probill.billtype == 'CTY') {
                                if (customer[0].isctyrateoverride) {
                                    $scope.gridOptions.data[$scope.current - 1]['cussurchargerate'] = customer[0].custsurchargerate;
                                }
                            } else if ($scope.probill.billtype == 'HWY') {
                                if (customer[0].ishwyrateoverride) {
                                    $scope.gridOptions.data[$scope.current - 1]['cussurchargerate'] = customer[0].custhwysurchargerate;
                                }
                            }

                        }
                    }
                }
                angular.element('#probills_customers').val(customer_id);
            }
            $scope.customerName = customerName;
            $scope.customerRateLevel = customerRateLevel;
            if (customer.length > 0 && customer[0] != null && customer[0] !== undefined) {
                $scope.gridOptions.data[$scope.current - 1]['ratelevel'] = customer[0].ratelevel;

                $scope.customer = customer;
                //$scope.probill.customer_pid = customer_id;
                $scope.probill.taxcode = taxcode;
                if (!watcher) {
                    $scope.probill.customer_pid = customer_id;
                }
            }
        }
    }

    $scope.first = function () {
        //console.log("FIRST");
        //console.log($scope.gridOptions.data[0]);
        $scope.total = $scope.gridOptions.data.length;
        $scope.current = 1;
        $scope.scrollToFocus(1, 1);
    }

    $scope.prev = function () {

        if ($scope.current > 1) {
            $scope.current = $scope.current - 1;
        }
        $scope.scrollToFocus($scope.current, 1);
    }
    $scope.next = function () {
        //console.log("next");
        total = $scope.gridOptions.data.length;

        if ($scope.current < $scope.total) {
            $scope.current = $scope.current + 1;
        }
        $scope.scrollToFocus($scope.current, 1);
    }

    $scope.last = function () {
        $scope.total = $scope.gridOptions.data.length;
        $scope.current = $scope.total;
        if ($scope.current > 0) {
            $scope.currentId = $scope.gridOptions.data[$scope.current - 1].id;
        }
        //console.log($scope.currentId);
        //console.log($scope.gridOptions.data[$scope.current - 1].id);
        //console.log("TOTAL(last):" + $scope.total + " currentId " + $scope.currentId + " currrent:" + $scope.current);
        $scope.scrollToFocus($scope.total, 1);
    }

    $scope.selected = {};
    $scope.animationsEnabled = true;

    var canceler = $q.defer();

    var apicall = function (url) {
        //console.log(":API CALL PPROBILLS");
        $http.get(url, {timeout: canceler.promise})
                .success(function (data) {
                    if (data.length < 1 && !$scope.correction) {
                        $scope.newProbill();
                    }
                    $scope.total = data.length;
                    //$scope.first();
                    //console.log(":API CALL inside");
                    {#//console.log(data);#}
                    angular.forEach(data, function (row, index) {
                        {#//console.log(":API CALL FOREACH");#}
                        row.index = index + 1;
                        $scope.gridOptions.data[index] = row;
                    })
                    //console.log($scope.gridOptions.data);
                    //console.log($scope.total + ":TOTAL");
                    if ($scope.total > 0) {
                        setProbill($scope.gridOptions.data[0]);
                    }

                    $scope.apiLoadedProbills = true;
                    $scope.isApiLoaded()
                });
    };

    function getCellClass(grid, row) {
        return row.uid === selectedRow ? 'highlight' : '';
    };

    $scope.isApiLoaded = function () {
        //return true;
        $scope.apiLoaded = $scope.apiLoadedProbills && $scope.apiLoadedCustomers && $scope.apiLoadedDrivers && $scope.apiLoadedRates && $scope.apiLoadedVehtypes;
        //console.log("$scope.apiLoadedProbills:"+$scope.apiLoadedProbills+" && $scope.apiLoadedCustomers &&:"+$scope.apiLoadedCustomers+" $scope.apiLoadedDrivers:"+$scope.apiLoadedDrivers+": && $scope.apiLoadedRates:"+$scope.apiLoadedRates+": && $scope.apiLoadedVehtypes:"+$scope.apiLoadedVehtypes);
        //console.log("APILOADED :" + $scope.apiLoaded);
        return $scope.apiLoaded;
    }
    $scope.finalize = function (rowIndex) {
        $scope.probill.status = "FINAL";
        $scope.updateProbill()
    }

    $scope.updateProbill = function (rowIndex) {
        if(!$scope.readonly) {
            //console.log("{{ entity }} :: {{ id }}");
            $scope.probill.entityDataGrid = "{{ entity }}";
            $scope.probill.entityDataGridId = {{ id }};
            //console.log("update probill");


            $http({
                method: 'POST',
                url: '{{ app.request.getSchemeAndHttpHost() }}/admin/probill/updateAjax',
                headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                data: $.param($scope.probill)
            }).then(function (response) {
                //console.log(response);
                var data = response.data;
                $scope.scrollToFocusNoUpdate($scope.current)
            });
        }

    };

    $scope.newProbill = function () {
        if(!$scope.readonly) {
            $scope.probill.entityDataGrid = "{{ entity }}";
            $scope.probill.entityDataGridId = {{ id }};
            $scope.updateProbill();
            $http({
                method: 'POST',
                url: '{{ app.request.getSchemeAndHttpHost() }}/admin/probill/newAjax',
                headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                data: $.param($scope.probill)
            }).then(function (response) {
                var data = response.data;
                //console.log("NEW DATA");
                //console.log(data);
                data.index = $scope.total + 1;
                $scope.gridOptions.data.push(data);
                $scope.probill = data;
                $scope.last();
                if ($scope.selectedDate.length > 1) {
                    //console.log("new probill setpdate:" + $scope.selectedDate);
                }

                var yesterdayDate = new Date();

                yesterdayDate.setDate(yesterdayDate.getDate() - 1);
                var dd = yesterdayDate.getDate();
                var mm = yesterdayDate.getMonth() + 1; //January is 0!
                var yyyy = yesterdayDate.getFullYear();
                theDate = yyyy + '-' + mm + '-' + dd;
                //console.log("YESTERDAY" + theDate)
                //console.log("INIT DATE" + $scope.initDate)
                $scope.setPDate(theDate);
                if ($scope.initDate.length > 2) {
                    $scope.setPDate($scope.initDate);
                }
                $scope.setPDate(response.data['p_date']);

                //$("#probills_customers").val($("#probills_customers option:first").val());
                //$("#probills_drivers").val($("#probills_drivers option:first").val());
                $('#probills_pDate_month').focus();
                $window.scrollTo(0, 0);
                $scope.updateProbill();
            });
        }
    };


    function watchers() {

        $scope.$watch("[probill.pickup_hr,probill.pickup_mn,probill.delivery_hr,probill.delivery_mn]", function (newValue, oldValue) {

            if ($scope.isApiLoaded() && angular.isDefined(newValue) && newValue[0] != null) {
                {#//console.log($scope.probill);#}
                time = calculateTime($scope.probill.pickup_hr, $scope.probill.pickup_mn, $scope.probill.delivery_hr, $scope.probill.delivery_mn);
                //console.log(time);
                $scope.probill.ttime_h = time['hr'];
                $scope.probill.ttime_m = time['min'];
            }
        });

        $scope.$watch("[probill.driver_pid]", function (newValue, oldValue) {
            if ($scope.isApiLoaded() && angular.isDefined(newValue) && newValue[0] != null) {
                $scope.setDriver(newValue, true);
            }
        });

        $scope.$watch("[probill.drv_rate]", function (newValue, oldValue) {
            if ($scope.isApiLoaded() && angular.isDefined(newValue) && newValue[0] != null) {
                {#//console.log($scope.driverRate + ":driverRate")#}
                {#//console.log($scope.drv_rate + ":drv_rate" + newValue)#}
                $scope.driverRate = parseFloat(newValue[0]);
                console.log($scope.probill.cussurchargerate);
                driverTotals = calculateDriverTotals($scope.probill.cussurchargerate, $scope.probill.rate_amt, $scope.probill.extra, $scope.probill.rush_amt, $scope.probill.waitchrg, $scope.probill.subtotal, $scope.driverRate, $scope.probill.drvsurrate, $scope.probill.cussurchargerate);

                $scope.probill.driversurcharge = driverTotals['driversurcharge'];
                $scope.probill.drvTotal = driverTotals['drvTotal'];
                $scope.probill.drvgross = driverTotals['drvgross'];
                $scope.probill.gross = driverTotals['gross'];
            }
        });

        $scope.$watch("[probill.customer_pid]", function (newValue, oldValue) {
            if ($scope.isApiLoaded() && angular.isDefined(newValue) && newValue[0] != null) {
                $scope.setCustomerSurchargeRate();

                $scope.setCustomer(newValue, true);
            }
        });

        $scope.$watch("[probill.rates_pid]", function (newValue, oldValue) {

            if ($scope.isApiLoaded() && angular.isDefined(newValue) && newValue[0] != null) {

                $scope.setRate(newValue, true);

            }
        });
        $scope.$watch("[probill.vehtype_pid]", function (newValue, oldValue) {
            //if (angular.isDefined($scope.probill.vehtype_pid) && $scope.probill.vehtype_pid.length > 0) {

            if ($scope.isApiLoaded() && angular.isDefined(newValue) && newValue[0] != null) {
                $scope.setCustomerSurchargeRate();

                $scope.setVehtype(newValue, true)
            }
            //}
        });
        $scope.$watch("[probill.rate_amt]", function (newValue, oldValue) {
            if ($scope.isApiLoaded() && angular.isDefined(newValue) && newValue[0] != null) {

            }
        });

        $scope.$watch("[probill.extra_piece, probill.extra_pce_rate]", function (newValue, oldValue) {
            {#if (angular.isDefined($scope.probill.extra_piece) && $scope.probill.extra_piece > 0 ||#}
            {#angular.isDefined($scope.probill.extra_pce_rate) && $scope.probill.extra_pce_rate > 0#}
            {#) {#}
            if ($scope.isApiLoaded() && angular.isDefined(newValue) && newValue[0] != null) {
                res = calculateExtra($scope.probill.extra_piece, $scope.probill.extra_pce_rate)
                $scope.probill.extra = res;
            }
            {#}#}
        });

        $scope.$watch("[probill.rate_amt, probill.extra, probill.rush_amt, probill.waitchrg, probill.trailerchg,probill.misc_amt]", function (newValue, oldValue) {
            if ($scope.isApiLoaded() && angular.isDefined(newValue) && newValue[0] != null) {
                $scope.probill.total = calculatePreTax($scope.probill.rate_amt, $scope.probill.extra, $scope.probill.rush_amt, $scope.probill.waitchrg, $scope.probill.trailerchg, $scope.probill.misc_amt)
            }
        });

        $scope.$watch("[probill.rush_amt]", function (newValue, oldValue) {
            if ($scope.isApiLoaded()) {
                if (parseFloat(newValue) == 0) {
                    $scope.probill.serv_type = "REG";
                }
            }
        });

        $scope.$watch("[probill.cussurchargerate, probill.total]", function (newValue, oldValue) {
            if ($scope.isApiLoaded && angular.isDefined(newValue) && newValue[0] != null) {
                $scope.probill.custsurchargeamt = calculateFuelRate($scope.probill.cussurchargerate, $scope.probill.total)
            }
        });
        $scope.$watch("[probill.total, probill.custsurchargeamt]", function (newValue, oldValue) {
            if ($scope.isApiLoaded() && angular.isDefined(newValue) && newValue[0] != null) {
                $scope.probill.subtotal = calculateSubTotal($scope.probill.total, $scope.probill.custsurchargeamt)
            }
        });
        $scope.$watch("[probill.subtotal, probill.taxcode]", function (newValue, oldValue) {
            if ($scope.isApiLoaded() && angular.isDefined(newValue) && newValue[0] != null) {
                gt = calculateGrandTotal($scope.probill.subtotal, $scope.probill.taxcode);
                $scope.probill.gstAmt = gt['gstAmt'];
                $scope.probill.grandtotal = gt['grandtotal'];
                $('#probills_drivers').val($scope.probill.driver_pid);
                //console.log("SUBTOTAL")
                //console.log($scope.probill.rates_pid)
                //console.log("WATCHER subtotal" + $scope.probill.rates_pid != null)
                //console.log("WATCHER subtotal" + $scope.probill.rates_pid == null)
                if ($scope.probill.rates_pid && angular.isDefined($scope.probill.rates_pid) && $scope.probill.rates_pid.length > 0 && $scope.probill.rates_pid !== null) {
                    $('#probills_rates').val($scope.probill.rates_pid);
                }
                if ($scope.probill.customer_pid && angular.isDefined($scope.probill.customer_pid) && $scope.probill.customer_pid.length > 0 && $scope.probill.customer_pid !== null) {
                    $('#probills_customers').val($scope.probill.customer_pid);
                }
                if ($scope.probill.vehtype_pid && angular.isDefined($scope.probill.vehtype_pid) && $scope.probill.vehtype_pid.length > 0 && $scope.probill.vehtype_pid !== null) {
                    $('#probills_vehtypes').val($scope.probill.vehtype_pid);
                }
            }
        });

        $scope.$watch("[probill.total, probill.driverRate,probill.drvsurrate, probill.cussurchargerate]", function (newValue, oldValue) {
            if ($scope.isApiLoaded() && angular.isDefined(newValue) && newValue[0] != null) {
                //driverTotals = calculateDriverTotals($scope.probill.total,$scope.probill.total, $scope.driverRate, $scope.probill.drvsurrate, $scope.probill.cussurchargerate);
                console.log($scope.probill);
                driverTotals = calculateDriverTotals($scope.probill.cussurchargerate, $scope.probill.rate_amt, $scope.probill.extra, $scope.probill.rush_amt, $scope.probill.waitchrg, $scope.probill.subtotal, $scope.driverRate, $scope.probill.drvsurrate, $scope.probill.cussurchargerate);
                {#//console.log("$scope.probill.total: "+$scope.probill.total, "$scope.driverRate: "+$scope.driverRate +",$scope.probill.drvsurrate"+$scope.probill.drvsurrate+", $scope.probill.cussurchargerate"+$scope.probill.cussurchargerate);#}
                //console.log(driverTotals);
                $scope.probill.driversurcharge = driverTotals['driversurcharge'];
                $scope.probill.drvTotal = driverTotals['drvTotal'];
                $scope.probill.drvgross = driverTotals['drvgross'];
                $scope.probill.gross = driverTotals['gross'];
            }
        });

        $scope.$watch("[probill.pdate_day, probill.pdate_month,probill.pdate_year]", function (newValue, oldValue) {
            //console.log("newValue" + newValue);
            //console.log("oldValue" + oldValue);
            if (newValue != oldValue) {
                $scope.selectedDate = newValue;
            }

        });
    }

    $scope.monthKeydown = function (ev) {
        if (ev.key == "ArrowRight") {
            ev.preventDefault()
            $("#probills_pDate_day").focus();
        }
        $scope.initDate = $scope.probill.pdate_year + "-" + $scope.probill.pdate_month + "-" + $scope.probill.pdate_day;

        //console.log($scope.initDate + "MONTH monthKeydown")
    }

    $scope.monthFocusout = function (ev) {
        $scope.initDate = $scope.probill.pdate_year + "-" + $scope.probill.pdate_month + "-" + $scope.probill.pdate_day;
        $scope.setPDate($scope.initDate)
    }
    $scope.dayFocusout = function (ev) {
        $scope.initDate = $scope.probill.pdate_year + "-" + $scope.probill.pdate_month + "-" + $scope.probill.pdate_day;
        $scope.setPDate($scope.initDate)
    }
    $scope.yearFocusout = function (ev) {
        $scope.initDate = $scope.probill.pdate_year + "-" + $scope.probill.pdate_month + "-" + $scope.probill.pdate_day;
        $scope.setPDate($scope.initDate)
    }

    $scope.dayKeydown = function (ev) {


        if (ev.key == "ArrowRight") {
            ev.preventDefault()
            $("#probills_pDate_year").focus();
        }
        $scope.initDate = $scope.probill.pdate_year + "-" + $scope.probill.pdate_month + "-" + $scope.probill.pdate_day;

        //console.log($scope.initDate + "MONTH dayKeydown")
    }
    $scope.yearKeydown = function (ev) {
        if (ev.key == "ArrowRight") {

            $("#probills_drivers").focus();
        }
        //console.log($scope.initDate + "MONTH yearKeydown")
        $scope.initDate = $scope.probill.pdate_year + "-" + $scope.probill.pdate_month + "-" + $scope.probill.pdate_day;

    }

    $scope.dispatchKeydown = function (ev) {
        if (parseInt(ev.key) > 0) {
            ev.preventDefault();
        }

        dispatchKey = ev.key
        if (dispatchKey == 'Backspace') {
            if ($scope.dispatchText.length > 0) {
                $scope.dispatchText = "";
            }
        } else {
            $scope.dispatchText = $scope.dispatchText + dispatchKey;
        }

        //console.log(dispatchKey)
        //console.log($scope.dispatchText)
        //console.log("dispatchKeydown");
        vehtype = $scope.vehtypes.filter(
                function (data) {
                    return data.display_name.substring(0, $scope.vehtypeText.length) == $scope.vehtypeText;
                }
        );
        //console.log(vehtype);

        if (vehtype.length > 0) {
            //console.log(vehtype[0]);
            $scope.setVehtype(vehtype[0].id);
        }
    }

    $scope.vehtypeKeydown = function (ev) {
        if (parseInt(ev.key) > 0) {
            ev.preventDefault();
        }

        vehtypeKey = ev.key
        if (vehtypeKey == 'Backspace') {
            if ($scope.vehtypeText.length > 0) {
                $scope.vehtypeText = "";
            }
        } else {
            $scope.vehtypeText = $scope.vehtypeText + vehtypeKey;
        }

        if ($scope.vehtypeText.length == 0) {
            //console.log("emptyvehtype");
            //angular.element('#probills_vehtypes').val("");
            angular.element('#probills_vehtypes').attr("selected", "selected");
        }
        //console.log(vehtypeKey)
        //console.log($scope.vehtypeText)
        //console.log("vehtypeKeydown");
        vehtype = $scope.vehtypes.filter(
                function (data) {
                    return data.display_name.substring(0, $scope.vehtypeText.length) == $scope.vehtypeText;
                }
        );
        //console.log(vehtype);

        if (vehtype.length > 0) {
            //console.log(vehtype[0]);
            $scope.setVehtype(vehtype[0].id);
        }
    }

    $scope.vehtypeFocus = function () {
        $scope.vehtypeText = "";
    }
    $scope.vehtypeFocusOut = function () {
        //console.log("vehtypeFocusOut");
        vtid = angular.element('#probills_vehtypes').val();
        //console.log("vehtypeFocusOut" + vtid);
        $scope.probill.vehtype_pid = vtid;
    }

    $scope.rateKeydown = function (ev) {
        //console.log("rateKeydown length" + ev.key.length)

        if (ev.key.length == 1) {
            //console.log("prevent default1" + ev.key.length)
            ev.preventDefault();
        }
        if (parseInt(ev.key) > 0) {
            //console.log("prevent default2" + parseInt(ev.key))
            ev.preventDefault();
        }

        rateKey = ev.key
        if (rateKey == 'Backspace') {
            if ($scope.rateText.length > 0) {
                $scope.rateText = "";
            }

        } else {
            $scope.rateText = $scope.rateText + rateKey;
        }

        if ($scope.rateText.length == 0) {
            angular.element('#probills_rates').val("");
        }

        //console.log(rateKey)
        //console.log($scope.rateText)
        //console.log("rateKeydown");
        rate = $scope.rates.filter(
                function (data) {
                    return data.display_name.replace(" ", "").replace("\"", "").substring(0, $scope.rateText.length).toLowerCase() == $scope.rateText.toLowerCase();
                }
        );
        //console.log(rate)
        //console.log(rate.length)
        //console.log($scope.rateText.length)
        if (rate.length > 0 && $scope.rateText.length > 0) {
            //console.log(rate[0]);
            $scope.probill.rates_pid = rate[0].id;
            angular.element('#probills_rates').val(rate[0].id);
            $scope.setRate(rate[0].id);
        }
    }

    $scope.rateFocus = function () {
        $scope.rateText = "";
        //console.log("rateKeydown");
    }

    $scope.rateFocusOut = function () {
        //console.log("rateFocusOut");
        rid = angular.element('#probills_rates').val();
        //console.log("rateFocusOut" + rid);
        $scope.probill.rates_pid = rid;
        $scope.setRate(rid)
    }


    $scope.driverKeydown = function (ev) {
        //console.log("driverKeydown");
        if (ev.key != "Tab") {
            ev.preventDefault();
        }

        driverKey = ev.key
        if (driverKey == 'Backspace') {
            if ($scope.driverText.length > 0) {
                $scope.driverText = "";
            }
        } else {
            $scope.driverText = $scope.driverText + driverKey;
        }

        if ($scope.driverText.length == 0) {
            angular.element('#probills_drivers').select("");
        }

        //console.log(driverKey)

        //console.log($scope.driverText)
        //console.log("driverKeydown");
        driver = $scope.drivers.filter(
                function (data) {
                    return data.drivernum.substring(0, $scope.driverText.length).toLowerCase() == $scope.driverText.toLowerCase();
                }
        );

        //console.log(driver);
        //console.log("drivers");
        if (driver.length > 0) {
            //console.log(driver[0]);
            $scope.setDriver(driver[0].id);
        }
    }

    $scope.driverFocus = function () {
        $scope.driverText = "";
        //console.log("driverKeydown");
    }

    $scope.servtypeKeyup = function (ev) {
        //console.log("servtype");

        //console.log($scope.probill.serv_type);
        //console.log("servtypeend");
        //$scope.probill.servType = "";
        if (ev.key == "D" || ev.key == "d") {
            $scope.probill.serv_type = "DIR";
            angular.element('#probills_dept').focus();
        } else if (ev.key == "R" || ev.key == "r") {
            $scope.probill.serv_type = "REG";
            $scope.probill.rush_amt = 0;
            angular.element('#probills_dept').focus();
        }
    }

    $scope.waybillOut = function () {
        pattern = /(-\d+\/)(.*).jpg/i;
        txt = $scope.probill.scan_image.replace(pattern, "$1" + $scope.probill.waybill + ".jpg");
        $scope.probill.scan_image = txt;
        $scope.setScanImage($scope.probill);
    }

    $scope.moveToSignature = function (ev) {
        //console.log(ev);
        if (ev.key == "Tab") {
            ev.preventDefault();
            angular.element('#probills_signature').focus();
        }
    }
    $scope.customerKeydown = function (ev) {
        //console.log("customerKeydown" + ev.key);
        if (ev.key != "Tab") {
            ev.preventDefault();
        }


        customerKey = ev.key
        if (customerKey == 'Backspace') {
            if ($scope.customerText.length > 0) {
                $scope.customerText = "";
            }
        } else {
            $scope.customerText = $scope.customerText + customerKey;
        }
        if (customerKey == 'ArrowUp') {

        }


        if ($scope.customerText.length == 0) {
            angular.element('#probills_customers').select("");
        }

        //console.log(customerKey)
        //console.log($scope.customers)

        //console.log($scope.customerText)
        //console.log("customerKeydown");
        customer = $scope.customers.filter(
                function (data) {
                    return data.custcode.substring(0, $scope.customerText.length).toLowerCase() == $scope.customerText.toLowerCase();
                }
        );

        //console.log(customer);
        //console.log("customers");
        if (customer.length > 0) {
            //console.log(customer[0]);
            $scope.setCustomer(customer[0].id);
        }
    }

    $scope.customerFocus = function () {
        $scope.customerText = "";
        //console.log("customerKeydown");
    }


    $scope.calculateDirect = function () {
        if($scope.probill.serv_type == "REG") {
            $scope.probill.serv_type = "DIR";
            $scope.probill.rush_amt = calculateDirect($scope.probill.rate_amt, $scope.probill.extra);
        }else{
            $scope.probill.serv_type = "REG";
            $scope.probill.rush_amt = 0;
        }
    }

    $scope.calculateRegular = function () {

        $scope.probill.serv_type = "REG";
        $scope.probill.rush_amt = calculateDirect(0, 0);
    }

    $scope.setScanImage = function (probill, waybill) {

        url = $scope.baseImageUrl;
        image = $scope.baseUrl + $scope.noimage;
        ////console.log("set scan image");
        ////console.log(image);
        ////console.log(url + probill.scan_image);
        ////console.log(probill);

        if (probill.scan_image !== undefined && probill.scan_image.length > 1) {
            image = url + probill.scan_image;
        }
        $scope.scanImage = image;
        ////console.log($scope.scanImage);
        //return $scope.scanImage;

    };


    function imageExists(image_url) {
        var http = new XMLHttpRequest();
        http.open('HEAD', image_url, false);
        http.send();
        return http.status == 200;
    }

    $scope.gridOptions.columnDefs = [
        {#{#}
        {#name: 'id',#}
        {#width: 80,#}
        {#pinnedLeft: true,#}
        {#cellClass: getCellClass#}
        {#//cellTemplate: '<a href="{{ app.request.getSchemeAndHttpHost() }}/admin/probill/{[{row.entity.id}]}/edit"  data-toggle="tooltip" title="Edit">{[{row.entity.waybill}]}</a>'#}

        {#},#}
        {
            name: 'p_date',
            {#type: 'date',#}
            {#cellFilter: 'date:\'yyyy-MM-dd\'',#}
            width: 90,
            displayName: "Date",
            enableCellEdit: true,
            pinnedLeft: true,
            cellClass: getCellClass
        },
        {
            name: 'waybill',
            width: 80,
            pinnedLeft: true,
            enableCellEdit: false,
            cellClass: getCellClass
            //cellTemplate: '<a href="{{ app.request.getSchemeAndHttpHost() }}/admin/probill/{[{row.entity.id}]}/edit"  data-toggle="tooltip" title="Edit">{[{row.entity.waybill}]}</a>'

        },
        {
            name: 'rate_amt',
            width: 80,
            pinnedLeft: true,
            enableCellEdit: false,
            cellClass: getCellClass
        },
        {
            name: 'driver_name',
            width: 150,
            pinnedLeft: true,
            displayName: "Driver",
            enableCellEdit: false,
            cellClass: getCellClass
        },
        {
            name: 'customer_name',
            width: 200,
            pinnedLeft: true,
            displayName: "Customer",
            enableSorting: true,
            enableCellEdit: false,
            cellClass: getCellClass
        },
        {
            name: 'ratelevel',
            displayName: "Rate Level",
            width: 100,
            pinnedLeft: true,
            enableCellEdit: false,
            cellClass: getCellClass
        },
        {
            name: 'ref',
            displayName: "Ref",
            width: 60,
            pinnedLeft: true,
            enableCellEdit: true,
            {#enableCellEditOnFocus: true,#}
            cellClass: getCellClass
        },
        {
            name: 'dept',
            displayName: "Dept",
            width: 60,
            pinnedLeft: true,
            enableCellEdit: true,
            {#enableCellEditOnFocus: true,#}
            cellClass: getCellClass
        },
        {
            name: 'shipper',
            displayName: "Shipper",
            width: 150,
            pinnedLeft: true,
            cellClass: getCellClass
        },
        {
            name: 'receiver',
            displayName: "Receiver",
            width: 150,
            pinnedLeft: true,
            cellClass: getCellClass
        },
        {
            name: 'serv_type',
            displayName: "Service Type",
            width: 50,
            pinnedLeft: true,
            cellClass: getCellClass
        },
        {
            name: 'vehtype_name',
            width: 120,
            pinnedLeft: true,
            cellClass: getCellClass,
            enableCellEditOnFocus: false,
            editableCellTemplate: 'ui-grid/dropdownEditor',
            editDropdownValueLabel: 'display_name',
            editDropdownIdLabel: "id",
            {#editDropdownOptionsArray: $scope.vehtypes#}
            editDropdownOptionsFunction: function (rowEntity, colDef) {
                return $scope.vehtypes;
            }

        },
        {
            name: 'drv_total',
            width: 80,

            cellClass: getCellClass
        },

        {
            name: 'custsurchargeamt',
            displayName: "Cust surcharge AMT",
            width: 100,
            cellClass: getCellClass
        },
        {
            name: 'users_initials',
            displayName: "Creator Name",
            width: 200,
            cellClass: getCellClass
        },
        {
            name: 'pickup_time',
            displayName: "P time",
            width: 60,
            cellClass: getCellClass
        },
        {
            name: 'd_time',
            displayName: "D time",
            width: 60,
            cellClass: getCellClass
        },
        {
            name: 'total_time',
            displayName: "T time",
            width: 60,
            cellClass: getCellClass
        },
        {
            name: 'pce',
            displayName: "PCE",
            width: 60,
            cellClass: getCellClass
        },
        {
            name: 'wgt',
            displayName: "WGT",
            width: 60,
            cellClass: getCellClass
        },
        {
            name: 'rate_code',
            width: 200,
            cellClass: getCellClass
        },
        {
            name: 'paygst',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'extra_piece',
            width: 100,
            cellClass: getCellClass
        },
        {
            name: 'extra_pce_rate',
            width: 100,
            cellClass: getCellClass
        },
        {
            name: 'extra_amt',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'misc_amt',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'miscdesc',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'gst_amt',
            width: 80,
            cellClass: getCellClass
        }
        ,
        {
            name: 'grandtotal',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'paid',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'balance',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'drv_rate',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'gross',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'comments',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'signature',
            width: 150,
            cellClass: getCellClass
        },
        {
            name: 'invoice',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'waitime',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'waitchg',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'trailer_id',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'batch',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'rush_amt',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'called',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'delivered',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'deliverytime',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'status',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'drvsurrate',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'total',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'taxcode',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'drvgross',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'trailerchg',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'miles',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'pickup_shipper',
            width: 120,
            cellClass: getCellClass
        },
        {
            name: 'pickup_addr1',
            width: 120,
            cellClass: getCellClass
        },
        {
            name: 'pickup_city',
            width: 120,
            cellClass: getCellClass
        },
        {
            name: 'pickup_prov',
            width: 120,
            cellClass: getCellClass
        },
        {
            name: 'pickup_postal',
            width: 120,
            cellClass: getCellClass
        },
        {
            name: 'pickup_phone',
            width: 120,
            cellClass: getCellClass
        },
        {
            name: 'pickup_contact',
            width: 120,
            cellClass: getCellClass
        },
        {
            name: 'pickup_details',
            width: 120,
            cellClass: getCellClass
        },
        {
            name: 'pickup_ref',
            width: 120,
            cellClass: getCellClass
        },
        {
            name: 'shipto_receiver',
            width: 120,
            cellClass: getCellClass
        },
        {
            name: 'shipto_addr1',
            width: 120,
            cellClass: getCellClass
        },
        {
            name: 'shipto_addr2',
            width: 120,
            cellClass: getCellClass
        },
        {
            name: 'shipto_city',
            width: 120,
            cellClass: getCellClass
        },
        {
            name: 'shipto_prov',
            width: 120,
            cellClass: getCellClass
        },
        {
            name: 'shipto_postal',
            width: 120,
            cellClass: getCellClass
        },

        {
            name: 'details',

            width: 120
        },

        {
            name: 'subtotal',
            width: 80
        },
        {
            name: 'billtype',
            width: 80
        },
        {
            name: 'fuelsurchargedifferential',
            width: 80
        },
        {
            name: 'diffsurchargeamt',
            width: 80
        }

    ];


    var apicallDrivers = function () {
        $http.get('{{ apiCallDrivers }}', {timeout: canceler.promise})
                .success(function (data) {

                    angular.forEach(data, function (row, index) {
                        row.index = index + 1;
                    })
                    $scope.drivers = data;
                    $scope.driversGrid.data = data;
                    $scope.apiLoadedDrivers = true;
                    $scope.isApiLoaded()
                });
    };


    $scope.$on('$destroy', function () {
        canceler.resolve();  // Aborts the $http request if it isn't finished.
    });
    $scope.driversGrid = {
        enableSorting: true,
        showGridFooter: true,
        showGridHeader: true,
        enableFiltering: true,
        enableRowSelection: true,
        enableFullRowSelection: true,
        enableRowHeaderSelection: false,
        enableSelectAll: true,
        selectionRowHeaderWidth: 35,
        enableColumnResizing: true,
        //cellClass: getCellClass,
    };

    $scope.driversGrid.onRegisterApi = function (gridApi) {

        $scope.driverGridApi = gridApi;
        //apicallDrivers();
        {#$scope.driverGridApi.cellNav.on.navigate($scope, function (newRowCol, oldRowCol) {#}
        {#$scope.current = newRowCol.row.entity.index;#}

        {#if ('.ui-grid-cell-focus ') {#}
        {#selectedRow = newRowCol.row.uid;#}
        {#gridApi.core.notifyDataChange(uiGridConstants.dataChange.COLUMN);#}
        {#}#}


        {#});#}
    };




    {#$scope.driversGrid.cellNav.on.navigate($scope, function (newRowCol, oldRowCol) {#}
    {#$scope.currentDriver = newRowCol.row.entity.index;#}

    {#if ('.ui-grid-cell-focus ') {#}
    {#selectedRow = newRowCol.row.uid;#}
    {#gridApi.core.notifyDataChange(uiGridConstants.dataChange.COLUMN);#}
    {#}#}

    {#setProbill(newRowCol.row.entity);#}

    {#});#}
    $scope.markDriver = function (driver) {
        //console.log(driver)
        //console.log(driver.index + ":::MARK DRIVEr:::"); ;
        // $scope.driverGridApi.core.scrollTo( $scope.driversGrid.data[driver.index], $scope.driversGrid.columnDefs[0]);
    };
    $scope.driversGrid.multiSelect = true;
    $scope.driversGrid.columnDefs = [

        {
            name: 'drivernum',
            width: 100,
            //cellClass: getCellClass,
        },
        {
            name: 'drivernam',
            displayName: 'Name',
            width: 200,
            //cellClass: getCellClass,
        },
        {
            name: 'cell',
            width: 200,
            //cellClass: getCellClass,
        },
        {
            name: 'driv_rate',
            width: 100,
            //cellClass: getCellClass,
        },
        {
            name: 'drvsurrate',
            width: 100,
            //cellClass: getCellClass,
        }

    ];

    var apicallCustomer = function () {
        $http.get('{{ apiCallCustomers }}', {timeout: canceler.promise})
                .success(function (data) {
                    $scope.selected = [];
                    angular.forEach(data, function (row, index) {
                        row.index = index + 1;
                    })
                    $scope.customers = data;
                    $scope.customersGrid.data = data;
                    //console.log("CUSTOMERS API CALL")
                    $scope.apiLoadedCustomers = true;
                    $scope.isApiLoaded()
                });
    };


    $scope.$on('$destroy', function () {
        canceler.resolve();  // Aborts the $http request if it isn't finished.
    });
    $scope.customersGrid = {
        enableSorting: true,
        showGridFooter: true,
        showGridHeader: true,
        enableFiltering: true,
        enableRowSelection: true,
        enableSelectAll: true,
        selectionRowHeaderWidth: 35,
        enableColumnResizing: true,
    };
    $scope.customersGrid.multiSelect = true;
    $scope.customersGrid.columnDefs = [

        {
            name: 'custcode',
            width: 100,
        },
        {
            name: 'name',
            width: 200,
        },
        {
            name: 'address1',
            width: 100,
        },
        {
            name: 'address2',
            width: 100,
        },
        {
            name: 'city',
            width: 100,
        },
        {
            name: 'postal',
            width: 100,
        },
        {
            name: 'phone',
            width: 100,
        }
    ];

    var apicallRates = function () {
        $http.get('{{ apiCallRates }}', {timeout: canceler.promise})
                .success(function (data) {
                    $scope.selected = [];
                    angular.forEach(data, function (row, index) {
                        row.index = index + 1;
                    })
                    $scope.rates = data;
                    $scope.ratesGrid.data = data;
                    $scope.apiLoadedRates = true;
                    $scope.isApiLoaded()
                });
    };

    $scope.$on('$destroy', function () {
        canceler.resolve();  // Aborts the $http request if it isn't finished.
    });
    $scope.ratesGrid = {
        enableSorting: true,
        showGridFooter: true,
        showGridHeader: true,
        enableFiltering: true,
        enableRowSelection: true,
        enableSelectAll: true,
        selectionRowHeaderWidth: 35,
        enableColumnResizing: true,
    };
    $scope.ratesGrid.multiSelect = true;
    $scope.ratesGrid.columnDefs = [

        {
            name: 'rate_code',
            width: 100,
        },
        {
            name: 'rate_description',
            width: 200,
        },
        {
            name: 'rate_amt',
            width: 100,
        }
    ];
    var apicallVechtypes = function () {
        $http.get('{{ apiCallVehtypes }}', {timeout: canceler.promise})
                .success(function (data) {
                    $scope.selected = [];
                    angular.forEach(data, function (row, index) {
                        row.index = index + 1;
                    })
                    $scope.vehtypes = data;
                    //console.log("vehtypes");
                    $scope.apiLoadedVehtypes = true;
                    $scope.isApiLoaded()
                });
    };
    var apicallDispatchcard = function () {
        $http.get('{{ apiCallDispatchcard }}', {timeout: canceler.promise})
                .success(function (data) {
                    $scope.selected = [];

                    $scope.dispatchcardList = data;
                    //console.log("apicallDispatchcard");
                });
    };
    apicallDispatchcard();
    apicallCustomer();
    apicallDrivers();
    apicallVechtypes();
    apicallRates();


}
]);
