{% set apicall=app.request.getSchemeAndHttpHost()~"/api/probill/billing_period/2" %}

var app = angular.module('probillApp', [ 'ngTouch', 'ngAnimate', 'ui.grid', 'ui.grid.moveColumns', 'ui.grid.resizeColumns', 'ui.grid.selection', 'ui.grid.expandable', 'ui.bootstrap', 'ui.grid.pinning']);


app.config(function ($interpolateProvider) {
    $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
});

app.controller('probillCtrl', ['$scope', '$http', '$log', '$timeout', 'uiGridConstants', '$q',  function ($scope, $http, $log, $timeout, uiGridConstants, $q) {
    //$scope.selected = [];
    $scope.gridOptions = {
        enableSorting: true,
        showGridFooter: true,
        showGridHeader: true,
        enableFiltering: true,
        enableRowSelection: true,
        enableSelectAll: true,
        selectionRowHeaderWidth: 35,
        enableColumnResizing: true,
    };
    $scope.gridOptions.multiSelect = true;
    $scope.gridOptions.columnDefs = [
        {#{#}
        {#name: 'id',#}
        {#width: 80,#}
        {#pinnedLeft: true,#}
        {#cellClass: getCellClass#}
        {#//cellTemplate: '<a href="{{ app.request.getSchemeAndHttpHost() }}/admin/probill/{[{row.entity.id}]}/edit"  data-toggle="tooltip" title="Edit">{[{row.entity.waybill}]}</a>'#}

        {#},#}
        {
            name: 'p_date',
            {#type: 'date',#}
            {#cellFilter: 'date:\'yyyy-MM-dd\'',#}
            width: 90,
            displayName: "Date",
            enableCellEdit: true,
            pinnedLeft: true,
            cellClass: getCellClass
        },
        {
            name: 'waybill',
            width: 80,
            pinnedLeft: true,
            enableCellEdit: false,
            cellClass: getCellClass
            //cellTemplate: '<a href="{{ app.request.getSchemeAndHttpHost() }}/admin/probill/{[{row.entity.id}]}/edit"  data-toggle="tooltip" title="Edit">{[{row.entity.waybill}]}</a>'

        },
        {
            name: 'rate_amt',
            width: 80,
            pinnedLeft: true,
            enableCellEdit: false,
            cellClass: getCellClass
        },
        {
            name: 'driver_name',
            width: 150,
            pinnedLeft: true,
            displayName: "Driver",
            enableCellEdit: false,
            cellClass: getCellClass
        },
        {
            name: 'customer_name',
            width: 200,
            pinnedLeft: true,
            displayName: "Customer",
            enableSorting: true,
            enableCellEdit: false,
            cellClass: getCellClass
        },
        {
            name: 'ratelevel',
            displayName: "Rate Level",
            width: 100,
            pinnedLeft: true,
            enableCellEdit: false,
            cellClass: getCellClass
        },
        {
            name: 'ref',
            displayName: "Ref",
            width: 60,
            pinnedLeft: true,
            enableCellEdit: true,
            {#enableCellEditOnFocus: true,#}
            cellClass: getCellClass
        },
        {
            name: 'dept',
            displayName: "Dept",
            width: 60,
            pinnedLeft: true,
            enableCellEdit: true,
            {#enableCellEditOnFocus: true,#}
            cellClass: getCellClass
        },
        {
            name: 'shipper',
            displayName: "Shipper",
            width: 150,
            pinnedLeft: true,
            cellClass: getCellClass
        },
        {
            name: 'receiver',
            displayName: "Receiver",
            width: 150,
            pinnedLeft: true,
            cellClass: getCellClass
        },
        {
            name: 'serv_type',
            displayName: "Service Type",
            width: 50,
            pinnedLeft: true,
            cellClass: getCellClass
        },
        {
            name: 'vehtype_name',
            width: 120,
            pinnedLeft: true,
            cellClass: getCellClass,
            enableCellEditOnFocus: false,
            editableCellTemplate: 'ui-grid/dropdownEditor',
            editDropdownValueLabel: 'display_name',
            editDropdownIdLabel: "id",
            {#editDropdownOptionsArray: $scope.vehtypes#}
            editDropdownOptionsFunction: function (rowEntity, colDef) {
                return $scope.vehtypes;
            }

        },
        {
            name: 'drv_total',
            width: 80,

            cellClass: getCellClass
        },

        {
            name: 'custsurchargeamt',
            displayName: "Cust surcharge AMT",
            width: 100,
            cellClass: getCellClass
        },
        {
            name: 'users_initials',
            displayName: "Creator Name",
            width: 200,
            cellClass: getCellClass
        },
        {
            name: 'pickup_time',
            displayName: "P time",
            width: 60,
            cellClass: getCellClass
        },
        {
            name: 'd_time',
            displayName: "D time",
            width: 60,
            cellClass: getCellClass
        },
        {
            name: 'total_time',
            displayName: "T time",
            width: 60,
            cellClass: getCellClass
        },
        {
            name: 'pce',
            displayName: "PCE",
            width: 60,
            cellClass: getCellClass
        },
        {
            name: 'wgt',
            displayName: "WGT",
            width: 60,
            cellClass: getCellClass
        },
        {
            name: 'rate_code',
            width: 200,
            cellClass: getCellClass
        },
        {
            name: 'paygst',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'extra_piece',
            width: 100,
            cellClass: getCellClass
        },
        {
            name: 'extra_pce_rate',
            width: 100,
            cellClass: getCellClass
        },
        {
            name: 'extra_amt',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'misc_amt',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'miscdesc',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'gst_amt',
            width: 80,
            cellClass: getCellClass
        }
        ,
        {
            name: 'grandtotal',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'paid',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'balance',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'drv_rate',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'gross',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'comments',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'signature',
            width: 150,
            cellClass: getCellClass
        },
        {
            name: 'invoice',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'waitime',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'waitchg',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'trailer_id',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'batch',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'rush_amt',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'called',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'delivered',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'deliverytime',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'status',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'drvsurrate',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'total',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'taxcode',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'drvgross',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'trailerchg',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'miles',
            width: 80,
            cellClass: getCellClass
        },
        {
            name: 'pickup_shipper',
            width: 120,
            cellClass: getCellClass
        },
        {
            name: 'pickup_addr1',
            width: 120,
            cellClass: getCellClass
        },
        {
            name: 'pickup_city',
            width: 120,
            cellClass: getCellClass
        },
        {
            name: 'pickup_prov',
            width: 120,
            cellClass: getCellClass
        },
        {
            name: 'pickup_postal',
            width: 120,
            cellClass: getCellClass
        },
        {
            name: 'pickup_phone',
            width: 120,
            cellClass: getCellClass
        },
        {
            name: 'pickup_contact',
            width: 120,
            cellClass: getCellClass
        },
        {
            name: 'pickup_details',
            width: 120,
            cellClass: getCellClass
        },
        {
            name: 'pickup_ref',
            width: 120,
            cellClass: getCellClass
        },
        {
            name: 'shipto_receiver',
            width: 120,
            cellClass: getCellClass
        },
        {
            name: 'shipto_addr1',
            width: 120,
            cellClass: getCellClass
        },
        {
            name: 'shipto_addr2',
            width: 120,
            cellClass: getCellClass
        },
        {
            name: 'shipto_city',
            width: 120,
            cellClass: getCellClass
        },
        {
            name: 'shipto_prov',
            width: 120,
            cellClass: getCellClass
        },
        {
            name: 'shipto_postal',
            width: 120,
            cellClass: getCellClass
        },

        {
            name: 'details',

            width: 120
        },

        {
            name: 'subtotal',
            width: 80
        },
        {
            name: 'billtype',
            width: 80
        },
        {
            name: 'fuelsurchargedifferential',
            width: 80
        },
        {
            name: 'diffsurchargeamt',
            width: 80
        }

    ];

    function getCellClass(grid, row) {
        return row.uid === selectedRow ? 'highlight' : '';
    };

    $scope.animationsEnabled = true;

    var canceler = $q.defer();
    var apicall = function () {
        console.log("APICALL")
        $http.get('{{ apicall }}', {timeout: canceler.promise})
                .success(function (data) {
                    $scope.selected = [];
                    angular.forEach(data, function (row, index) {
                        row.index = index + 1;
                    })
                    $scope.gridOptions.data = data;
                    console.log(data)
                });
    };

    $scope.gridOptions.onRegisterApi = function (gridApi) {
        //set gridApi on scope
        $scope.gridApi = gridApi;
        gridApi.selection.on.rowSelectionChanged($scope, function (row) {
            var msg = 'row selected ' + row.isSelected;

            $scope.selected[row.entity.index] = row.entity.id;
            console.log($scope.selected);
        });

        gridApi.selection.on.rowSelectionChangedBatch($scope, function (rows) {
            var msg = 'rows changed ' + rows.length;
            angular.forEach(rows, function (value, key) {
                $scope.selected[value.entity.index] = value.entity.id;
            });
            console.log($scope.selected);
        });
    };


    $scope.toggleActivation = function (entity) {
        if(entity.active){
            $scope.deactivate(entity.id,entity.index)
        }else{
            $scope.activate(entity.id,entity.index)
        }
        apicall();
    }
    $scope.deactivate = function (id,index) {
        console.log($scope.selected);
        ids = JSON.stringify($scope.selected);
        if(id>0) {
            ids=id;
        }
        $http.post('{{ path("rates_deactivate") }}', {'data': ids})
                .success(function (data) {
                    angular.forEach($scope.selected, function (value, key) {
                        $log.log(key + ': ' + value);
                        $scope.gridOptions.data[key - 1].is_active = "Inactive";
                    });
                    if(index>0) {
                        $scope.gridOptions.data[index - 1].is_active = "Inactive";
                    }
                    $scope.selected = []
                    $scope.gridApi.selection.clearSelectedRows();
                });
    }

    $scope.activate = function (id,index) {
        console.log($scope.selected);
        ids = JSON.stringify($scope.selected);
        if(id>0) {
            ids=id;
        }
        $http.post('{{ path("rates_activate") }}',  {'data': ids})
                .success(function (data) {
                    angular.forEach($scope.selected, function (value, key) {
                        $log.log(key + ': ' + value);
                        $scope.gridOptions.data[key - 1].is_active = "Active";
                    });
                    if(index>0) {
                        $scope.gridOptions.data[index - 1].is_active = "Active";
                    }
                    $scope.selected = []
                    $scope.gridApi.selection.clearSelectedRows();
                });
    }

    $scope.$on('$destroy', function () {
        canceler.resolve();  // Aborts the $http request if it isn't finished.
    });
    apicall();
}]);
