{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}

{% block content %}
    <h1>Probill</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ probill.id }}</td>
            </tr>
            <tr>
                <th>Waybill</th>
                <td>{{ probill.waybill }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a class="btn btn-primary" href="{{ path('billing_period_batch_index',{id:probill.batchPB.billingPeriod.id}) }}">Back to the list</a>
        </li>
        <li>
            <a class="btn btn-warning" href="{{ path('probill_edit', { 'id': probill.id }) }}">Edit</a>
        </li>
    </ul>
{% endblock %}
