<table width="100%" border="1">
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2">Chq. Date: {{ cheque.chequeDate|date("Y-m-d") }}</td>
        <td colspan="2">Period</td>
        <td></td>
    </tr>
    <tr>
        <td colspan="3">{{ cheque.reason }}</td>
        <td>yyyy/mm/dd</td>
        <td colspan="2">{{ cheque.billingPeriod.started|date("Y-m-d") }} - {{ cheque.billingPeriod.closed|date("Y-m-d") }}</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th colspan="3">Cheque</th>
        <th></th>
        <th><b>Misc</b></th>
        <th colspan="2">Deductions (includes GST)</th>
        <th>Total</th>
    </tr>
    <tr>
        <td colspan="2">Gross amount before  deduction</td>
        <td>{{ cheque.lumpSumPayAmt }}</td>
        <td>Misc 1</td>
        <td colspan="1">{{ cheque.misc1Description }}</td>
        <td>{{ cheque.misc1 }}</td>
    </tr>
    <tr>
        <th colspan="2">Deduction</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>WCB</td>
        <td>{{ cheque.wcb }}</td>
        <td>Misc 2</td>
        <td colspan="1">{{ cheque.misc2Description }}</td>
        <td>{{ cheque.misc2 }}</td>
    </tr>
    <tr>
        <td colspan="1">Contract (Includes GST)</td>
        <td>{{ cheque.contract }}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Social Fund</td>
        <td>{{ cheque.socialFund }}</td>
        <td>Misc 3</td>
        <td colspan="1">{{ cheque.misc3Description }}</td>
        <td>{{ cheque.misc3 }}</td>
    </tr>
    <tr>
        <td colspan="1">Fuel (Includes GST)</td>
        <td>{{ cheque.contract }}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="1">Fuel Card Fee</td>
        <td>{{ cheque.fuelCardFee }}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th colspan="1">Advance</th>
        <td>{{ cheque.fuelCardFee }}</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="1">Fuel Card Fee (includes GST)</td>
        <td>{{ cheque.advanceFee }}</td>
        <td></td>
        <td></td>
        <td>Total Deduction</td>
        <td>{{ cheque.deducTotal }}</td>
    </tr>
    <tr>
        <td colspan="1"></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Net Amount</td>
        <td>{{ cheque.netAmount }}</td>
    </tr>
</table>