<table width="100%" border="1">
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{ cheque.chequeDate|date("Y-m-d") }}</td>
    </tr> <tr>
        <td></td>
        <td colspan="2">{{ cheque.amountInWord }}</td>
        <td></td>
        <td>{{ cheque.netAmount }}</td>
    </tr> <tr>
        <td></td>
        <td colspan="2">
            {{ cheque.reason }}
            {{ cheque.printStatus }}
            {{ cheque.cityProvPostal }}
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>