<div class="correction_form">

    <div>{[{ probill.id }]} : {[{ probill.users_initials }]}</div>
    {{ form_start(form) }}
    <div class="row">
        {#{{ form_widget(form.id,{'attr':{'ng-value':'probill.id'}}) }}#}
        <div class="col-md-3">
            Date
        </div>
        <div class="col-md-9">
            <div class="col-md-4 date-element">
                {{ form_widget(form.pDate.month,{'id':'probills_pDate_month','attr':{'select-on-click':'','ng-blur':'monthFocusout($event)','ng-keydown':'monthKeydown($event)','autofocus':'autofocus','ng-model':'probill.pdate_month','class':'date-element','tabindex':1}}) }}
            </div>
            <div class="col-md-4 date-element">
                {{ form_widget(form.pDate.day,{'id':'probills_pDate_day','attr':{'ng-blur':'dayFocusout($event)','ng-keydown':'dayKeydown($event)','class':'date-element','ng-model':'probill.pdate_day','class':'date-element','tabindex':2}}) }}
            </div>
            <div class="col-md-4 date-element">
                {{ form_widget(form.pDate.year,{'id':'probills_pDate_year','attr':{'ng-blur':'yearFocusout($event)','ng-keydown':'yearKeydown($event)','class':'date-element','ng-model':'probill.pdate_year','class':'date-element','tabindex':3}}) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">Drv #</div>
        <div class="col-md-3">
            {{ form_widget(form.drivers,{'id':'probills_drivers','attr':{'id':'probills_drivers','tabindex':4,'ng-keydown':'driverKeydown($event)','ng-focus':'driverFocus()'}}) }}
        </div>
        <div class="col-md-3">Drv Rate (Manual)</div>
        <div class="col-md-3">
            {{ form_widget(form.drvRate,{'attr':{'tabindex':5,"ng-blur":"betweenZeroOne()",'class':'driver-rate'}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Cust. Code
        </div>
        <div class="col-md-9">

            {{ form_widget(form.customers,{'id':'probills_customers','attr':{'tabindex':6,'ng-keydown':'customerKeydown($event)','ng-focus':'customerFocus()'}}) }}
            <div ng-if="customer_data_entry_notes">
                <i class="fa fa-info-circle " title="{[{ customer_data_entry_notes }]}"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-9 bold" id="probills_customer_name">
            <div class="col-md-8">
                {[{customerName}]}
            </div>
            <div class="col-md-4">
                {[{customerRateLevel}]}
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-2">
            Probill #
        </div>
        <div class="col-md-2 yellow">
            {{ form_widget(form.waybill,{'attr':{'tabindex':7}}) }}
            <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="{[{ probill.waybill}]}"></i>
        </div>

        <div class="col-md-2">
            Sub Item
        </div>
        <div class="col-md-2  yellow">
            {{ form_widget(form.subitem,{'attr':{'tabindex':8}}) }}
            <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="{[{ probill.subitem}]}"></i>
        </div>
        <div class="col-md-2">
            Initials: {[{ probill.users_initials }]}
        </div>
        <div class="col-md-2 yellow">


        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            dept
        </div>
        <div class="col-md-3 yellow">
            {{ form_widget(form.dept,{'attr':{'tabindex':10}}) }}
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-1">
            PO#
        </div>
        <div class="col-md-4 yellow">
            {{ form_widget(form.po,{'attr':{'tabindex':11}}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            Order / Ref #
        </div>
        <div class="col-md-9 yellow">
            {{ form_widget(form.ref,{'attr':{'tabindex':12}}) }}
        </div>
    </div>


    <div class="row">
        <div class="col-md-3">
            Vehicle Code
        </div>
        <div class="col-md-9  yellow">
            {{ form_widget(form.vehtypes,{'id':'probills_vehtypes','attr':{'tabindex':12,'ng-keydown':'vehtypeKeydown($event)','ng-focus':'vehtypeFocus()','ng-blur':'vehtypeFocusOut()'}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Type of Service
        </div>
        <div class="col-md-3">
            {{ form_widget(form.servType,{'attr':{'tabindex':13,'ng-keyup':'servtypeKeyup($event)'}}) }}
        </div>
        <div class="col-md-3">
            {[{ probill.billtype }]}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Shipper
        </div>
        <div class="col-md-9 yellow">
            {{ form_widget(form.shipper,{'attr':{'tabindex':14}} ) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Receiver
        </div>
        <div class="col-md-9 yellow">
            {{ form_widget(form.receiver,{'attr':{'tabindex':15}} ) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            Pieces
        </div>
        <div class="col-md-3">
            {{ form_widget(form.pce,{'attr':{'tabindex':16}}) }}
        </div>
        <div class="col-md-3">
            Wgt
        </div>
        <div class="col-md-3">
            {{ form_widget(form.wgt,{'attr':{'tabindex':17}}) }}

        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            Rate Code
        </div>
        <div class="col-md-9 grey">
            {{ form_widget(form.rates,{'id':'probills_rates','attr':{'tabindex':18,'ng-keydown':'rateKeydown($event)','ng-focus':'rateFocus()','ng-blur':'rateFocusOut()'}}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            Comments
        </div>
        <div class="col-md-9 grey">
            {{ form_widget(form.details,{'attr':{'tabindex':19}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Internal Notes
        </div>
        <div class="col-md-9 grey">
            {{ form_widget(form.comments,{'attr':{'tabindex':20}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Misc Desc
        </div>
        <div class="col-md-9 grey">
            {{ form_widget(form.miscdesc,{'attr':{'tabindex':21}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Dimensions
        </div>
        <div class="col-md-9 grey">
            {{ form_widget(form.dimensions,{'attr':{'tabindex':22}}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            Basic Rate Amount
        </div>
        <div class="col-md-4">

            {{ form_widget(form.rateAmt,{'attr':{'tabindex':-1}}) }}
        </div>

        <div class="col-md-4">

            {{ form_widget(form.rateAmt,{'attr':{'tabindex':23}}) }}
            {#<input id="probills_basicRateAmt" class="form-control blueinput"#}
            {#name="probills[basicRateAmt]"#}
            {#ng-model="probill.basicRateAmt"#}
            {#type="text" tabindex="-1">#}
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            Extra Pce * Rate
        </div>
        <div class="col-md-4">
            {{ form_widget(form.extraPiece,{'attr':{'tabindex':24}} ) }}
        </div>
        <div class="col-md-4">
            {{ form_widget(form.extraPceRate,{'attr':{'tabindex':25}} ) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            Direct / Rush Amount
        </div>
        <div class="col-md-2">
            {{ form_widget(form.rushAmt,{'attr':{'tabindex':26,'readonly':false}} ) }}
        </div>
        <div class="col-md-3">
            <a class="btn btn-primary" id="direct" ng-click="calculateDirect()">Dir</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-primary" id="regular" ng-click="calculateRegular()">Reg</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            Wait, Load or Unload chrg
        </div>
        <div class="col-md-4">
            {{ form_widget(form.waitchrg,{'attr':{'tabindex':27}} ) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            Heat / Trailer chrg
        </div>
        <div class="col-md-4">
            {{ form_widget(form.trailerchg,{'attr':{'tabindex':28}} ) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            Interline / Misc
        </div>
        <div class="col-md-4">
            {{ form_widget(form.miscAmt,{'attr':{'tabindex':29}} ) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            Interline / Misc Chrgs.
        </div>
        <div class="col-md-4">
            {{ form_widget(form.miscAmt,{'attr':{'tabindex':30}} ) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            TOTAL due before tax
        </div>
        <div class="col-md-4">
            {{ form_widget(form.total,{'attr':{'tabindex':31}} ) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            Fuel Surcharge Differential:
        </div>
        <div class="col-md-2">
            {{ form_widget(form.fuelsurchargedifferential,{'attr':{'tabindex':32}} ) }}
        </div>
        <div class="col-md-2">
            {{ form_widget(form.fuelsurchargedifferential,{'attr':{'tabindex':33}} ) }}
        </div>
        <div class="col-md-2">
            {{ form_widget(form.fuelsurchargedifferential,{'attr':{'tabindex':34}} ) }}
        </div>
        <div class="col-md-2">
            {{ form_widget(form.fuelsurchargedifferential,{'attr':{'tabindex':35}} ) }}
        </div>
    </div>


    <div class="row">
        <div class="col-md-3">
            Signature
        </div>
        <div class="col-md-9 yellow">
            {{ form_widget(form.signature,{'attr':{'tabindex':36}} ) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            Pickup
        </div>
        <div class="col-md-4">
            Delivery
        </div>
        <div class="col-md-4">
            Total
        </div>
        <div class="col-md-2">
            Hr
        </div>
        <div class="col-md-2">
            Min
        </div>
        <div class="col-md-2">
            Hr
        </div>
        <div class="col-md-2">
            Min
        </div>
        <div class="col-md-2">
            Hr
        </div>
        <div class="col-md-2">
            Min
        </div>
        <div class="col-md-2">
            {{ form_widget(form.pickupHr,{'attr':{'tabindex':37}} ) }}
        </div>
        <div class="col-md-2">
            {{ form_widget(form.pickupMn,{'attr':{'tabindex':38}} ) }}
        </div>
        <div class="col-md-2">
            {{ form_widget(form.deliveryHr,{'attr':{'tabindex':39}} ) }}
        </div>
        <div class="col-md-2">
            {{ form_widget(form.deliveryMn,{'attr':{'tabindex':40}} ) }}
        </div>
        <div class="col-md-2">
            {{ form_widget(form.ttimeH,{'attr':{'tabindex':41}} ) }}
        </div>
        <div class="col-md-2">
            {{ form_widget(form.ttimeM,{'attr':{'tabindex':42}} ) }}
        </div>
    </div>
    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
</div>