{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}
{#{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}#}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'bundles/numacccadmin/probill_form.css'
    'bundles/numacccadmin/css/loading-bar.min.css'
    'bundles/numacccadmin/css/lightbox.css'
    filter='cssrewrite' output='css/*.css' %}
    <link href="{{ asset(asset_url) }}" type="text/css" rel="stylesheet"/>
    {% endstylesheets %}
    <link href="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.css" type="text/css"
          rel="stylesheet"/>
    <style>
        .grid {
            height: 80vh;
        }

        .ui-grid-viewport {
            overflow-anchor: none;
        }

        .ui-grid-row .ui-grid-cell.pinned {
            background: #fcffd8;
        !important;
        }

        .highlight {
            background-color: #b3c4c7 !important;
        }
        .underline{
            text-decoration: underline;
        }
        input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, textarea:focus {
            border: 3px solid red;
        }
        .form-control:focus, select:focus {
            border: 3px solid red;
        }

        form i.fa {
            position: absolute;
            top: 10px;
            right: 0;
        }

    </style>
{% endblock stylesheets %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'js/angular/angular143.min.js'
    'js/angular/angular-touch143.min.js'
    'js/angular/angular-animate143.min.js'
    'js/angular/ui-bootstrap-tpls-1.2.2.min.js'
    'js/angular/autocomplete-alt.js'
    'js/angular/ui-grid.js'
    'bundles/numacccadmin/js/probill_form.js'
    'bundles/numacccadmin/js/loading-bar.min.js'
    'bundles/numacccadmin/js/lightbox.js'
    %}

    <script src="{{ asset(asset_url) }}"></script>
    {% endjavascripts %}
    <script>
        {% include 'NumaCCCAdminBundle:probill:probillDatagrid.js.twig' %}
    </script>
{% endblock javascripts %}
{% block content %}

    <div ng-app="probillApp" ng-cloak>
        <div ng-controller="probillCtrl">
            <div class="col-lg-12 widget-box">
                {% include "NumaCCCAdminBundle:BindingNavigator:correction.html.twig" %}
                <div class="widget-body probill_form">
                    <div class="widget-main">
                        <div id="flashmsg"></div>
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#order" aria-controls="home" role="tab" data-toggle="tab">Order Entry</a>
                            </li>
                            <li role="presentation">
                                <a href="#table" aria-controls="profile" role="tab" data-toggle="tab">Order Table</a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="order">
                                <div class="row">
                                    <div class="col-md-4">
                                        {% include "NumaCCCAdminBundle:corrections:correctionForm.html.twig" %}
                                    </div>
                                    <div class="col-md-8">
                                        <div class="probill_status">{[{ probill.status}]}</div>
                                        <div class="image_placeholder">
                                            <img src="{[{ scanImage }]}" id="scan-image"/>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane " id="table">
                                <div id="probillGrid" ui-grid="gridOptions" ui-grid-selection ui-grid-pinning
                                     ui-grid-cellNav class="grid"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div style="visibility: hidden">
                <div id="probillGrid" ui-grid="gridOptions" ui-grid-selection ui-grid-pinning ui-grid-cellNav
                     class="grid"></div>
            </div>
        </div>
    </div>
{% endblock %}