{% extends 'base.html.twig' %}

{% block body %}
    <h1>Drops list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Address</th>
                <th>Pieces</th>
                <th>Weight</th>
                <th>Signature</th>
                <th>Date_created</th>
                <th>Date_updated</th>
                <th>Probill_id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for drop in drops %}
            <tr>
                <td><a href="{{ path('drops_show', { 'id': drop.id }) }}">{{ drop.id }}</a></td>
                <td>{{ drop.address }}</td>
                <td>{{ drop.pieces }}</td>
                <td>{{ drop.weight }}</td>
                <td>{{ drop.signature }}</td>
                <td>{% if drop.datecreated %}{{ drop.datecreated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if drop.dateupdated %}{{ drop.dateupdated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ drop.probillid }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('drops_show', { 'id': drop.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('drops_edit', { 'id': drop.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('drops_new') }}">Create a new drop</a>
        </li>
    </ul>
{% endblock %}
