{% extends 'base.html.twig' %}

{% block body %}
    <h1>Drop</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ drop.id }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ drop.address }}</td>
            </tr>
            <tr>
                <th>Pieces</th>
                <td>{{ drop.pieces }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ drop.weight }}</td>
            </tr>
            <tr>
                <th>Signature</th>
                <td>{{ drop.signature }}</td>
            </tr>
            <tr>
                <th>Date_created</th>
                <td>{% if drop.datecreated %}{{ drop.datecreated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Date_updated</th>
                <td>{% if drop.dateupdated %}{{ drop.dateupdated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Probill_id</th>
                <td>{{ drop.probillid }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('drops_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('drops_edit', { 'id': drop.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
