
<table width="100%" class="trailer">
    <tr>
        <th>Way Bill</th>
        <th>Date</th>
        <th>Driver #</th>

        <th>Customer</th>
        <th>Misc Chrg</th>
    </tr>
    {% set sum=0 %}
    {% for probill in probills %}
        {% set sum=sum+probill.miscAmt %}
        <tr>
            <td valign="left">{{ probill.waybill }}</td>
            <td valign="left">{{ probill.pDate|date('Y-m-d') }}</td>
            <td valign="left">
                {% if probill.drivers.id is defined %}
                    {{ probill.drivers.drivernum }}
                {% endif %}
            </td>

            <td valign="left">{{ probill.customers }}</td>
            <td valign="left">{{ "$%.2f"|format(probill.miscAmt) }}</td>
        </tr>
    {% endfor %}
</table>

<table width="100%">
    <tr>
        <td colspan="5">
            Summary for all misc reported:
        </td>
        <td style="font-weight: bold" >
            {{ "$%.2f"|format(sum) }}
        <td>
</table>