<table width="100%"  class="customer_item">
    <tr>
        <td class="column1">Driver {{ customer.customer.drivernum }}</td>
        <td>Pieces:</td>
        <td>WGT:</td>
        <td>Cust Surcharge:</td>
        <td>Df Surcharge:</td>
        <td>Cust Total:</td>
        <td>Drv Amount:</td>
    </tr>

    <tr>
        <td>Totals</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>Pieces & Weight</td>
        <td><b>{{ customer.pce }}</b></td>
        <td><b>{{ customer.wgt  }}</b></td>
        <td><b>{{ "$%.2f"|format(customer.custsurchargeamt) }}</b></td>
        <td><b>{{ "$%.2f"|format(customer.driversurcharge) }}</b></td>
        <td><b>{{ "$%.2f"|format(customer.subtotal) }}</b></td>
        <td><b>{{ "$%.2f"|format(customer.drvTotal) }}</b></td>
    </tr>
</table>