<html>
<head>
    <style>
        {% include "NumaCCCAdminBundle:report:trailer/styles.css.twig" %}

    </style>
</head>
<body>

{% include "NumaCCCAdminBundle:report:misc/content.html.twig" %}

</body>
</html>