<table width="100%">
    <tr>
        <td>OFFICE USE ONLY</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>REPORT CUSTOMER SUMMARY</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>END OF REPORT - TOTAL OF ALL<br>CUSTOMERS</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Probills (Count)</td>
        <td>Pieces</td>
        <td>Weight</td>
        <td>Amount</td>
        <td>Fuel Surcharge</td>
        <td>Sub Total</td>
        <td>GST</td>
        <td>Total Due</td>
    </tr>
    <tr class="bold">
        <td>{{ total.count_probills }}</td>
        <td>{{ total.pce }}</td>
        <td>{{ total.wgt }}</td>
        <td>{{ "$%.2f"|format( total.total) }}</td>
        <td>{{ "$%.2f"|format( total.custsurchargeamt) }}</td>
        <td>{{ "$%.2f"|format( total.subtotal) }}</td>
        <td>{{ "$%.2f"|format( total.custsurchargeamt) }}</td>
        <td>{{ "$%.2f"|format( total.grandtotal) }}</td>
    </tr>
</table>