<table width="100%" class="cheque">
    <tr></tr>
    <tr>
        <th>Batch?</th>
        <th>Period Start</th>
        <th>Period End</th>
        <th>Chq Date</th>
        <th>Earnings</th>
        <th>Contract Fee (incl. GST)</th>
        <th>WCB</th>
        <th>Fuel</th>
        <th>Fuel Card Fee (incl. GST)</th>
        <th>Advance</th>
        <th>Misc 1</th>
        <th>Misc 1 Desc</th>
        <th>Misc 2</th>
        <th>Misc 2 Desc</th>
        <th>Misc 3</th>
        <th>Misc 3 Desc</th>
        <th>Misc 4</th>
        <th>Misc 4 Desc</th>
        <th>Net</th>
    </tr>

    {#{% for cheque in cheques %}#}
        {#<tr>#}
            {#<td></td>#}

            {#<td>{% if cheque.driver is defined and cheque.driver is not empty %}{{ cheque.driver.Drivernum }}{% endif %}</td>#}
            {#<td>{% if cheque.driver is defined and cheque.driver is not empty %}{{ cheque.driver.Drivernam }}, {{ cheque.driver.address }}{% endif %}</td>#}
            {#<td></td>#}
            {#<td></td>#}
            {#<td></td>#}
            {#<td></td>#}
            {#<td></td>#}
            {#<td></td>#}
        {#</tr>#}
    {#{% endfor %}#}

</table>

