{% extends 'base.html.twig' %}

{% block body %}
    <h1>Preprints list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Dept</th>
                <th>Pickup</th>
                <th>Delivery</th>
                <th>Po</th>
                <th>Date_created</th>
                <th>Date_updated</th>
                <th>Active</th>
                <th>Ccustomer_id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for preprint in preprints %}
            <tr>
                <td><a href="{{ path('preprint_show', { 'id': preprint.id }) }}">{{ preprint.id }}</a></td>
                <td>{{ preprint.dept }}</td>
                <td>{{ preprint.pickup }}</td>
                <td>{{ preprint.delivery }}</td>
                <td>{{ preprint.po }}</td>
                <td>{% if preprint.datecreated %}{{ preprint.datecreated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if preprint.dateupdated %}{{ preprint.dateupdated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if preprint.active %}Yes{% else %}No{% endif %}</td>
                <td>{{ preprint.ccustomerid }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('preprint_show', { 'id': preprint.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('preprint_edit', { 'id': preprint.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('preprint_new') }}">Create a new preprint</a>
        </li>
    </ul>
{% endblock %}
