{% extends 'base.html.twig' %}

{% block body %}
    <h1>Preprint</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ preprint.id }}</td>
            </tr>
            <tr>
                <th>Dept</th>
                <td>{{ preprint.dept }}</td>
            </tr>
            <tr>
                <th>Pickup</th>
                <td>{{ preprint.pickup }}</td>
            </tr>
            <tr>
                <th>Delivery</th>
                <td>{{ preprint.delivery }}</td>
            </tr>
            <tr>
                <th>Po</th>
                <td>{{ preprint.po }}</td>
            </tr>
            <tr>
                <th>Date_created</th>
                <td>{% if preprint.datecreated %}{{ preprint.datecreated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Date_updated</th>
                <td>{% if preprint.dateupdated %}{{ preprint.dateupdated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{% if preprint.active %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Ccustomer_id</th>
                <td>{{ preprint.ccustomerid }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('preprint_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('preprint_edit', { 'id': preprint.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
