<style>
    .page-header {
        width: 100%;
    }

    .page-header h1 {
        font-size: 14pt;
        text-align: center;
    }
    .header-date {
        text-align: right;
        width: 100%;

    }
</style>

<div id="page-header" class="page-header">
    <div class="header-date">{{ "now"|date("m/d/Y") }}</div>
    <h1>Custom Courier Co. Ltd</h1>
    <h1>{{ title }}</h1>
</div>
