{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block content %}
    <style>
        .loader {
            position: absolute;
            margin: 0 auto;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url({{ asset("bundles/numacccadmin/css/loading.gif") }}) 50% 50% no-repeat;
            top: 150px;
            cursor: wait;
            display: none;
        }
    </style>
    <div class="row">
        <div class="col-lg-12 widget-box">
            <div class="widget-header widget-header-large">
                <h4 class="widget-title">Report: {{ report }}</h4>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <div id="flashmsg"></div>
                    {{ form_start(form) }}
                    {{ form_row(form.billingPeriod) }}
                    {% if form.generate is defined %}
                        {{ form_widget(form.generate) }}
                    {% endif %}
                    {{ form_widget(form.pdf) }}
                    {{ form_widget(form.xls) }}

                    {{ form_end(form) }}
                    {%  if message is not empty or messsage is defined %}
                        {{ message }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="loader"></div>
    <script>
        $(window).load(function () {
            $('div.loader').fadeOut();
        });
        $('form').submit(function (e) {
            //e.preventDefault();
            $('.loader').fadeIn(10);
        });
    </script>
{% endblock %}

