<table class="vehcodes">
    {% for key,vehtype in vehTypes %}
        {% if loop.index%4==1 %}<tr>{% endif %}
        <td>{{ vehtype.vehcode }} - {{ vehtype.vehdesc }}
            - {{ vehtype.vehclass }}
            - {{ vehtype.ctyfsrate }} - {{ vehtype.hwyfsrate }}</td>
        {% if loop.index%4==0 %}</tr>{% endif %}
    {% endfor %}
</table>