<div class="vehcodes">

            {% for key,vehtype in vehTypes %}
                <div style="width:20%;float:left;font-size: 8px;">{{ vehtype.vehcode }} - {{ vehtype.vehdesc }}
                    - {{ vehtype.vehclass }}
                    - {{ vehtype.ctyfsrate }} - {{ vehtype.hwyfsrate }}</div>
            {% endfor %}

</div>