<div class="widget-header widget-header-large">
    <div class="col-md-12 widget-title">
        <h4 class="">

            <a class="" href="" ng-click="first()"><i class="fa fa-fast-backward"></i></a>
            <a class="" href="" ng-click="prev()"><i class="fa fa-backward"></i></a>
            <input class="" name="currentCheque" id="currentCheque" ng-model="current"
                   ng-change="setCurrent()" ng-pattern="/^(\d)+$/"/>
            <span>total: {[{ total }]}</span>
            <a class="" href="#" ng-click="next()"><i class="fa fa-forward"></i></a>
            <a class="" href="#" ng-click="last()"><i class="fa fa-fast-forward"></i></a>
            <a class="btn btn-primary" href="#" ng-click="newcheque({{ pay_period.id }})">Add<i class="fa fa-plus"></i></a>
            <a class="btn btn-success" href="#" ng-click="updateCheque()">Save<i class="fa fa-floppy-o"></i></a>
            <a class="btn btn-danger" href="#" ng-click="deleteCheque()">Delete<i class="fa fa-times"></i></a>
            {#<a class="btn btn-danger" href="#" ng-click="printCheque()">Print current<i class="fa fa-print"></i></a>#}
            {#<a class="btn btn-danger" href="#" ng-click="printCheque()">Print current<i class="fa fa-print"></i></a>#}
        </h4>
    </div>
</div>