<div class="widget-header widget-header-large">
    <div class="col-md-4 widget-title">
        <h4 class="">
            <a class="" href="" ng-click="first()"><i class="fa fa-fast-backward"></i></a>
            <a class="" href="" ng-click="prev()"><i class="fa fa-backward"></i></a>
            <input class="" name="currentProbill" id="currentProbill" ng-model="current"
                   ng-change="setCurrent()" ng-pattern="/^(\d)+$/"/>
            <span>{[{ total }]}</span>
            <a class="" href="#" ng-click="next()"><i class="fa fa-forward"></i></a>
            <a class="" href="#" ng-click="last()"><i class="fa fa-fast-forward"></i></a>
            <a class="" href="#" ng-click="newProbill()"><i class="fa fa-plus"></i></a>
            <a class="" href="#" ng-click="deleteProbill()"><i class="fa fa-times"></i></a>
            <a class="" href="#" ng-click="updateProbill()"><i class="fa fa-floppy-o"></i></a>
        </h4>
    </div>
    <div class="col-md-6">
        <h4 class="">
            <button ng-click="finalize()"><i class="fa fa-check-square-o "></i> Finalize</button>
            <button class="#" href="" ng-click="zoomIn()"><i class="fa fa-search-plus" title="Zoom In"></i></button>
            <button class="#" href="" ng-click="zoomOut()"><i class="fa fa-search-minus" title="Zoom Out"></i></button>
            <button class="#" href="" ng-click="rotate90()"><i class="fa fa-rotate-left" title="rotate-left"></i>
            </button>
            <button class="#" href="" ng-click="rotate270()"><i class="fa fa-rotate-right" title="Rotate Right"></i>
            </button>
            {% if billingPeriod is defined and billingPeriod is not empty %}
            <a class="btn btn-primary" href="{{ path("report_driver_detail_single_report",{'batch':id}) }}" target="_blank">Driver Details Report<i
                        class="fa fa-file-word-o" title="Rotate Right"></i></a>
            {% endif %}
        </h4>
    </div>

    {% if not finalized %}
    <div class="col-md-2">
        <h4 class="">
            <a class="btn btn-inverse btn-sm" href="{{ path("batch_finalize",{'id':id}) }}" id="finalizator"><i
                        class="fa fa-check-square-o "></i> Finalize Whole Batch</a>
        </h4>
    </div>
    {% endif %}
</div>

<script>
    $('#finalizator').click(function () {
        return confirm("Did you print the the Detail Driver Report? Are you sure you want to finalize the batch? The batch will not be editable after finalisation");
    })
</script>