<div class="widget-header widget-header-large">
    <div class="col-md-12 widget-title">
        <h4 class="">
            <a class="" href="" ng-click="first()"><i class="fa fa-fast-backward"></i></a>
            <a class="" href="" ng-click="prev()"><i class="fa fa-backward"></i></a>
            <input class="" name="currentProbill" id="currentProbill" ng-model="current"
                   ng-keydown="pointCurrent($event)" ng-pattern="/^(\d)+$/"/>
            <span>total: {[{ total }]}</span>
            <a class="" href="#" ng-click="next()"><i class="fa fa-forward"></i></a>
            <a class="" href="#" ng-click="last()"><i class="fa fa-fast-forward"></i></a>
            <a class="btn btn-primary" href="#" ng-click="newProbill()">Add<i class="fa fa-plus"></i></a>
            <a class="btn btn-success" href="#" ng-click="updateProbill()">Save<i class="fa fa-floppy-o"></i></a>
            <a class="btn btn-danger" href="#" ng-click="deleteProbill()">Delete<i class="fa fa-times"></i></a>

            {#<span ng-controller="GalleryCtrl">#}
            <a class="btn btn-yellow" href="#" ng-click="openLightboxModal()">Scan<i class="fa fa-file-image-o"></i></a>
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CORRECTION')  or is_granted('ROLE_ALLCORRECTION') %}
                <a class="btn btn-primary" href="{{ path("report_driver_detail_single_report",{'batch':id}) }}"
                   target="_blank">Driver Details Report<i
                            class="fa fa-file-word-o" title="Driver Detail Report"></i></a>
                <a class="btn btn-black" ng-click="rotateScan(90)">
                    <i class="fa fa-rotate-right" title="rotate-left"></i></a>
                <script>
                    $( document ).ready(function() {
                        $('#finalizator').click(function () {
                            return confirm("Did you print the the Detail Driver Report? Are you sure you want to finalize the batch? The batch will not be editable after finalisation");
                        })
                    });

                </script>
            {% endif %}
        </h4>
    </div>
</div>
