<div class="widget-header widget-header-large">
    <div class="col-md-12 widget-title">
        <h4 class="">
            <a class="" href="" ng-click="first()"><i class="fa fa-fast-backward"></i></a>
            <a class="" href="" ng-click="prev()"><i class="fa fa-backward"></i></a>
            <input class="" name="currentProbill" id="currentProbill" ng-model="current"
                   ng-keydown="pointCurrent($event)" ng-pattern="/^(\d)+$/"/>
            <span>total: {[{ total }]}</span>
            <a class="" href="#" ng-click="next()"><i class="fa fa-forward"></i></a>
            <a class="" href="#" ng-click="last()"><i class="fa fa-fast-forward"></i></a>


            {#<span ng-controller="GalleryCtrl">#}
            <a class="btn btn-yellow" href="#" ng-click="openLightboxModal()">Scan<i class="fa fa-file-image-o"></i></a>
                <a class="btn btn-black" ng-click="rotateScan(90)">
                    <i class="fa fa-rotate-right" title="rotate-left"></i></a>

        </h4>
    </div>
</div>
