
<table width="100%" class="trailer">
    <tr>
        <th>Trailer #</th>
        <th>Date</th>
        <th>Driver #</th>
        <th>Way Bill</th>
        <th>Customer</th>
        <th>Trailer Chrg</th>
    </tr>
    {% set sum=0 %}
    {% for probill in probills %}
        {% set sum=sum+probill.trailerCHG %}
        <tr>
            <td>{{ probill.trailerID }}</td>
            <td>{{ probill.pDate|date('Y-m-d') }}</td>

            <td>
                {% if probill.drivers.id is defined %}
                    {{ probill.drivers.id }}
                {% endif %}
            </td>
            <td>{{ probill.waybill }}</td>
            <td>{{ probill.customers }}</td>
            <td>{{ "$%.2f"|format(probill.trailerCHG) }}</td>
        </tr>
    {% endfor %}
</table>

<table width="100%">
    <tr>
        <td colspan="5">
            Summary for all trailers reported:
        </td>
        <td>
            {{ "$%.2f"|format(sum) }}
        </td>
    </tr>
</table>
