{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}
{% block content %}
    <div class="row delays">
        <div class="col-lg-12 widget-box">
            <div class="widget-header widget-header-large">
                <h4 class="widget-title">Dispatch list</h4>
            </div>
            <div class="widget-body">
                <div class="widget-main">

                    <table class="table table-bordered table-hover">

                        <tr class="header">
                            <th class="header-item">Vehicle Types</th>
                            <th class="header-item">Service Expectation</th>
                            <th class="header-item">Estimated Pickup Time</th>
                        </tr>
                        {% for dispatch in dispatches %}
                        <tr>
                            <td>{{ dispatch.vehicleType.vehdesc }}</td>
                            <td>{{ dispatch.serviceExpectation }}</td>
                            <td>{{ dispatch.estimatePickup }}</td>
                        </tr>
                        {% endfor %}

                    </table>

                </div>
            </div>
        </div>
    </div>

    <script>
        $(".service_expectation").change(function () {
            form = $(this).closest("form");
            updateForm(form)
        });
        $(".estimate_pickup").change(function () {

            form = $(this).closest("form");
            console.log($(this));
            console.log(form);
            updateForm(form)
        });
        function updateForm(form) {
            console.log("AJAX");
            console.log(form);
            console.log(form.attr('method'));
            console.log(form.attr('action'));
            console.log(form.serialize());
            $.ajax({
                        type: form.attr('method'),
                        url: form.attr('action'),
                        data: form.serialize()
                    })
                    .done(function (data) {
                        if (typeof data.message !== 'undefined') {
                            alert(data.message);
                        }
                        console.log("CLICKdoene")
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        if (typeof jqXHR.responseJSON !== 'undefined') {
                            if (jqXHR.responseJSON.hasOwnProperty('form')) {
                                $('#form_body').html(jqXHR.responseJSON.form);
                            }

                            $('.form_error').html(jqXHR.responseJSON.message);

                        } else {
                            alert(errorThrown);
                        }

                    });

        }

    </script>
{% endblock %}
