{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}
{% block content %}
    <div class="row delays">
        <div class="col-lg-12 widget-box">
            <div class="widget-header widget-header-large">
                <h4 class="widget-title">Dispatch list</h4>
            </div>
            <div class="widget-body">
                <div class="widget-main">

                    <div class="table table-bordered table-hover">

                        <div class="header">
                            <div class="header-item">Vehicle Types</div>
                            <div class="header-item">Service Expectation</div>
                            <div class="header-item">Estimated Pickup Time</div>
                        </div>

                        {% for form in forms %}
                        {#C<div class="form-row">#}
                            {{ form_start(form) }}

                                <div class="form-widget">{{ form_widget(form.VehicleType) }}{{ form.vars.value.VehicleType.VehDesc }}</div>
                                <div class="form-widget">{{ form_widget(form.service_expectation) }}</div>
                                <div class="form-widget">{{ form_widget(form.estimate_pickup) }}</div>

                            {{ form_end(form) }}
                        {#</div>#}
                        {% endfor %}

                    </div>

                </div>
            </div>
        </div>
    </div>

    <script>
        $(".service_expectation").change(function () {
            form = $(this).closest("form");
            updateForm(form)
        });
        $(".estimate_pickup").change(function () {

            form = $(this).closest("form");
            console.log($(this));
            console.log(form);
            updateForm(form)
        });
        function updateForm(form) {
            console.log("AJAX");
            console.log(form);
            console.log(form.attr('method'));
            console.log(form.attr('action'));
            console.log(form.serialize());
            $.ajax({
                        type: form.attr('method'),
                        url: form.attr('action'),
                        data: form.serialize()
                    })
                    .done(function (data) {
                        if (typeof data.message !== 'undefined') {
                            alert(data.message);
                        }
                        console.log("CLICKdoene")
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        if (typeof jqXHR.responseJSON !== 'undefined') {
                            if (jqXHR.responseJSON.hasOwnProperty('form')) {
                                $('#form_body').html(jqXHR.responseJSON.form);
                            }

                            $('.form_error').html(jqXHR.responseJSON.message);

                        } else {
                            alert(errorThrown);
                        }

                    });

        }

    </script>
{% endblock %}
