{% set apicall=app.request.getSchemeAndHttpHost()~"/api/dispatchcard/all" %}

var app = angular.module('probillApp', [ 'ngTouch', 'ngAnimate', 'ui.grid', 'ui.grid.moveColumns', 'ui.grid.resizeColumns', 'ui.grid.selection', 'ui.grid.expandable', 'ui.bootstrap', 'ui.grid.pinning']);


app.config(function ($interpolateProvider) {
    $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
});

app.controller('probillCtrl', ['$scope', '$http', '$log', '$timeout', 'uiGridConstants', '$q',  function ($scope, $http, $log, $timeout, uiGridConstants, $q) {
    //$scope.selected = [];
    $scope.gridOptions = {
        enableSorting: true,
        showGridFooter: true,
        showGridHeader: true,
        enableFiltering: true,
        enableRowSelection: true,
        enableSelectAll: true,
        selectionRowHeaderWidth: 35,
        enableColumnResizing: true,
    };
    $scope.gridOptions.multiSelect = true;
    $scope.gridOptions.columnDefs = [
        {
            name: 'id',
            enableColumnResizing: true,
            width: 100,
            //cellTemplate: '<a href="{{ app.request.getSchemeAndHttpHost() }}/admin/rates/{[{row.entity.id}]}/edit"  data-toggle="tooltip" title="Edit">{[{row.entity.rate_code}]}</a>'
        },
        {
            name: 'customer_name',
            enableColumnResizing: true,
            width: 150,
            //cellTemplate: '<a href="{{ app.request.getSchemeAndHttpHost() }}/admin/rates/{[{row.entity.id}]}/edit"  data-toggle="tooltip" title="Edit">{[{row.entity.rate_code}]}</a>'
        },
        {
            name: 'dateorder',
            enableColumnResizing: true,
            displayName: 'Date Ordered',
            cellFilter: 'date:\'yyyy-MM-dd\'',
            width: 100,
        },
        {
            name: 'origin',
            enableColumnResizing: true,
            width: 150,
        },
        {
            name: 'destination',
            enableColumnResizing: true,
            width: 150,
        },
        {
            name: 'Actions',
            width: 100,
            enableColumnMenu: false,
            enableSorting: false,
            enableFiltering: false,
            //cellTemplate: '<a href="{{ app.request.getSchemeAndHttpHost() }}/admin/rates/{[{row.entity.id}]}/edit" class="btn btn-mini btn-warning"  data-toggle="tooltip" title="Edit">Edit</a><a  href="#"  ng-click="grid.appScope.toggleActivation(row.entity)"  class="btn btn-mini btn-danger"  data-toggle="tooltip">Toggle activation</a>'
            cellTemplate: '<a target="_blank" href="{{ app.request.getSchemeAndHttpHost() }}/admin/billing/dispatch/report_bol_pdf/{[{row.entity.id}]}" class="btn btn-mini btn-primary">Report (pdf)</a>'
        }
    ];

    $scope.animationsEnabled = true;

    var canceler = $q.defer();
    var apicall = function () {
        console.log("APICALL")
        $http.get('{{ apicall }}', {timeout: canceler.promise})
                .success(function (data) {
                    $scope.selected = [];
                    angular.forEach(data, function (row, index) {
                        row.index = index + 1;
                    })
                    $scope.gridOptions.data = data;
                    console.log(data)
                });
    };

    $scope.gridOptions.onRegisterApi = function (gridApi) {
        //set gridApi on scope
        $scope.gridApi = gridApi;
        gridApi.selection.on.rowSelectionChanged($scope, function (row) {
            var msg = 'row selected ' + row.isSelected;

            $scope.selected[row.entity.index] = row.entity.id;
            console.log($scope.selected);
        });

        gridApi.selection.on.rowSelectionChangedBatch($scope, function (rows) {
            var msg = 'rows changed ' + rows.length;
            angular.forEach(rows, function (value, key) {
                $scope.selected[value.entity.index] = value.entity.id;
            });
            console.log($scope.selected);
        });
    };


    $scope.toggleActivation = function (entity) {
        if(entity.active){
            $scope.deactivate(entity.id,entity.index)
        }else{
            $scope.activate(entity.id,entity.index)
        }
        apicall();
    }
    $scope.deactivate = function (id,index) {
        console.log($scope.selected);
        ids = JSON.stringify($scope.selected);
        if(id>0) {
            ids=id;
        }
        $http.post('{{ path("rates_deactivate") }}', {'data': ids})
                .success(function (data) {
                    angular.forEach($scope.selected, function (value, key) {
                        $log.log(key + ': ' + value);
                        $scope.gridOptions.data[key - 1].is_active = "Inactive";
                    });
                    if(index>0) {
                        $scope.gridOptions.data[index - 1].is_active = "Inactive";
                    }
                    $scope.selected = []
                    $scope.gridApi.selection.clearSelectedRows();
                });
    }

    $scope.activate = function (id,index) {
        console.log($scope.selected);
        ids = JSON.stringify($scope.selected);
        if(id>0) {
            ids=id;
        }
        $http.post('{{ path("rates_activate") }}',  {'data': ids})
                .success(function (data) {
                    angular.forEach($scope.selected, function (value, key) {
                        $log.log(key + ': ' + value);
                        $scope.gridOptions.data[key - 1].is_active = "Active";
                    });
                    if(index>0) {
                        $scope.gridOptions.data[index - 1].is_active = "Active";
                    }
                    $scope.selected = []
                    $scope.gridApi.selection.clearSelectedRows();
                });
    }

    $scope.$on('$destroy', function () {
        canceler.resolve();  // Aborts the $http request if it isn't finished.
    });
    apicall();
}]);
