{% extends 'NumaCCCAdminBundle::aceLayout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.css" type="text/css"
          rel="stylesheet"/>
    {% stylesheets
    'css/angular/autocomplete-alt.css'
    filter='cssrewrite' output='css/*.css' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
    {% endstylesheets %}
    <style>
        .grid {
            height: 80vh;
        }

        .ui-grid-viewport {
            overflow-anchor: none;
        }
        .Active {
            color: green;
        }

        .Inactive {
            color: red;
        }
    </style>
{% endblock stylesheets %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'js/angular/angular143.min.js'
    'js/angular/angular-touch143.min.js'
    'js/angular/angular-animate143.min.js'
    'js/angular/ui-bootstrap-tpls-1.2.2.min.js'
    'js/angular/autocomplete-alt.js'
    'js/angular/ui-grid.js' %}

    <script src="{{ asset(asset_url) }}"></script>
    {% endjavascripts %}
    <script>
        {% include 'NumaCCCAdminBundle:Dispatchcard:dispatchCardDatagrid.js.twig' %}
    </script>
{% endblock javascripts %}
{% block content %}
    <div class="row"  ng-app="probillApp"  ng-controller="probillCtrl">
        <div class="col-lg-12 widget-box">
            <div class="widget-header widget-header-large">
                <h4 class="widget-title">
                    Dispatch Card List
                </h4>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <div id="flashmsg"></div>
                    <div class=dispatch-row>
                        {% if not is_granted('ROLE_CSR') %}
                            <a href="{{ path('dispatchcard_new', {'typed': '1to1'}) }}"
                               class="dispatch-img btn  btn-success">
                                <img alt="one to one" src="{{ asset('images/1to1.png') }}" width="150px;"/>
                            </a>
                        {% endif %}
                        <a href="{{ path('dispatchcard_new', {'typed': 'multiD'}) }}"
                           class="dispatch-img btn btn-success">
                            <img alt="Multi Destination" src="{{ asset('images/multiD.png') }}" width="150px;"/>
                        </a>
                        <a href="{{ path('dispatchcard_new', {'typed': 'multiO'}) }}"
                           class="dispatch-img btn btn-success">
                            <img alt="Multi Origin" src="{{ asset('images/multiO.png') }}" width="150px;"/>
                        </a>
                        <p>&nbsp;</p>
                        <a href="{{ path('dispatchcard_delays') }}"
                           class="btn btn-primary">
                            PLEASE CLICK HERE IF THERE ARE ANY SERVICE DELAYS
                        </a>
                    </div>
                    <div class="box billing-form">
                        <div>
                            <div class="row">
                                <div class="col-lg-12 widget-box">
                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <div id="flashmsg"></div>
                                            <div id="grid1" ui-grid="gridOptions" ui-grid-selection ui-grid-pinning
                                                 class="grid"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
